<div>
  <div *ngIf="irisIsLoading"
       class="loader">
    <div class="inner">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      <span class="text">
        {{ 'messages.loading' | translate }}
      </span>
    </div>
  </div>

  <div *ngIf="item.answerKey"
       class="mb-md">
    <strong>{{ 'assessments.items.tabs.exemplar.answer-key' | translate }}</strong> {{ item.answerKey }}
  </div>
  <div *ngIf="!item.answerKey"
       class="mb-md">
    {{ 'assessments.items.tabs.item-viewer-see-rubric' | translate }}
  </div>
  <p>
    {{ (showResponse ?
    'assessments.items.tabs.item-viewer-response-included' :
    'assessments.items.tabs.item-viewer-response-not-included' ) | translate}}
  </p>
  <iframe title="{{'assessments.items.tabs.item-viewer' | translate }}"
          class="center"
          #irisframe
          src="/iris/"
          width="950"
          height="500"
          frameborder="0">
  </iframe>
</div>
