<div>
  <div *ngIf="item.answerKey"
       class="mb-md">
    <strong>{{ 'item-viewer.answer-key' | translate }}</strong> {{ item.answerKey }}
  </div>
  <div *ngIf="!item.answerKey"
       class="mb-md">
    {{ 'item-viewer.see-rubric' | translate }}
  </div>
  <p>
    {{ (showResponse ?
    'item-viewer.response-included' :
    'item-viewer.response-not-included' ) | translate}}
  </p>

  <spinner *ngIf="irisIsLoading" text="{{'common.messages.loading' | translate}}"></spinner>

  <iframe title="{{'item-viewer.title' | translate }}"
          class="center"
          #irisframe
          src="/iris/"
          width="950"
          height="500"
          tabindex="-1"
          frameborder="0">
  </iframe>
</div>
