<p>{{ 'labels.assessments.items.tabs.student-scores-intro-text' | translate }}</p>
<p-dataTable #datatable [value]="scores" tableStyleClass="table table-striped table-hover" [tableStyle]="{'table-layout':'auto'}" sortField="student.lastName" expandableRows="true" rowExpandMode="single">
  <p-column sortField="student.lastName" header="{{'labels.groups.results.assessment.exams.cols.name' | translate}}" [sortable]="true">
    <ng-template let-row="rowData" let-score="rowData" pTemplate="body">
      <datatable-row-expander [datatable]="datatable" [row]="row" [text]="'labels.personName' | translate:score.student"></datatable-row-expander>
    </ng-template>
  </p-column>
  <p-column field="date" header="{{'labels.groups.results.assessment.exams.cols.date' | translate}}" [sortable]="true">
    <ng-template let-score="rowData" pTemplate="body">
      {{ score.date | date }}
    </ng-template>
  </p-column>
  <p-column field="session" header="{{'labels.groups.results.assessment.exams.cols.session' | translate}}" [sortable]="true"></p-column>
  <p-column class="text-center" field="enrolledGrade" header="{{'labels.groups.results.assessment.exams.cols.grade' | translate}}" [sortable]="true">
    <ng-template let-score="rowData" pTemplate="body">
      {{ score.enrolledGrade | gradeDisplay:'enrolled-name' }}
    </ng-template>
  </p-column>
  <p-column field="school.name" header="{{'labels.groups.results.assessment.exams.cols.school' | translate }}" sortable="true"></p-column>
  <p-column *ngIf="includeResponse" field="response" header="{{'labels.assessments.items.tabs.scores.response' | translate}}" [sortable]="true"></p-column>
  <p-column field="score" header="{{'labels.assessments.items.tabs.scores.score' | translate}}" [sortable]="true"></p-column>
  <p-column field="maxScore" header="{{'labels.assessments.items.tabs.scores.max' | translate}}" [sortable]="true"></p-column>
  <p-column field="correctness" header="{{'labels.assessments.items.tabs.scores.correctness' | translate}}" [sortable]="true">
    <ng-template let-correctness="rowData.correctness" pTemplate="body">
      {{ correctness | number:'1.2-2' }}
    </ng-template>
  </p-column>
  <ng-template let-score pTemplate="rowexpansion">
    <div class="tab-content well">
      <item-viewer [item]="item"
                   [response]="score.response"
                   [position]="item.position"></item-viewer>
    </div>
  </ng-template>
</p-dataTable>
