<!-- Breadcrumb -->
<div [hidden]="breadcrumbs.length <= 1">
  <div class="container">
    <ul class="breadcrumb">
      <li *ngFor="let crumb of breadcrumbs; let last = last;" [ngClass]="{'active': last }">
        <a *ngIf="!last" [routerLink]="crumb.commands">
          {{ crumb.requiresTranslate? (crumb.label | translate:crumb.translateParams) : crumb.label }}
        </a>
        <span *ngIf="last" [routerLink]="crumb.commands">
          {{ crumb.requiresTranslate? (crumb.label | translate:crumb.translateParams) : crumb.label }}
        </span>
      </li>
    </ul>
  </div>
</div>
