<div style="">
  <p class="spacer-v-lg">
    {{ 'select-assessments.instruct' | translate }}
  </p>
  <div class="panel-grid">
    <div *ngFor="let byGrade of assessmentsByGrade" class="panel {{colorService.getColor(getGradeIdx(byGrade.grade))}}">
      <div class="panel-heading">
        <span class="panel-title">{{'common.assessment-grade-label.' + byGrade.grade | translate}}</span>
      </div>
      <div class="panel-body">
        <div class="tag-menu">
          <a *ngFor="let assessment of byGrade.assessments"
             href="javascript:void(0)"
             (click)="toggleSelectedAssessment(assessment)"
             class="tag tag-xs {{colorService.getColor(getGradeIdx(byGrade.grade))}}"
             angulartics2On="click"
             angularticsEvent="AddAssessment"
             angularticsCategory="AssessmentResults"
             [angularticsProperties]="{label: assessment.label}"
             [ngClass]="{'active': assessment.selected}">{{assessment.label}}</a>
        </div>
      </div>
      <div class="panel-footer"></div>
    </div>
  </div>
</div>

