<div *ngIf="loading" class="loader">
  <div class="inner">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  </div>
</div>
<div *ngIf="!loading">
  <div *ngIf="resources && resources.length; else noResources">
    <div *ngFor="let instructionalResource of resources"
         [ngClass]="{'border-bottom mb-xs': instructionalResource.organizationLevel == 'System' && resources.length > 1}"
         class="popover-link">
      <a href="{{instructionalResource.url}}" target="_blank">{{ ('labels.instructional-resources.link.' + instructionalResource.organizationLevel) | translate:instructionalResource }}</a>
    </div>
  </div>
</div>

<ng-template #noResources>
  <div>
    <p>{{ 'labels.groups.results.assessment.no-instruct-found' | translate }}</p>
  </div>
</ng-template>
