<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments::meta"></div>
        <title th:text="${request.name}"></title>
        <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>
        <div th:replace="fragments::styles-libraries"></div>
        <div th:replace="fragments::styles-general"></div>
    </head>
    <body class="pdf">
        <div th:each="studentCompositeReport, studentStat : ${studentCompositeReports}"
             th:class="${studentStat.last}? '' : 'break-page'">
            <div th:each="report, reportStat : ${studentCompositeReport.reports}"
                 th:class="${reportStat.last}? '' : 'break-page'">
                <div th:include="|${report.subject}_${report.assessmentType}| :: body"></div>
            </div>
        </div>
    </body>
</html>