<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="body">
    <div th:replace="fragments::header(prefix='report.iab')"></div>
    <section class="mt-lg mb-lg">
        <div class="container">
            <div th:replace="fragments::student-header"></div>

            <div class="row">
                <div class="col-xs-6"
                     th:with="assessment=${report.examsByAssessment.firstEntry().key},exam=${report.examsByAssessment.firstEntry().value[0]}">
                    <div>
                        <span class="h3 label-group green">
                            <span class="label" th:text="#{report.iab.short-name}"></span><span class="label"
                                                                                                th:text="#{'report.subject.' + ${assessment.subject} + '.name'}"></span>
                        </span>
                    </div>
                    <div class="h4"
                         th:text="#{('report.iab.grade.title.' + ${assessment.gradeCode})(${#strings.toString(exam.schoolYear - 1)}, ${support.getLastTwoDigits(exam.schoolYear)})}"></div>
                </div>
                <div class="col-xs-3 pr-0 text-right">
                    <div class="scale-score-legend"></div>
                </div>
                <div class="col-xs-3 pl-0 pt-xs text-left error-band">
                    <p><strong th:text="#{report.scale-score.error-band}"></strong> <span
                            th:text="#{report.scale-score.description}" th:remove="tag"></span></p>
                </div>
            </div>

            <div class="row sans">
                <div class="col-xs-7 text-center" data-width="60">
                    <span class="gray" th:text="#{report.iab.result-category.current}"></span>
                </div>
                <div class="col-xs-5 text-center" data-width="40">
                    <span class="gray" th:text="#{report.iab.result-category.previous}"></span>
                </div>
            </div>

            <div class="well-group well-group--horizontal sans" th:each="entry : ${report.examsByAssessment}">
                <div class="well assessment-latest-result" data-width="60"
                     th:with="assessment=${entry.key},exam=${entry.value[0]}">
                    <div class="well-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="assessment-label pb-sm">
                                    <span class="tag h3"
                                          th:classappend="#{'report.grade.' + ${assessment.gradeCode} + '.color'}"><span
                                            class="label"
                                            th:text="#{'report.grade.' + ${assessment.gradeCode} + '.label'}"></span> <span
                                            th:text="${assessment.label}" th:remove="tag"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="row relative-container">
                            <div class="col-xs-9">
                                <div th:if="${exam.scaleScore != null}" class="scale-score-graph individual"
                                     th:with="scaleScoreView=${support.getScaleScoreView(exam, assessment)}">
                                    <div class="bar-container">
                                        <span class="scale-score"
                                              th:attr="data-left=${scaleScoreView.position}"><span
                                                class="score label"
                                                th:classappend="#{'report.iab.level.' + ${exam.scaleScore.level} + '.color'}"
                                                th:text="${exam.scaleScore.value}"></span> <span class="error-band">&plusmn;
                                            <span th:text="${support.round(exam.scaleScore.standardError)}"
                                                  th:remove="tag"></span></span></span>
                                        <div class="bar"
                                             th:classappend="#{'report.iab.level.1.color'}"
                                             th:attr="data-width=${scaleScoreView.levels[0].width}">
                                            <span class="bar-label" th:text="#{'report.iab.level.1.label'}"></span>
                                        </div>
                                        <div class="bar"
                                             th:classappend="#{'report.iab.level.2.color'}"
                                             th:attr="data-width=${scaleScoreView.levels[1].width}">
                                            <span class="bar-label" th:text="#{'report.iab.level.2.label'}"></span>
                                        </div>
                                        <div class="bar"
                                             th:classappend="#{'report.iab.level.3.color'}"
                                             th:attr="data-width=${scaleScoreView.levels[2].width}">
                                            <span class="bar-label" th:text="#{'report.iab.level.3.label'}"></span>
                                        </div>
                                    </div>
                                </div>
                                <div th:if="${exam.scaleScore == null}" class="text-center mt-sm ml-xl">
                                    <span class="gray-darker h2" th:text="#{report.not-scored}"></span>
                                </div>
                            </div>
                            <div class="col-xs-3 bottom-right-aligned text-right">
                                <div class="date" th:text="${#instants.formatDate(exam.dateTime)}"></div>
                                <div class="performance-level"
                                     th:if="${exam.scaleScore != null}"
                                     th:text="#{'report.iab.level.' + ${exam.scaleScore.level} + '.label'}"></div>
                            </div>
                        </div>

                        <div th:if="${exam.percentileRank != null && exam.percentileMean != null}"
                             class="mt-xs">
                            <span th:text="#{('report.percentile.rank')(${exam.percentileRank})}"></span>
                            <span th:text="#{('report.percentile.mean')(${exam.percentileMean.toString()})}"></span>
                        </div>
                    </div>
                </div>
                <div class="well gray-lightest assessment-instances" data-width="40">
                    <div class="well-body">
                        <ul class="previous-results">
                            <li th:with="assessment=${entry.key}" th:each="exam : ${entry.value}"><span
                                    th:if="${examStat.index} > 0"><span class="previous-result"><span class="date"
                                                                                                      th:text="${#instants.formatDate(exam.dateTime)}"></span> <span
                                    th:if="${exam.scaleScore != null}" class="scale-score"><span
                                    th:text="${exam.scaleScore.value}" th:remove="tag"></span> <span class="error-band">&plusmn;
                                <span th:text="${support.round(exam.scaleScore.standardError)}"
                                      th:remove="tag"></span></span></span> <span
                                    class="performance-level"
                                    th:text="${exam.scaleScore != null} ? #{'report.iab.level.' + ${exam.scaleScore.level} + '.label'} : #{report.not-scored}"></span></span></span>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Writing trait scores-->
                <div class="col-lg-12" th:if="${entry.value[0].writingTraitScores}"
                     th:with="scored=true,assessment=${entry.key}">
                    <div th:each="exam : ${entry.value}">
                        <div class="row"
                             th:if="${exam.sessionId == entry.value[0].sessionId && exam.writingTraitScores != null}">
                            <h2 class="pb-sm pl-sm" th:if="${scored}"
                                th:text="#{('report.writing.trait.purpose')(${exam.performanceWritingType})}"></h2>

                            <div class="col-md-4 pull-left" data-width="33">
                                <h3 class="text-center" th:text="#{'report.writing.trait.Evidence'}"></h3>
                                <h2 class="label-group gray-light bordered text-center"><span class="label"
                                                                                              th:text="${exam.writingTraitScores.evidence}"></span>
                                </h2>
                                <h4 class="text-center" th:text="#{('report.writing.trait.outof')(4)}"></h4>
                                <br/>
                                <p th:text="#{'report.writing.trait.' + (${exam.performanceWritingType != null} ? ${exam.performanceWritingType} : 'Unknown') + '.Evidence.' + ${exam.writingTraitScores.evidence}}"></p>
                            </div>
                            <div class="col-md-4 pull-left" data-width="33">
                                <h3 class="text-center" th:text="#{'report.writing.trait.Organization'}"></h3>
                                <h2 class="label-group gray-light bordered text-center"><span class="label"
                                                                                              th:text="${exam.writingTraitScores.organization}"></span>
                                </h2>
                                <h4 class="text-center" th:text="#{('report.writing.trait.outof')(4)}"></h4>
                                <br/>
                                <p th:text="#{'report.writing.trait.' + (${exam.performanceWritingType != null} ? ${exam.performanceWritingType} : 'Unknown') + '.Organization.' + ${exam.writingTraitScores.organization}}"></p>
                            </div>
                            <div class="col-md-4 pull-left" data-width="33">
                                <h3 class="text-center" th:text="#{'report.writing.trait.Conventions'}"></h3>
                                <h2 class="label-group gray-light bordered text-center"><span class="label"
                                                                                              th:text="${exam.writingTraitScores.conventions}"></span>
                                </h2>
                                <h4 class="text-center" th:text="#{('report.writing.trait.outof')(2)}"></h4>
                                <br/>
                                <p th:text="#{'report.writing.trait.' + (${exam.performanceWritingType != null} ? ${exam.performanceWritingType} : 'Unknown') + '.Conventions.' + ${exam.writingTraitScores.conventions}}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:replace="fragments::bottom"></div>
        </div>
    </section>
    <div th:replace="fragments::footer"></div>
</div>
</body>
</html>