<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="body">
    <div th:replace="fragments::header(prefix='report.ica')"></div>
    <section class="mt-md mb-md" th:with="scored=${report.exam.scaleScore != null}">
        <div class="container">
            <div th:replace="fragments::student-header"></div>

            <div class="row">
                <div th:if="${scored}"
                     class="col-xs-4">
                    <h2 class="mt-xs"
                        th:text="#{report.ica.section.scale-score.header}"></h2>
                    <div class="well pad-small" th:if="${scored}">
                        <div class="row text-center mb-xs">
                            <div class="col-xs-4 no-margin h2 pt-xs">
                                <span class="label"
                                      th:classappend="#{'report.ica.level.' + ${report.exam.scaleScore.level} + '.color'}"
                                      th:text="${report.exam.scaleScore.value}"></span>
                            </div>
                            <div class="col-xs-8">
                                <span th:classappend="#{'report.ica.level.' + ${report.exam.scaleScore.level} + '.color'}"
                                      th:text="#{('report.ica.level.' + ${report.exam.scaleScore.level} + '.name')(${support.round(report.exam.scaleScore.value - report.exam.scaleScore.standardError)}, ${support.round(report.exam.scaleScore.value + report.exam.scaleScore.standardError)})}"></span>
                            </div>
                        </div>
                        <span th:text="#{('report.overall-achievement.grade.' + ${report.assessment.gradeCode} + '.subject.' + ${report.assessment.subject} + '.level.' + ${report.exam.scaleScore.level})(${report.student.firstName})}"></span>
                    </div>
                </div>
                <div th:if="${!scored}"
                     class="col-xs-4">
                    <h2 th:text="#{report.not-scored}" class="gray-darker mt-lg mb-lg"></h2>
                </div>
                <div class="col-xs-8">
                    <div class="text-right">
                        <span class="h3 label-group red">
                            <span class="label" th:text="#{report.ica.short-name}"></span><span class="label" th:text="#{'report.subject.' + ${report.assessment.subject} + '.name'}"></span>
                        </span>
                        <span class="h4" th:text="#{('report.ica.grade.title.' + ${report.assessment.gradeCode})(${#strings.toString(report.exam.schoolYear - 1)}, ${support.getLastTwoDigits(report.exam.schoolYear)})}"><br/>
                            <small><strong th:text="#{report.ica.date.label}"></strong> <span th:text="${#instants.formatDate(report.exam.dateTime)}" th:remove="tag"></span></small>
                        </span>
                    </div>
                    <div th:if="${scored}">
                        <div class="scale-score-graph ica individual has-cut-points ml-md mt-md"
                             th:with="scaleScoreView=${support.getScaleScoreView(report.exam, report.assessment)}">
                            <div class="bar-container">
                                <span class="scale-score" th:attr="data-left=${scaleScoreView.position}">
                                    <span class="score label"
                                          th:classappend="#{'report.ica.level.' + ${report.exam.scaleScore.level} + '.color'}"
                                          th:text="${report.exam.scaleScore.value}"></span>
                                    <span class="error-band">&plusmn;
                                        <span th:text="${support.round(report.exam.scaleScore.standardError) + '*'}"
                                              th:remove="tag"></span>
                                    </span>
                                </span>
                                <div class="bar maroon" th:attr="data-width=${scaleScoreView.levels[0].width}">
                                    <span class="bar-label" th:text="#{'report.ica.level.1.description'}"></span>
                                </div>
                                <div class="bar gray-darkest" th:attr="data-width=${scaleScoreView.levels[1].width}">
                                    <span class="bar-label" th:text="#{'report.ica.level.2.description'}"></span>
                                </div>
                                <div class="bar green-dark"  th:attr="data-width=${scaleScoreView.levels[2].width}">
                                    <span class="bar-label" th:text="#{'report.ica.level.3.description'}"></span>
                                </div>
                                <div class="bar blue-dark"  th:attr="data-width=${scaleScoreView.levels[3].width}">
                                    <span class="bar-label" th:text="#{'report.ica.level.4.description'}"></span>
                                </div>
                                <div class="cut-points">
                                    <span class="label label-xs gray-darker" data-left="0" th:text="${report.assessment.cutPoints[0]}"></span>
                                    <span class="label label-xs gray-darker" th:attr="data-left=${scaleScoreView.levels[1].position}" th:text="${report.assessment.cutPoints[1]}"></span>
                                    <span class="label label-xs gray-darker" th:attr="data-left=${scaleScoreView.levels[2].position}" th:text="${report.assessment.cutPoints[2]}"></span>
                                    <span class="label label-xs gray-darker" th:attr="data-left=${scaleScoreView.levels[3].position}" th:text="${report.assessment.cutPoints[3]}"></span>
                                    <span class="label label-xs gray-darker" data-left="100" th:text="${report.assessment.cutPoints[4]}"></span>
                                </div>
                            </div>
                        </div>
                        <p class="mt-lg small">
                            <strong>*</strong>
                            <strong th:text="#{report.scale-score.error-band}"></strong><br />
                            <span th:text="#{report.scale-score.description}" th:remove="tag"></span>
                        </p>
                    </div>
                </div>
            </div>

            <hr class="mt-sm mb-xs"/>

            <h2 th:if="${scored}" th:text="#{report.ica.section.claim.header}"></h2>
            <p th:if="${scored}" th:text="#{('report.student-achievement-by-claim.grade.' + ${report.assessment.gradeCode} + '.subject.' + ${report.assessment.subject})(${report.student.firstName})}"></p>

            <div th:if="${scored}" class="row" th:with="columnClass=${report.assessment.claimCodes.size() == 4} ? 'col-xs-3' : 'col-xs-4'">
                <div th:class="${columnClass}" th:each="claimCode : ${report.assessment.claimCodes}">
                    <h4 class="text-center" th:text="#{'report.claim.' + ${claimCode} + '.name'}"></h4>
                    <span class="h4 gray-darkest"><i class="fa fa-5x text-center" th:classappend="#{'report.claim.' + ${claimCode} + '.icon'}"></i></span>
                    <br/>
                    <div th:if="${report.exam.claimScaleScores[claimCodeStat.index] != null}">
                        <div class="text-center gray-lightest pt-sm pb-sm mb-sm">
                            <strong th:text="#{'report.claim.level.' + ${report.exam.claimScaleScores[claimCodeStat.index].level} + '.label'}"></strong>
                        </div>
                        <p th:text="#{('report.claim.' + ${claimCode} + '.grade.' + ${report.assessment.gradeCode} + '.level.' + ${report.exam.claimScaleScores[claimCodeStat.index].level})(${report.student.firstName})}"></p>
                    </div>
                    <div th:if="${report.exam.claimScaleScores[claimCodeStat.index] == null}">
                        <div class="text-center gray-lightest pt-sm pb-sm mb-sm">
                            <strong th:text="#{'report.not-scored'}"></strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row accommodations" th:if="${request.accommodationsVisible && !report.exam.accommodationCodes.isEmpty()}">
                <div class="col-xs-12">
                    <div class="well">
                        <div class="well-body">
                            <p class="gray-darker" th:text="#{report.accommodations.label}"></p>
                            <p th:each="accommodation : ${support.getSortedAccommodationNames(report.exam, request.language)}">
                                <strong th:text="${accommodation}"></strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div th:replace="fragments::bottom"></div>
        </div>
    </section>
    <div th:replace="fragments::footer"></div>
</div>
</body>