<div class="container">
  <a class="btn btn-default" (click)="callIris()">Init Iris Client</a>
  <div class="row">
    <div class="col-md-6">
      <input type="text" [(ngModel)]="token"/>
      <div class="col-md-6">
      </div>

      <a class="btn btn-default" (click)="loadToken()">Load Token</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!--<iframe #irisframe src="http://localhost:4300/iris" width="1000" height="650" frameborder="0"></iframe>-->
      <iframe #irisframe src="https://tds-stage.smarterbalanced.org/iris" width="1000" height="650" frameborder="0"></iframe>
    </div>
  </div>
</div>
