<p-table [columns]="columns"
         [value]="percentiles">
  <ng-template pTemplate="header" let-columns let-rowIndex>
    <tr>
      <th *ngFor="let column of columns"
          [ngClass]="{'level-down': column === columns[4]}">
        {{column.headerTranslationCode ? (column.headerTranslationCode | translate) : column.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-percentile>
    <tr>
      <td>{{'assessment-percentile-table.column.effective-date.value-format' | translate:({
        from: (percentile.startDate | date:'MM/dd'),
        to: (percentile.endDate | date:'MM/dd')}
      )}}</td>
      <td>{{percentile.count}}</td>
      <td>{{percentile.mean}}</td>
      <td>{{percentile.standardDeviation}}</td>
      <td *ngFor="let score of percentile.scores"
          [ngClass]="{'level-down': score === percentile.scores[0]}">{{score.score}}</td>
    </tr>
  </ng-template>
</p-table>
