<div class="panes">
  <div class="pane">
    <div class="pane-heading">
      <h4>Ingest Pipeline</h4>
    </div>
    <div>
      <script-tree
        [scripts]="scripts"
        [selectedScript]="selectedScript"
        (scriptSelected)="scriptSelected.emit($event)"
      ></script-tree>
    </div>
  </div>
  <div class="pane">
    <script-form
      *ngIf="selectedScript"
      [readonly]="true"
      [script]="selectedScript"
      (scriptUpdated)="scriptUpdated.emit($event)"
    ></script-form>
  </div>
</div>
