<table>
  <thead>
    <tr>
      <th></th>
      <th *ngFor="let statistic of table.scoreStatistics">
        <div class="heading">
          <score-label
            [subjectCode]="table.subjectCode"
            [scoreCode]="statistic.code"
            [scoreType]="table.scoreType"
          ></score-label>
        </div>
      </th>
    </tr>
    <tr>
      <th>
        <div class="row-heading">
          <div>
            {{ 'score-table.average-scale-score' | translate }}
          </div>
          <div
            innerHtml="{{
              'score-table.result-count'
                | translate: { resultCount: table.resultCount }
            }}"
          ></div>
        </div>
      </th>
      <th *ngFor="let statistic of table.scoreStatistics">
        <div class="average-scale-score-container">
          <scale-score
            [score]="statistic.averageScaleScore"
            [standardError]="statistic.standardErrorOfMean"
            [infoEnabled]="true"
          ></scale-score>
        </div>
      </th>
    </tr>
  </thead>
  <tbody
    *ngIf="
      table.scoreStatistics[0].performanceLevelScores
        .slice()
        .reverse() as scores
    "
  >
    <tr
      *ngFor="
        let performanceLevelScore of scores;
        let performanceLevelIndex = index
      "
    >
      <td>
        <div class="row-heading level-heading">
          <ng-container
            [ngTemplateOutlet]="
              levelHeadingTemplate || defaultLevelHeadingTemplate
            "
            [ngTemplateOutletContext]="{
              performanceLevelScore: performanceLevelScore
            }"
          ></ng-container>
        </div>
      </td>
      <td *ngFor="let statistic of table.scoreStatistics">
        <ng-container
          *ngIf="
            statistic.performanceLevelScores[
              statistic.performanceLevelScores.length -
                (performanceLevelIndex + 1)
            ] as score
          "
        >
          <aggregate-score-graph
            [percent]="score.percent"
            [count]="score.count"
            [color]="performanceLevelScore.colorCode | translate"
            [backgroundColor]="'gray-lighter'"
            [displayCount]="displayCount"
          ></aggregate-score-graph>
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>

<ng-template
  #defaultLevelHeadingTemplate
  let-performanceLevelScore="performanceLevelScore"
>
  {{ performanceLevelScore.nameCode | translate }}
</ng-template>
