// compilation error: .colorElement is undefined
//@import '../../../../../node_modules/@sbac/sbac-ui-kit/src/less/colors.less';
@gray-light: #d5d5d5;
@spacing-unit: 4px;

:host {
  ::ng-deep {
    .scale-score {
      text-align: left;
      display: grid;
      grid-template-columns: max-content max-content;
      align-items: center;
      .score {
        font-size: 40px;
      }
      .error-band {
        font-size: 30px;
        font-weight: normal;
        opacity: 0.75;
      }
    }
  }
}

table {
  width: 100%;
  > thead > tr > th,
  > tbody > tr > td {
    &:first-child {
      width: 1%;
      white-space: nowrap;
      text-align: right;
    }
    &:not(:first-child) {
      border-left: 1px solid @gray-light;
    }
  }
  > thead > tr > th {
    padding: 0 (@spacing-unit * 4);
  }
  > thead > tr:nth-child(2) > th {
    padding-bottom: @spacing-unit;
  }
  > tbody > tr > td {
    padding: @spacing-unit (@spacing-unit * 4) @spacing-unit 0;
  }
  > tbody > tr:last-child > td {
    padding-bottom: 0;
  }
}

.sample-size {
  margin-bottom: -5px;
  > .value {
    font-size: 2em;
  }
}

.heading {
  font-size: 18px;
}

.average-scale-score-label {
  font-weight: normal;
}
