:host {
  ::ng-deep {
    .ace_editor {
      //border-radius: 4px;
      //light theme specific
      //border: 1px solid #e6e6e6;
      //border-left: none;

      .ace_scrollbar-v {
        overflow-y: auto;
      }
      .ace_scrollbar-h {
        overflow-x: auto;
      }
      .ace_scrollbar {
        display: none;
      }
      &:hover {
        .ace_scrollbar {
          display: block;
        }
      }
    }
  }
}
