<ng-container *ngIf="(initialized$ | async); else loading">
  <tenant-sandbox
    class="sandbox-config"
    [value]="tenant$ | async"
    [mode]="mode$ | async"
    [writable]="writable$ | async"
    [tenants]="tenants$ | async"
    [dataSets]="dataSets$ | async"
    [configurationDefaults]="configurationDefaults$ | async"
    [localizationDefaults]="localizationDefaults$ | async"
    [configurationOpen]="(type$ | async) === 'TENANT'"
    [requiredConfiguration]="
      (type$ | async) === 'TENANT' && (mode$ | async) === 'create'
    "
    (save)="onSave($event)"
    (delete)="onDelete($event)"
  ></tenant-sandbox>
</ng-container>
<ng-template #loading>
  <spinner></spinner>
</ng-template>
