<div class="card assessment-aggregate"
     [ngClass]="{selected: selected}"
     (click)="selectCard()">

  <div class="check">
    <i class="fa fa-check"></i>
  </div>

  <div class="row">
    <div class="col-xs-4"
         *ngIf="measuredAssessment.assessment.type === 'iab'">
      <div class="icon-wrapper">
        <assessment-icon [assessmentName]="measuredAssessment.assessment.name"></assessment-icon>
      </div>
    </div>
    <div [ngClass]="measuredAssessment.assessment.type === 'iab' ? 'col-xs-8' : 'col-xs-12'">
      <div class="label"
           [ngClass]="getGradeColor()">
        {{'common.assessment-grade-short-label.' + measuredAssessment.assessment.grade | translate}}
      </div>
      <div class="title">
        {{measuredAssessment.assessment.label}}
      </div>
    </div>
  </div>

  <div class="students mt-sm">
      <span class="caption"
            [innerHTML]="'assessment-card.student-count' | translate: {studentsTested: measuredAssessment.studentsTested, groupCount: group.totalStudents }"></span>
  </div>
  <div class="aggregate-graph">
    <!-- TODO: custom subjects need to dynamically pull performance levels for the current assessment type -->
    <div class="perc-container grid-3">
      <div class="bar" *ngFor="let i of [1, 2, 3]">
        <span class="square"
              [ngClass]="colorService.getPerformanceLevelColorsByAssessmentTypeCode('iab', i)"></span>
        <strong>{{ 'common.value-display-type-format.Percent' | translate: { value: percents[i-1] } }}</strong>
      </div>
    </div>
    <div class="perc-container grid-3">
      <div class="bar description " *ngFor="let i of [1, 2, 3]">
        <span>{{ 'common.assessment-type.iab.performance-level.' + i + '.name' | translate }}</span>
      </div>
    </div>

  </div>
</div>
