<div class="card assessment-aggregate" [ngClass]="{'selected': selected}" (click)="selectCard()">

  <span class="check"><i class="fa fa-check"></i></span>
  <span
    class="label" [ngClass]="getGradeColor()">{{ 'common.assessment-grade-short-label.' + measuredAssessment.assessment.grade | translate}}</span>
  <span class="title">{{ measuredAssessment.assessment.label }}</span>
  <div class="students">
      <span class="caption"
            [innerHTML]="'assessment-card.student-count' | translate: {studentsTested: measuredAssessment.studentsTested, groupCount: group.totalStudents }"></span>
  </div>

  <div class="aggregate-graph">
    <!-- TODO: custom subjects need to dynamically pull performance levels for the current assessment type -->
    <div class="perc-container grid-3">
      <div class="bar" *ngFor="let i of [1, 2, 3]">
        <span class="square"
              [ngClass]="colorService.getPerformanceLevelColorsByAssessmentTypeCode('iab', i)"></span>
        <strong>{{ 'common.value-display-type-format.Percent' | translate: { value: percents[i-1] } }}</strong>
      </div>
    </div>
    <div class="perc-container grid-3">
      <div class="bar description " *ngFor="let i of [1, 2, 3]">
        <span>{{ 'common.assessment-type.iab.performance-level.' + i + '.name' | translate }}</span>
      </div>
    </div>

  </div>
</div>
