<ng-container *ngIf="(tenantType$ | async) as type">
  <page-heading>
    <h1 class="h2" heading>
      {{ 'tenants.heading.' + type | translate }}
    </h1>
    <button
      controls
      *hasPermission="'TENANT_WRITE'"
      class="btn btn-primary"
      [routerLink]="['new']"
    >
      {{ 'tenants.create.' + type | translate }}
    </button>
  </page-heading>

  <ng-container *ngIf="(tenants$ | async) as tenants; else loading">
    <ng-container *ngIf="tenants.length > 0; else empty">
      <app-well-group-list [items]="tenants">
        <ng-template #itemTemplate let-tenant="item">
          <app-tenant-link
            [tenant]="tenant"
            (tenantClick)="onTenantClick($event)"
            (tenantDelete)="onTenantDeleteButtonClick($event)"
          ></app-tenant-link>
        </ng-template>
      </app-well-group-list>
    </ng-container>
    <ng-template #empty>
      <p>{{ 'tenants.empty.' + type | translate }}</p>
    </ng-template>
  </ng-container>
  <ng-template #loading>
    <spinner></spinner>
  </ng-template>
</ng-container>
