<tabset #itemTabs>
  <tab *ngIf="showStudentScores" (select)="selectStudentScoreTab()" heading="{{translateRoot + 'student-scores' | translate }}">
    <div class="tab-content well">
      <item-scores [item]="item" [exams]="exams"></item-scores>
    </div>
  </tab>
  <tab *ngIf="showItemDetails" (select)="selectItemViewerTab()" heading="{{translateRoot + 'item-viewer' | translate }}">
    <div class="tab-content well">
      <item-viewer *ngIf="loadItemViewer"
                   [bankItemKey]="item.bankItemKey"
                   [response]="response"
                   [position]="position"></item-viewer>
    </div>
  </tab>
  <tab *ngIf="showItemDetails" (select)="selectExemplarTab()" heading="{{translateRoot + 'exemplar.title' | translate }}">
    <div class="tab-content well">
      <item-exemplar *ngIf="loadExemplar" [bankItemKey]="item.bankItemKey"></item-exemplar>
    </div>
  </tab>
  <tab *ngIf="showItemDetails" (select)="selectItemInformationTab()" heading="{{translateRoot + 'item-info.title' | translate }}">
    <div class="tab-content well">
    <item-info [item]="item"></item-info>
    </div>
  </tab>
</tabset>
