<tabset #itemTabs>
  <!-- TODO: This tab should be toggleable depending on the context -->
  <tab *ngIf="showStudentScores" heading="{{translateRoot + 'student-scores' | translate }}">
    <div class="tab-content well">
      <item-scores [item]="item" [exams]="exams"></item-scores>
    </div>
  </tab>
  <tab *ngIf="showItemDetails" (select)="loadItemViewer=true" heading="{{translateRoot + 'item-viewer' | translate }}">
    <div class="tab-content well">
      <item-viewer *ngIf="loadItemViewer"
                   [bankItemKey]="item.bankItemKey"
                   [response]="response"
                   [position]="position"></item-viewer>
    </div>
  </tab>
  <tab *ngIf="showItemDetails" (select)="loadExemplar=true" heading="{{translateRoot + 'exemplar.title' | translate }}">
    <div class="tab-content well">
      <item-exemplar *ngIf="loadExemplar" [bankItemKey]="item.bankItemKey"></item-exemplar>
    </div>
  </tab>
  <tab *ngIf="showItemDetails" heading="{{translateRoot + 'item-info' | translate }}">
    <div class="tab-content well">
    <!--TODO -->
    </div>
  </tab>
</tabset>
