<tabset #staticTabs>
  <!-- TODO: This tab should be toggleable depending on the context -->
  <tab heading="{{translateRoot + 'student-scores' | translate }}">

  </tab>
  <tab *ngIf="showItemDetails" heading="{{translateRoot + 'item-viewer' | translate }}">
    <item-viewer [bankItemKey]="item.bankItemKey"></item-viewer>
  </tab>
  <tab *ngIf="showItemDetails" heading="{{translateRoot + 'exemplar' | translate }}">


  </tab>
  <tab *ngIf="showItemDetails" heading="{{translateRoot + 'item-info' | translate }}">

  </tab>
</tabset>
