<div class="well-group">
  <div class="well">
    <div class="row">
      <!-- School Select -->
      <div class="col-md-3">
        <label for="select-school">{{'labels.groups.select-school' | translate}}</label>
        <select id="select-school" [(ngModel)]="query.school" class="form-control" (change)="updateResults()">
          <option *ngFor="let school of filterOptions.schools" [ngValue]="school">{{school.name}}</option>
        </select>
      </div>
      <!-- School Year Select -->
      <div class="col-md-3">
        <label for="select-schoolyear">{{'labels.groups.select-school-year' | translate}}</label>
        <select id="select-schoolyear" [(ngModel)]="query.schoolYear" class="form-control" (change)="updateResults()">
          <option *ngFor="let schoolYear of filterOptions.schoolYears" [ngValue]="schoolYear">{{schoolYear | schoolYear }}</option>
        </select>
      </div>
      <!-- Subject Select -->
      <div class="col-md-3">
        <label for="select-subject">{{'labels.groups.select-subject' | translate}}</label>
        <select id="select-subject" [(ngModel)]="query.subject" class="form-control" (change)="updateResults()">
          <option *ngFor="let subject of filterOptions.subjects" [ngValue]="subject">{{'enum.subject.' + subject | translate }}</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="well">
  <p-dataTable [value]="groups" emptyMessage="{{'labels.groups.no-results' | translate}}" sortField="name" tableStyleClass="table table-striped table-hover overflow">
    <p-column field="name" header="{{'labels.groups.cols.name' | translate}}" [sortable]="true"></p-column>
    <p-column field="schoolName" header="{{'labels.groups.cols.school' | translate}}" [sortable]="true"></p-column>
    <p-column field="schoolYear" header="{{'labels.groups.cols.school-year' | translate}}" [sortable]="true">
      <ng-template let-group="rowData" pTemplate="body">
        {{ group.schoolYear | schoolYear }}
      </ng-template>
    </p-column>
    <p-column field="subject" header="{{'labels.groups.cols.subjects' | translate}}" [sortable]="true">
      <ng-template let-group="rowData" pTemplate="body">
        {{ group.subject | subject }}
      </ng-template>
    </p-column>
  </p-dataTable>
</div>
