<pipeline-editor
  [pipeline]="pipeline"
  [compiling]="compiling"
  [compilationErrors]="compilationErrors | async"
  [saving]="saving"
  [saveButtonDisabled]="saveButtonDisabled"
  [testing]="testing"
  [testButtonDisabled]="testButtonDisabled"
  [publishing]="publishing"
  [publishButtonDisabled]="publishButtonDisabled"
  (scriptChange)="onScriptChange($event)"
  (scriptSave)="onScriptSave($event)"
  (scriptTest)="onScriptTest($event)"
  (scriptPublish)="onScriptPublish($event)"
  [items]="items"
  [selectedItem]="selectedItem"
  (itemSelected)="onItemSelected($event)"
  (createTestButtonClick)="onCreateTestButtonClick()"
  (deleteTestButtonClick)="onDeleteTestButtonClick()"
></pipeline-editor>
