<form [formGroup]="searchForm" (ngSubmit)="performSearch()" class="form-group">
  <div class="form-group">
    <div class="flex-children">
      <div class="flex-child grow">
        <label for="student-id-input">{{'labels.student.title' | translate}}</label>
        <input formControlName="ssid"
               type="text"
               class="form-control"
               id="student-id-input"
               required
               placeholder="{{'labels.student.prompt' | translate}}"
               (keyup)="onSsidChange()">
      </div>
      <div class="flex-child">
        <button type="submit" class="btn btn-primary" [disabled]="searchForm.invalid">{{'buttons.search' | translate}}</button>
      </div>
    </div>
    <div *ngIf="studentNotFound" class="flex-children">
      <span>{{'labels.student.messages.no-results' | translate}}</span>
    </div>
  </div>
</form>
