<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div
    *ngIf="formGroup.controls.ssid as control"
    class="form-group"
    [ngClass]="{
      'has-error': studentNotFound
    }"
  >
    <div class="flex-children">
      <div class="flex-child grow">
        <label for="student-id-input">
          {{ 'student.title' | translate }}
        </label>
        <input
          formControlName="ssid"
          type="text"
          class="form-control"
          id="student-id-input"
          required
          placeholder="{{ 'student.prompt' | translate }}"
        />
      </div>
      <div class="flex-child">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="formGroup.invalid"
        >
          {{ 'common.action.search' | translate }}
        </button>
      </div>
    </div>
    <span class="help-block" role="alert">
      <ng-container *ngIf="studentNotFound">
        {{ 'student.no-results-message' | translate }}
      </ng-container>
    </span>
  </div>
</form>
