<page-heading>
  <ng-template #heading>
    <h2>{{ 'sandbox-config.new-sandbox.header' | translate }}</h2>
  </ng-template>
</page-heading>

<div class="well sandbox-config">
  <div class="well-body mt-sm">
    <form class="form-group" [formGroup]="sandboxForm">
      <div class="row mb-xs">
        <div class="col-md-4">
          <label>{{ 'sandbox-config.fields.label' | translate }}</label>
        </div>
        <div class="col-md-8">
          <input
            type="text"
            class="form-control"
            name="label"
            formControlName="label"
          />
        </div>
      </div>
      <div class="row mb-xs">
        <div class="col-md-4">
          <label>{{ 'sandbox-config.fields.description' | translate }}</label>
        </div>
        <div class="col-md-8">
          <textarea
            class="form-control"
            name="description"
            formControlName="description"
          >
          </textarea>
        </div>
      </div>
      <div class="row mb-sm">
        <div class="col-md-4">
          <label>{{ 'sandbox-config.fields.data-template' | translate }}</label>
        </div>
        <div class="col-md-8">
          <select class="form-control" formControlName="template">
            <option [value]="null">{{
              'sandbox-config.fields.select-template' | translate
            }}</option>
            <option
              *ngFor="let dataTemplate of dataTemplates"
              [ngValue]="dataTemplate"
            >
              {{ dataTemplate.label }}
            </option>
          </select>
        </div>
      </div>
      <p-accordion [multiple]="true">
        <p-accordionTab
          header="{{
            'sandbox-config.fields.configuration-properties' | translate
          }}"
          formArrayName="configurationProperties"
        >
          <p-table
            #configurationPropertiesDataTable
            [value]="configurationProperties"
            dataKey="key"
            [scrollable]="true"
            scrollHeight="400px"
            [globalFilterFields]="['key', 'value']"
            styleClass="table table-striped table-hover overflow rdw-scrollable-table"
            [paginator]="true"
            [alwaysShowPaginator]="false"
            [rows]="20"
          >
            <ng-template pTemplate="caption">
              <div>
                <i class="fa fa-search"></i>
                <input
                  type="text"
                  class="form-control"
                  pInputText
                  size="50"
                  placeholder="{{ 'sandbox-config.fields.search' | translate }}"
                  (input)="
                    configurationPropertiesDataTable.filterGlobal(
                      $event.target.value,
                      'contains'
                    )
                  "
                />
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>Key</th>
                <th>Value</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-property let-i="rowIndex">
              <tr
                [ngClass]="{
                  modified: property.value !== property.originalValue
                }"
              >
                <td [title]="property.key">{{ property.key }}</td>
                <td>
                  <div class="col-md-11">
                    <input
                      type="text"
                      [value]="property.value"
                      [formControlName]="i"
                      class="property-input"
                      (change)="updateConfigurationProperty(property, i)"
                    />
                  </div>
                  <div class="col-md-1">
                    <i
                      class="fa fa-refresh fa-2x"
                      *ngIf="property.value !== property.originalValue"
                      (click)="property.value = property.originalValue"
                    ></i>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-accordionTab>
        <p-accordionTab
          header="{{
            'sandbox-config.fields.localization-overrides' | translate
          }}"
          formArrayName="localizationOverrides"
        >
          <p-table
            #localizationDataTable
            [value]="localizationOverrides"
            dataKey="key"
            [scrollable]="true"
            scrollHeight="400px"
            [globalFilterFields]="['key', 'value']"
            styleClass="table table-striped table-hover overflow rdw-scrollable-table"
            [paginator]="true"
            [alwaysShowPaginator]="false"
            [rows]="20"
          >
            <ng-template pTemplate="caption">
              <div>
                <i class="fa fa-search"></i>
                <input
                  type="text"
                  class="form-control"
                  pInputText
                  size="50"
                  placeholder="{{ 'sandbox-config.fields.search' | translate }}"
                  (input)="
                    localizationDataTable.filterGlobal(
                      $event.target.value,
                      'contains'
                    )
                  "
                />
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>Key</th>
                <th>Value</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-overrides let-i="rowIndex">
              <tr
                [ngClass]="{
                  modified: overrides.value !== overrides.originalValue
                }"
              >
                <td [title]="overrides.key">{{ overrides.key }}</td>
                <td>
                  <div class="col-md-11">
                    <input
                      type="text"
                      [value]="overrides.value"
                      [formControlName]="i"
                      class="property-input"
                      (change)="updateOverride(overrides, i)"
                    />
                  </div>
                  <div class="col-md-1">
                    <i
                      class="fa fa-refresh fa-2x"
                      *ngIf="overrides.value !== overrides.originalValue"
                      (click)="overrides.value = overrides.originalValue"
                    ></i>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-accordionTab>
      </p-accordion>
    </form>
  </div>
  <div class="mt-md" style="height: 40px">
    <a class="btn btn-default pull-right mr-xs" routerLink="/sandboxes">{{
      'common.action.cancel' | translate
    }}</a>
    <button
      type="button"
      class="btn btn-primary pull-right mr-xs"
      (click)="onSubmit()"
      [disabled]="sandboxForm.invalid"
    >
      {{ 'common.action.save' | translate }}
    </button>
  </div>
</div>
