<div class="sandbox-container pt-md pb-md" *ngIf="!editMode">
  <div class="sandbox-header">
    <h2>
      {{ sandbox.label }} <span class="sandbox-key">({{ sandbox.code }})</span>
    </h2>
    <i class="fa fa-edit fa-2x pull-right" (click)="editMode = !editMode"></i>
    <h4>{{ sandbox.description }}</h4>
    <h5>{{ sandbox.template.label }}</h5>
  </div>
</div>

<div class="sandbox-container pt-md pb-md" *ngIf="editMode">
  <div class="sandbox-header">
    <h2>
      {{ sandbox.label }} <span class="sandbox-key">({{ sandbox.code }})</span>
    </h2>
    <!-- Actions -->
    <div class="mb-sm pull-right">
      <button class="btn btn-primary mr-xs" (click)="onSubmit()">
        {{ 'common.action.save' | translate }}
      </button>
      <button class="btn btn-default mr-xs" (click)="editMode = false">
        {{ 'common.action.cancel' | translate }}
      </button>
      <p-menu #menu [popup]="true" [model]="menuItems"></p-menu>
      <button
        type="button"
        pButton
        class="btn btn-primary btn-outlined"
        label="Show"
        (click)="menu.toggle($event)"
      >
        <i class="fa fa-list fa-xl"></i>
      </button>
    </div>
  </div>
  <!-- Edit -->
  <form class="form-group" [formGroup]="sandboxForm">
    <div class="row mb-xs">
      <div class="col-md-4">
        <label>{{ 'sandbox-config.fields.label' | translate }}</label>
      </div>
      <div class="col-md-8">
        <input
          type="text"
          class="form-control"
          name="label"
          formControlName="label"
        />
      </div>
    </div>
    <div class="row mb-xs">
      <div class="col-md-4">
        <label>{{ 'sandbox-config.fields.description' | translate }}</label>
      </div>
      <div class="col-md-8">
        <textarea
          class="form-control"
          name="description"
          formControlName="description"
        >
        </textarea>
      </div>
    </div>
    <div class="row mb-sm">
      <div class="col-md-4">
        <label>{{ 'sandbox-config.fields.data-template' | translate }}</label>
      </div>
      <div class="col-md-8">{{ sandbox.template.label }}</div>
    </div>

    <p-accordion [multiple]="true">
      <p-accordionTab
        header="{{
          'sandbox-config.fields.configuration-properties' | translate
        }}"
        formArrayName="configurationProperties"
      >
        <p-table
          #configurationPropertiesDataTable
          [value]="configurationProperties"
          dataKey="key"
          [scrollable]="true"
          scrollHeight="400px"
          [globalFilterFields]="['key', 'value']"
          styleClass="table table-striped table-hover overflow rdw-scrollable-table"
          [paginator]="true"
          [alwaysShowPaginator]="false"
          [rows]="20"
        >
          <ng-template pTemplate="caption">
            <div>
              <i class="fa fa-search"></i>
              <input
                type="text"
                class="form-control"
                pInputText
                size="50"
                placeholder="{{ 'sandbox-config.fields.search' | translate }}"
                (input)="
                  configurationPropertiesDataTable.filterGlobal(
                    $event.target.value,
                    'contains'
                  )
                "
              />
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Key</th>
              <th>Value</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-property let-i="rowIndex">
            <tr
              [ngClass]="{
                modified: property.value !== property.originalValue
              }"
            >
              <td [title]="property.key">{{ property.key }}</td>
              <td>
                <div class="col-md-11">
                  <input
                    type="text"
                    [value]="property.value"
                    [formControlName]="i"
                    class="property-input"
                    (change)="updateConfigurationProperty(property, i)"
                  />
                </div>
                <div class="col-md-1">
                  <i
                    class="fa fa-refresh fa-2x"
                    *ngIf="property.value !== property.originalValue"
                    (click)="property.value = property.originalValue"
                  ></i>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordionTab>
      <p-accordionTab
        header="{{
          'sandbox-config.fields.localization-overrides' | translate
        }}"
        formArrayName="localizationOverrides"
      >
        <p-table
          #localizationDataTable
          [value]="localizationOverrides"
          dataKey="key"
          [scrollable]="true"
          scrollHeight="400px"
          [globalFilterFields]="['key', 'value']"
          styleClass="table table-striped table-hover overflow rdw-scrollable-table"
          [paginator]="true"
          [alwaysShowPaginator]="false"
          [rows]="20"
        >
          <ng-template pTemplate="caption">
            <div>
              <i class="fa fa-search"></i>
              <input
                type="text"
                class="form-control"
                pInputText
                size="50"
                placeholder="{{ 'sandbox-config.fields.search' | translate }}"
                (input)="
                  localizationDataTable.filterGlobal(
                    $event.target.value,
                    'contains'
                  )
                "
              />
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Key</th>
              <th>Value</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-overrides let-i="rowIndex">
            <tr
              [ngClass]="{
                modified: overrides.value !== overrides.originalValue
              }"
            >
              <td [title]="overrides.key">{{ overrides.key }}</td>
              <td>
                <div class="col-md-11">
                  <input
                    type="text"
                    [value]="overrides.value"
                    [formControlName]="i"
                    class="property-input"
                    (change)="updateOverride(overrides, i)"
                  />
                </div>
                <div class="col-md-1">
                  <i
                    class="fa fa-refresh fa-2x"
                    *ngIf="overrides.value !== overrides.originalValue"
                    (click)="overrides.value = overrides.originalValue"
                  ></i>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordionTab>
    </p-accordion>
  </form>
</div>

<!-- Delete Modal -->
<div
  bsModal
  #deleteModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4
          id="dialog-static-name"
          class="modal-title pull-left label-max-width"
          [innerHTML]="
            'sandbox-config.delete-modal.header' | translate: sandbox
          "
        ></h4>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="deleteModal.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div
        class="modal-body"
        [innerHTML]="'sandbox-config.delete-modal.body' | translate: sandbox"
      ></div>
      <div class="modal-footer">
        <ul class="pull-right list-unstyled list-inline">
          <li>
            <button
              type="button"
              class="btn btn-danger btn-sm"
              (click)="deleteModal.hide(); onDeleteButtonClick()"
            >
              <i class="fa fa-trash"></i>
              {{ 'common.action.delete' | translate }}
            </button>
          </li>
          <li>
            <button
              type="button"
              class="btn btn-default btn-sm"
              (click)="deleteModal.hide()"
            >
              {{ 'common.action.cancel' | translate }}
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Archive Modal -->
<div
  bsModal
  #archiveModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4
          id="dialog-static-name"
          class="modal-title pull-left label-max-width"
          [innerHTML]="
            'sandbox-config.archive-modal.header' | translate: sandbox
          "
        ></h4>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="archiveModal.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div
        class="modal-body"
        [innerHTML]="'sandbox-config.archive-modal.body' | translate: sandbox"
      ></div>
      <div class="modal-footer">
        <ul class="pull-right list-unstyled list-inline">
          <li>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              (click)="archiveModal.hide(); onArchiveButtonClick()"
            >
              <i class="fa fa-archive"></i>
              {{ 'sandbox-config.archive-modal.archive' | translate }}
            </button>
          </li>
          <li>
            <button
              type="button"
              class="btn btn-default btn-sm"
              (click)="archiveModal.hide()"
            >
              {{ 'common.action.cancel' | translate }}
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Reset Modal -->
<div
  bsModal
  #resetModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4
          id="dialog-static-name"
          class="modal-title pull-left label-max-width"
          [innerHTML]="'sandbox-config.reset-modal.header' | translate: sandbox"
        ></h4>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="resetModal.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div
        class="modal-body"
        [innerHTML]="'sandbox-config.reset-modal.body' | translate: sandbox"
      ></div>
      <div class="modal-footer">
        <ul class="pull-right list-unstyled list-inline">
          <li>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              (click)="resetModal.hide(); onResetButtonClick()"
            >
              <i class="fa fa-refresh"></i>
              {{ 'sandbox-config.reset-modal.reset' | translate }}
            </button>
          </li>
          <li>
            <button
              type="button"
              class="btn btn-default btn-sm"
              (click)="resetModal.hide()"
            >
              {{ 'common.action.cancel' | translate }}
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
