<h5
  *ngIf="{
    traitType:
      responsesAssessmentItem.assessmentItem.performanceTaskWritingType != null
        ? responsesAssessmentItem.assessmentItem.performanceTaskWritingType
        : ('common.results.assessment-item-columns.purpose-not-specified'
          | translate)
  } as translateParameters"
>
  {{
    'item-writing-trait-score.writing-trait-purpose'
      | translate: translateParameters
  }}
</h5>

<table class="table table-striped table-hover writing-trait-scores">
  <thead class="ui-table-thead">
    <tr>
      <th>
        {{ 'common.results.assessment-item-columns.category' | translate }}
      </th>
      <th>
        {{ 'common.student-response-columns.student-points' | translate }}
      </th>
      <th>{{ 'common.student-response-columns.max-points' | translate }}</th>
      <th>
        <span
          info-button
          title="{{
            'common.student-response-columns.correctness' | translate
          }}"
          content="{{
            'common.student-response-columns.correctness-info' | translate
          }}"
        ></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ 'common.writing-trait.evidence' | translate }}</td>
      <td>
        {{ evidence | optional }}
      </td>
      <td>{{ evidenceMaxPoints }}</td>
      <td>
        {{ evidence | optional: (evidenceCorrectness | number: '1.2-2') }}
      </td>
    </tr>
    <tr>
      <td>{{ 'common.writing-trait.organization' | translate }}</td>
      <td>
        {{ organization | optional }}
      </td>
      <td>{{ organizationMaxPoints }}</td>
      <td>
        {{
          organization | optional: (organizationCorrectness | number: '1.2-2')
        }}
      </td>
    </tr>
    <tr>
      <td>{{ 'common.writing-trait.conventions' | translate }}</td>
      <td>
        {{ conventions | optional }}
      </td>
      <td>{{ conventionsMaxPoints }}</td>
      <td>
        {{ conventions | optional: (conventionsCorrectness | number: '1.2-2') }}
      </td>
    </tr>
    <tr>
      <td>
        <span
          info-button
          title="{{ 'common.writing-trait.total' | translate }}"
          content="{{ 'common.writing-trait.total-info' | translate }}"
        ></span>
      </td>
      <td>
        {{ responsesAssessmentItem.score | optional }}
      </td>
      <td>{{ responsesAssessmentItem.assessmentItem.maxPoints }}</td>
      <td>
        {{
          responsesAssessmentItem.score
            | optional: (totalCorrectness | number: '1.2-2')
        }}
      </td>
    </tr>
  </tbody>
</table>
