<h5>{{'labels.student.responses.writing-trait-purpose' | translate:{traitType: responsesAssessmentItem.assessmentItem.performanceTaskWritingType } }}</h5>

<table class="table table-striped table-hover writing-trait-scores">
  <thead class="ui-datatable-thead">
  <tr>
    <th>{{'labels.student.responses.cols.writing-trait' | translate}}</th>
    <th>{{'labels.student.responses.cols.student-points' | translate}}</th>
    <th>{{'labels.student.responses.cols.max-points' | translate}}</th>
    <th>
          <span info-button title="{{'labels.student.responses.cols.correctness' | translate}}"
                content="{{'labels.student.responses.cols.correctness-info' | translate}}"></span>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{'enum.writing-trait.evidence' | translate}}</td>
    <td>
      <display-optional [value]="evidence"></display-optional>
    </td>
    <td>4</td>
    <td>
      <display-optional [value]="evidence"
                        displayValue="{{(evidence / evidenceMaxPoints) | number:'1.2-2' }}"></display-optional>
    </td>
  </tr>
  <tr>
    <td>{{'enum.writing-trait.organization' | translate}}</td>
    <td>
      <display-optional [value]="organization"></display-optional>
    </td>
    <td>4</td>
    <td>
      <display-optional [value]="organization"
                        displayValue="{{(organization / organizationMaxPoints) | number:'1.2-2' }}"></display-optional>
    </td>
  </tr>
  <tr>
    <td>{{'enum.writing-trait.conventions' | translate}}</td>
    <td>
      <display-optional [value]="conventions"></display-optional>
    </td>
    <td>2</td>
    <td>
      <display-optional [value]="conventions"
                        displayValue="{{(conventions / conventionsMaxPoints) | number:'1.2-2' }}"></display-optional>
    </td>
  </tr>
  <tr>
    <td>
          <span info-button title="{{'enum.writing-trait.total' | translate}}"
                content="{{'enum.writing-trait.total-info' | translate}}"></span>
    </td>
    <td>
      <display-optional [value]="responsesAssessmentItem.score"></display-optional>
    </td>
    <td>{{ responsesAssessmentItem.assessmentItem.maxPoints }}</td>
    <td>
      <display-optional [value]="responsesAssessmentItem.score"
                        displayValue="{{(responsesAssessmentItem.score / responsesAssessmentItem.assessmentItem.maxPoints) | number:'1.2-2' }}"></display-optional>
    </td>
  </tr>
  </tbody>
</table>
