<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="controls">
    <ng-container *ngIf="formGroup.disabled; else writable">
      <h4>{{ formGroup.get('name').value }}</h4>
    </ng-container>
    <ng-template #writable>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          id="name"
          type="text"
          class="form-control"
          [formControl]="formGroup.get('name')"
        />
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">
          Save
        </button>
      </div>
    </ng-template>
  </div>

  <code-editor
    #editor
    [language]="formGroup.get('language').value"
    [formControl]="formGroup.get('body')"
  ></code-editor>
</form>
