<div class="toolbar">
  <h3>Assessments Pipeline</h3>

  <ng-container [ngSwitch]="selectedItem.type">
    <ng-container *ngSwitchCase="'Script'">
      <div class="compilation-status">
        <ng-container *ngIf="compiling">
          <i class="fa fa-spinner fa-pulse"></i> Compiling
        </ng-container>
      </div>

      <button
        type="button"
        class="btn btn-primary btn-outlined"
        [disabled]="!selectedItem.changed"
        (click)="scriptUpdate.emit(selectedItem.value)"
      >
        <ng-container *ngIf="saving; else notSaving">
          <i class="fa fa-spinner fa-pulse"></i> Saving
        </ng-container>
        <ng-template #notSaving>
          Save Draft
        </ng-template>
      </button>

      <button
        type="button"
        class="btn btn-success btn-outlined"
        [disabled]="testButtonDisabled"
        (click)="scriptTest.emit(selectedItem.value)"
      >
        <ng-container *ngIf="testing; else notTesting">
          <i class="fa fa-spinner fa-pulse"></i> Testing
        </ng-container>
        <ng-template #notTesting>
          Run Tests
        </ng-template>
      </button>

      <button
        type="button"
        class="btn btn-primary"
        [disabled]="publishButtonDisabled"
        (click)="scriptPublish.emit(selectedItem.value)"
      >
        <ng-container *ngIf="publishing; else notPublished">
          <i class="fa fa-spinner fa-pulse"></i> Publishing
        </ng-container>
        <ng-template #notPublished>
          Publish
        </ng-template>
      </button>
    </ng-container>
    <ng-container *ngSwitchCase="'Test'">
      <button
        class="btn btn-primary btn-outlined"
        [disabled]="!selectedItem.changed"
        (click)="testUpdate.emit(selectedItem.value)"
      >
        <ng-container *ngIf="testUpdating; else testNotUpdating">
          <i class="fa fa-spinner fa-pulse"></i> Saving
        </ng-container>
        <ng-template #testNotUpdating>
          Save
        </ng-template>
      </button>

      <button
        class="btn btn-success btn-outlined"
        (click)="testRun.emit(selectedItem.value)"
      >
        <ng-container *ngIf="testing; else testNotRunning">
          <i class="fa fa-spinner fa-pulse"></i> Testing
        </ng-container>
        <ng-template #testNotRunning>
          Run Test
        </ng-template>
      </button>
    </ng-container>
  </ng-container>
</div>

<div class="editor-container">
  <pipeline-explorer
    [items]="items"
    [selectedItem]="selectedItem"
    (itemSelected)="itemSelected.emit($event)"
    (createTestButtonClick)="testCreate.emit()"
    (deleteTestButtonClick)="testDelete.emit($event)"
  ></pipeline-explorer>

  <div>
    <ng-container *ngIf="selectedItemLoading; else itemLoaded">
      <spinner></spinner>
    </ng-container>
    <ng-template #itemLoaded>
      <ng-container [ngSwitch]="selectedItem.type">
        <ng-container *ngSwitchCase="'Script'">
          <code-editor
            [theme]="codeEditorTheme"
            [lines]="35"
            [messages]="messages"
            [language]="selectedItem.value.language"
            [(ngModel)]="selectedItem.value.body"
            (ngModelChange)="scriptChange.emit($event)"
          ></code-editor>
        </ng-container>
        <ng-container *ngSwitchCase="'Test'">
          <div class="test-form">
            <div class="form-group">
              <label for="name">
                Test Description
              </label>
              <input
                id="name"
                type="text"
                class="form-control"
                [(ngModel)]="selectedItem.value.name"
                (ngModelChange)="testChange.emit(selectedItem)"
              />
            </div>

            <div class="test-grid">
              <div class="form-group">
                <label>Test Input</label>
                <code-editor
                  [theme]="codeEditorTheme"
                  [lines]="31"
                  [gutter]="false"
                  [messages]="messages"
                  [language]="pipeline.inputType"
                  [(ngModel)]="selectedItem.value.input"
                  (ngModelChange)="testChange.emit(selectedItem)"
                ></code-editor>
              </div>
              <div class="form-group">
                <label>Expected Output</label>
                <code-editor
                  [theme]="codeEditorTheme"
                  [lines]="31"
                  [gutter]="false"
                  [messages]="messages"
                  [language]="pipeline.inputType"
                  [(ngModel)]="selectedItem.value.output"
                  (ngModelChange)="testChange.emit(selectedItem)"
                ></code-editor>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-template>
  </div>
</div>
