<h3 class="blue mb-md">{{'labels.custom-export.heading' | translate}}</h3>

<div class="well-group">

  <div class="well">
    <form>
      <div class="row">
        <div class="col-md-6">
          <div class="flex-children">
            <div class="flex-child grow">
              <label>
                {{'labels.custom-export.form.organization.label' | translate}}
              </label>
              <span search-select-with-button
                    [options]="options"
                    (select)="add($event)"
                    dropdownThreshold="10"
                    placeholder="{{'prompt.select' | translate}}"
                    searchPlaceholder="{{'labels.custom-export.form.organization.placeholder' | translate}}"
                    buttonLabel="{{'labels.custom-export.form.organization.add' | translate}}">
              </span>
              <div class="ml-xs mt-xs">
                <a class="aqua"
                   href="javascript:void(0)"
                   [style.text-decoration]="'none'"
                   (click)="toggleSelectAll()"><i class="fa" [ngClass]="{'fa-check-square': selectedAll, 'fa-square-o': !selectedAll}"></i>
                  {{'labels.custom-export.form.organization.select-all' | translate}}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="well gray-lightest">
    <h3 class="gray-darkest mb-0"><i class="fa fa-list-alt"></i> {{'labels.organization-tree.header' | translate}}</h3>
    <p class="small gray-dark" [hidden]="selected.length != 0">{{'labels.organization-tree.subheader-empty' | translate}}</p>
    <p class="small gray-dark" [hidden]="selected.length == 0">{{'labels.organization-tree.subheader-not-empty' | translate}}</p>
    <organization-tree [model]="tree" (select)="remove($event)"></organization-tree>
  </div>

</div>
