<span class="breadcrumb-link-container" *ngIf="crumb.active">
  <span class="breadcrumb-link" routerLink="{{crumb.path}}">
    <i *ngIf="crumb.first" class="glyphicon glyphicon-home"></i>{{crumb.name}}
  </span>
</span>
<span class="breadcrumb-link-container" *ngIf="!crumb.active">
  <a class="breadcrumb-link" routerLink="{{crumb.path}}">
    <i *ngIf="crumb.first" class="glyphicon glyphicon-home"></i>{{crumb.name}}
  </a>
  <span class="breadcrumb-link-separator">
    <i class="glyphicon glyphicon-menu-right"></i>
  </span>
</span>
