<div *ngIf="studentFields.includes('Gender')">
  <label>
    {{ 'common.student-field.Gender' | translate }}
    <app-info
      popoverTitle="{{ 'common.student-field.Gender' | translate }}"
      popoverContent="{{ 'common.student-field-info.Gender' | translate }}"
    ></app-info>
  </label>
  <sb-button-group
    [options]="optionsInternal.genders"
    [(ngModel)]="value.genders"
    (ngModelChange)="onChange()"
    allOptionReturnsUndefined="true"
    analyticsEvent="FilterClick"
    analyticsCategory="AdvancedFilters"
  ></sb-button-group>
</div>

<!-- Migrant Status -->
<div *ngIf="studentFields.includes('MigrantStatus')">
  <label>
    {{ 'common.student-field.MigrantStatus' | translate }}
    <app-info
      popoverTitle="{{ 'common.student-field.MigrantStatus' | translate }}"
      popoverContent="{{
        'common.student-field-info.MigrantStatus' | translate
      }}"
    ></app-info>
  </label>
  <sb-button-group
    [options]="optionsInternal.migrantStatuses"
    [(ngModel)]="value.migrantStatuses"
    (ngModelChange)="onChange()"
    allOptionReturnsUndefined="true"
    analyticsEvent="FilterClick"
    analyticsCategory="AdvancedFilters"
  ></sb-button-group>
</div>

<!-- 504 -->
<div *ngIf="studentFields.includes('Section504')">
  <label>
    {{ 'common.student-field.Section504' | translate }}
    <app-info
      popoverTitle="{{ 'common.student-field.Section504' | translate }}"
      popoverContent="{{ 'common.student-field-info.Section504' | translate }}"
    ></app-info>
  </label>
  <sb-button-group
    [options]="optionsInternal.section504s"
    [(ngModel)]="value.section504s"
    (ngModelChange)="onChange()"
    allOptionReturnsUndefined="true"
    analyticsEvent="FilterClick"
    analyticsCategory="AdvancedFilters"
  ></sb-button-group>
</div>

<!-- IEP -->
<div *ngIf="studentFields.includes('IndividualEducationPlan')">
  <label>
    {{ 'common.student-field.IndividualEducationPlan' | translate }}
    <app-info
      popoverTitle="{{
        'common.student-field.IndividualEducationPlan' | translate
      }}"
      popoverContent="{{
        'common.student-field-info.IndividualEducationPlan' | translate
      }}"
    ></app-info>
  </label>
  <sb-button-group
    [options]="optionsInternal.individualEducationPlans"
    [(ngModel)]="value.individualEducationPlans"
    (ngModelChange)="onChange()"
    allOptionReturnsUndefined="true"
    analyticsEvent="FilterClick"
    analyticsCategory="AdvancedFilters"
  ></sb-button-group>
</div>

<!-- Economic Disadvantage -->
<div *ngIf="studentFields.includes('EconomicDisadvantage')">
  <label>
    {{ 'common.student-field.EconomicDisadvantage' | translate }}
    <app-info
      popoverTitle="{{
        'common.student-field.EconomicDisadvantage' | translate
      }}"
      popoverContent="{{
        'common.student-field-info.EconomicDisadvantage' | translate
      }}"
    ></app-info>
  </label>
  <sb-button-group
    [options]="optionsInternal.economicDisadvantages"
    [(ngModel)]="value.economicDisadvantages"
    (ngModelChange)="onChange()"
    allOptionReturnsUndefined="true"
    analyticsEvent="FilterClick"
    analyticsCategory="AdvancedFilters"
  ></sb-button-group>
</div>

<!-- English Proficiency -->
<div *ngIf="studentFields.includes('LimitedEnglishProficiency')">
  <label>
    {{ 'common.student-field.LimitedEnglishProficiency' | translate }}
    <app-info
      popoverTitle="{{
        'common.student-field.LimitedEnglishProficiency' | translate
      }}"
      popoverContent="{{
        'common.student-field-info.LimitedEnglishProficiency' | translate
      }}"
    ></app-info>
  </label>
  <sb-button-group
    [options]="optionsInternal.limitedEnglishProficiencies"
    [(ngModel)]="value.limitedEnglishProficiencies"
    (ngModelChange)="onChange()"
    allOptionReturnsUndefined="true"
    analyticsEvent="FilterClick"
    analyticsCategory="AdvancedFilters"
  ></sb-button-group>
</div>

<div *ngIf="studentFields.includes('MilitaryStudentIdentifier')">
  <fieldset>
    <label>
      {{ 'common.student-field.MilitaryStudentIdentifier' | translate }}
      <app-info
        popoverTitle="{{
          'common.student-field.MilitaryStudentIdentifier' | translate
        }}"
        popoverContent="{{
          'common.student-field-info.MilitaryStudentIdentifier' | translate
        }}"
      ></app-info>
    </label>
    <sb-button-group
      [options]="optionsInternal.militaryConnectedCodes"
      [(ngModel)]="value.militaryConnectedCodes"
      (ngModelChange)="onChange()"
      [vertical]="true"
      allOptionReturnsUndefined="true"
      analyticsEvent="FilterClick"
      analyticsCategory="AdvancedFilters"
    ></sb-button-group>
  </fieldset>
</div>

<div *ngIf="studentFields.includes('EnglishLanguageAcquisitionStatus')">
  <label>
    {{ 'common.student-field.EnglishLanguageAcquisitionStatus' | translate }}
    <app-info
      popoverTitle="{{
        'common.student-field.EnglishLanguageAcquisitionStatus' | translate
      }}"
      popoverContent="{{
        'common.student-field-info.EnglishLanguageAcquisitionStatus' | translate
      }}"
    ></app-info>
  </label>
  <sb-button-group
    [options]="optionsInternal.englishLanguageAcquisitionStatuses"
    [(ngModel)]="value.englishLanguageAcquisitionStatuses"
    (ngModelChange)="onChange()"
    [vertical]="true"
    allOptionReturnsUndefined="true"
    analyticsEvent="FilterClick"
    analyticsCategory="AdvancedFilters"
  ></sb-button-group>
</div>

<div *ngIf="studentFields.includes('PrimaryLanguage')">
  <fieldset>
    <label for="language-filter">
      {{ 'common.student-field.PrimaryLanguage' | translate }}
      <app-info
        popoverTitle="{{ 'common.student-field.PrimaryLanguage' | translate }}"
        popoverContent="{{
          'common.student-field-info.PrimaryLanguage' | translate
        }}"
      ></app-info>
    </label>
    <div class="toggle-group btn-group-sm vertical all-option nested-btn-group">
      <sb-typeahead-group
        id="language-filter"
        placeholder="{{
          'aggregate-report-form.field.language-placeholder' | translate
        }}"
        [suggestions]="getLanguagesMap()"
        [(ngModel)]="value.languages"
        [ngModelOptions]="{ standalone: true }"
        enum="common.languageCodes"
        property="languageCodes"
        analyticsEvent="FilterClick"
        analyticsCategory="AdvancedFilters"
        name="language-filter"
        (ngModelChange)="onChange()"
        (optionsEvent)="optionsChanged($event)"
      >
      </sb-typeahead-group>
    </div>
  </fieldset>
</div>

<div *ngIf="studentFields.includes('Ethnicity')">
  <label>
    {{ 'common.student-field.Ethnicity' | translate }}
    <app-info
      popoverTitle="{{ 'common.student-field.Ethnicity' | translate }}"
      popoverContent="{{ 'common.student-field-info.Ethnicity' | translate }}"
    ></app-info>
  </label>
  <sb-button-group
    [options]="optionsInternal.ethnicities"
    [(ngModel)]="value.ethnicities"
    (ngModelChange)="onChange()"
    [vertical]="true"
    allOptionReturnsUndefined="true"
    analyticsEvent="FilterClick"
    analyticsCategory="AdvancedFilters"
  ></sb-button-group>
</div>
