<div class="flex-children">
  <!-- 1st Column -->
  <div class="flex-child">
    <!-- Gender -->
    <div>
      <label>
        <span
          info-button
          title="{{ 'common.filters.student.gender' | translate }}"
          content="{{ 'common.filters.student.gender-info' | translate }}"
        ></span>
      </label>
      <sb-button-group
        [options]="optionsInternal.genders"
        [(ngModel)]="value.genders"
        (ngModelChange)="onChange()"
        [vertical]="true"
        allOptionReturnsUndefined="true"
        analyticsEvent="FilterClick"
        analyticsCategory="AdvancedFilters"
      ></sb-button-group>
    </div>

    <!-- Migrant Status -->
    <div>
      <label>
        <span
          info-button
          title="{{ 'common.filters.student.migrant-status' | translate }}"
          content="{{
            'common.filters.student.migrant-status-info' | translate
          }}"
        ></span>
      </label>
      <sb-button-group
        [options]="optionsInternal.migrantStatuses"
        [(ngModel)]="value.migrantStatuses"
        (ngModelChange)="onChange()"
        [vertical]="true"
        allOptionReturnsUndefined="true"
        analyticsEvent="FilterClick"
        analyticsCategory="AdvancedFilters"
      ></sb-button-group>
    </div>

    <!-- 504 -->
    <div>
      <label>
        <span
          info-button
          title="{{ 'common.filters.student.504-plan' | translate }}"
          content="{{ 'common.filters.student.504-plan-info' | translate }}"
        ></span>
      </label>
      <sb-button-group
        [options]="optionsInternal.section504s"
        [(ngModel)]="value.section504s"
        (ngModelChange)="onChange()"
        [vertical]="true"
        allOptionReturnsUndefined="true"
        analyticsEvent="FilterClick"
        analyticsCategory="AdvancedFilters"
      ></sb-button-group>
    </div>

    <!-- IEP -->
    <div>
      <label>
        <span
          info-button
          title="{{ 'common.filters.student.iep' | translate }}"
          content="{{ 'common.filters.student.iep-info' | translate }}"
        ></span>
      </label>
      <sb-button-group
        [options]="optionsInternal.individualEducationPlans"
        [(ngModel)]="value.individualEducationPlans"
        (ngModelChange)="onChange()"
        [vertical]="true"
        allOptionReturnsUndefined="true"
        analyticsEvent="FilterClick"
        analyticsCategory="AdvancedFilters"
      ></sb-button-group>
    </div>

    <!-- English Proficiency -->
    <div *ngIf="showLimitedEnglishProficiencyFilter">
      <label>
        <span
          info-button
          title="{{
            'common.filters.student.limited-english-proficiency' | translate
          }}"
          content="{{
            'common.filters.student.limited-english-proficiency-info'
              | translate
          }}"
        ></span>
      </label>
      <sb-button-group
        [options]="optionsInternal.limitedEnglishProficiencies"
        [(ngModel)]="value.limitedEnglishProficiencies"
        (ngModelChange)="onChange()"
        allOptionReturnsUndefined="true"
        analyticsEvent="FilterClick"
        analyticsCategory="AdvancedFilters"
      ></sb-button-group>
    </div>
  </div>

  <div class="flex-child">
    <!-- Military Connected -->
    <div>
      <fieldset>
        <label>
          <span
            info-button
            title="{{
              'common.filters.student.military-connected' | translate
            }}"
            content="{{
              'common.filters.student.military-connected-info' | translate
            }}"
          ></span>
        </label>
        <sb-button-group
          [options]="optionsInternal.militaryConnectedCodes"
          [(ngModel)]="value.militaryConnectedCodes"
          (ngModelChange)="onChange()"
          [vertical]="true"
          allOptionReturnsUndefined="true"
          analyticsEvent="FilterClick"
          analyticsCategory="AdvancedFilters"
        ></sb-button-group>
      </fieldset>
    </div>

    <!-- ELAS -->
    <div *ngIf="showEnglishLanguageAcquisitionStatusFilter">
      <label>
        <span
          info-button
          title="{{ 'common.filters.student.elas' | translate }}"
          content="{{ 'common.filters.student.elas-info' | translate }}"
        ></span>
      </label>
      <sb-button-group
        [options]="optionsInternal.englishLanguageAcquisitionStatuses"
        [(ngModel)]="value.englishLanguageAcquisitionStatuses"
        (ngModelChange)="onChange()"
        [vertical]="true"
        allOptionReturnsUndefined="true"
        analyticsEvent="FilterClick"
        analyticsCategory="AdvancedFilters"
      ></sb-button-group>
    </div>

    <div>
      <fieldset>
        <label for="language-filter">
          <span
            info-button
            title="{{ 'common.filters.student.language' | translate }}"
            content="{{ 'common.filters.student.language-info' | translate }}"
          ></span>
        </label>
        <div
          class="toggle-group btn-group-sm vertical all-option nested-btn-group"
        >
          <sb-typeahead-group
            id="language-filter"
            placeholder="{{
              'aggregate-report-form.field.language-placeholder' | translate
            }}"
            [suggestions]="getLanguagesMap()"
            [(ngModel)]="value.languages"
            [ngModelOptions]="{ standalone: true }"
            enum="common.languageCodes"
            property="languageCodes"
            analyticsEvent="FilterClick"
            analyticsCategory="AdvancedFilters"
            name="language-filter"
            (ngModelChange)="onChange()"
            (optionsEvent)="optionsChanged($event)"
          >
          </sb-typeahead-group>
        </div>
      </fieldset>
    </div>
  </div>

  <!-- Ethnicity  -->
  <div class="flex-child">
    <div>
      <label>
        <span
          info-button
          title="{{ 'common.filters.student.ethnicity' | translate }}"
          content="{{ 'common.filters.student.ethnicity-info' | translate }}"
        ></span>
      </label>
      <sb-button-group
        [options]="optionsInternal.ethnicities"
        [(ngModel)]="value.ethnicities"
        (ngModelChange)="onChange()"
        [vertical]="true"
        allOptionReturnsUndefined="true"
        analyticsEvent="FilterClick"
        analyticsCategory="AdvancedFilters"
      ></sb-button-group>
    </div>
  </div>
</div>
