<div class="white-space-normal">
  <p>
    <b>{{ 'item-info.claim' | translate}}</b>
    {{ 'common.claim-description.' + item.claim | translate }}
  </p>
  <p>
    <b>{{ 'common.results.assessment-item-target' | translate:item}}: </b>
    {{ targetDescription }}
  </p>
  <p>
    <b>{{ 'item-info.dok-label' | translate}}</b>
    {{ 'item-info.dok-description.' + item.depthOfKnowledge | translate }}
    <a href="{{ 'item-info.dok-reference.' + item.depthOfKnowledge | translate }}" target="_blank">{{ 'item-info.view-ref' | translate}}</a>
  </p>
  <p>
    <b>{{ 'item-info.difficulty' | translate}}</b>
    {{ 'common.difficulty.' + item.difficulty | translate }}
  </p>
  <span *ngIf="commonCoreStandards">
    <p><b>{{ 'item-info.ccs' | translate}}</b></p>
    <p *ngFor="let standard of commonCoreStandards; let i = index">
      <span class="label border-only blue mr-xs">{{ standard.code }}</span> {{ standard.description }}
    </p>
  </span>
  <p *ngIf="item.mathPractice">
    <b>{{ 'item-info.math' | translate}}</b>
    {{ 'item-info.math-practice.description.' + item.mathPractice | translate }}
  </p>
  <p *ngIf="item.allowCalculator">
    <b>{{ 'item-info.calculator' | translate}}</b>
    {{ 'common.polar.' + item.allowCalculator | translate }}
  </p>
  <p>
    <b>{{ 'item-info.docs' | translate}}</b>
    <a href="{{interpretiveGuideUrl}}" target="_blank">{{ 'item-info.guide' | translate}}</a>
  </p>
</div>
