<div class="head">
  <h3>
    {{
      'pipeline-publishing-history.heading'
        | translate
          : {
              pipelineName:
                'ingest-pipeline.' + pipeline.code + '.name' | translate
            }
    }}
  </h3>
  <button
    type="button"
    class="btn btn-primary btn-outlined"
    [disabled]="selectedPipeline.version === pipeline.activeVersion"
    (click)="onPipelineActivate(selectedPipeline)"
  >
    {{
      'pipeline-published-scripts.activation-button-state.' +
        (selectedPipeline.version === pipeline.activeVersion
          ? 'active'
          : 'inactive') | translate
    }}
  </button>
  <button
    type="button"
    class="close fa-3x"
    title="{{ 'common.action.close' | translate }}"
    [routerLink]="['..']"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<ng-container
  *ngIf="_pipelines != null && _pipelines.length > 0; else noScripts"
>
  <div class="body">
    <div class="scripts-container">
      <ul>
        <li *ngFor="let published of _pipelines">
          <pipeline-item
            name="{{
              'pipeline-published-scripts.version' | translate: published
            }}"
            description="{{ published.publishedOn | date: 'medium' }}"
            [active]="published.version === selectedPipeline.version"
            (click)="pipelineSelect.emit(published)"
          >
            <div caption>
              {{ 'pipeline-item.published-by' | translate: published }}
            </div>
            <div
              *ngIf="pipeline.activeVersion == published.version"
              class="label border-only blue published-tag"
            >
              {{ 'pipeline-published-scripts.active-pipeline' | translate }}
            </div>
          </pipeline-item>
        </li>
      </ul>
    </div>
    <code-editor
      *ngIf="selectedPipeline"
      language="groovy"
      [ngModel]="selectedPipeline.scripts[0].body"
      [readonly]="true"
    ></code-editor>
  </div>
</ng-container>
<ng-template #noScripts>
  <div class="text-center">
    {{ 'pipeline-published-scripts.no-scripts' | translate }}
  </div>
</ng-template>
