<div class="head">
  <h3>
    {{
      'pipeline-publishing-history.heading'
        | translate
          : {
              pipelineName:
                'ingest-pipeline.' + pipeline.code + '.name' | translate
            }
    }}
  </h3>
  <button
    type="button"
    class="close fa-3x"
    title="{{ 'common.action.close' | translate }}"
    [routerLink]="['..']"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<ng-container *ngIf="pipelines.length > 0; else noScripts">
  <div class="body">
    <div class="scripts-container">
      <ul>
        <li *ngFor="let pipeline of pipelines">
          <pipeline-item
            [active]="selectedPipeline === pipeline"
            (click)="pipelineSelect.emit(pipeline)"
          >
            <div name>
              {{ pipeline.publishedOn | date: 'medium' }}
            </div>
            <div caption>
              <div>
                {{ 'pipeline-item.published-by' | translate: pipeline }}
              </div>
              <div
                *ngIf="pipeline.active"
                class="label border-only blue published-tag"
              >
                {{ 'pipeline-publish-state.Published' | translate }}
              </div>
            </div>
          </pipeline-item>
        </li>
      </ul>
    </div>
    <code-editor
      [language]="pipeline.userScripts[0].language"
      [ngModel]="pipeline.userScripts[0].body"
      [readonly]="true"
    ></code-editor>
  </div>
</ng-container>
<ng-template #noScripts>
  <div class="text-center">
    {{ 'pipeline-published-scripts.no-scripts' | translate }}
  </div>
</ng-template>
