@space-unit: 15px;

:host {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: @space-unit;
}

.head {
  display: flex;
  align-items: center;
  > :first-child {
    flex: 1;
  }
  > :not(:first-child) {
    margin-left: @space-unit;
  }
}

.body {
  display: grid;
  grid-template-columns: 1fr 3fr;

  .scripts-container {
    max-height: 560px;
    overflow-y: scroll;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }
}

.published-tag {
  display: inline-block;
  position: absolute;
  top: @space-unit;
  right: @space-unit;
}
