<div class="sandbox-container">
  <div class="sandbox-header">
    <div class="heading">
      <h2>
        {{ sandbox.label }}
        <span class="sandbox-key">({{ sandbox.code }})</span>
      </h2>
    </div>

    <div class="controls">
      <ng-container *ngIf="!editMode; else openControls">
        <a href="javascript:void(0)" (click)="editClicked()">
          <i class="fa fa-edit fa-2x"></i>
        </a>
      </ng-container>

      <ng-template #openControls>
        <ul class="list-unstyled list-inline">
          <li>
            <div class="btn-group">
              <div class="btn-group">
                <button
                  class="btn btn-primary"
                  (click)="onSubmit()"
                  [disabled]="sandboxForm.invalid"
                >
                  {{ 'common.action.save' | translate }}
                </button>
              </div>

              <div class="btn-group" dropdown>
                <button
                  id="dropdown-button"
                  type="button"
                  class="btn btn-primary dropdown-toggle"
                  dropdownToggle
                  aria-controls="tenant-dropdown"
                >
                  <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul
                  *dropdownMenu
                  id="tenant-dropdown"
                  class="dropdown-menu dropdown-menu-right"
                  role="menu"
                  aria-labelledby="dropdown-button"
                >
                  <li role="menuitem">
                    <a
                      class="dropdown-item"
                      href="javascript:void(0)"
                      (click)="deleteClicked.emit(sandbox)"
                    >
                      <i class="fa fa-trash"></i>
                      {{ 'sandbox-config.actions.delete' | translate }}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <button class="btn btn-default mr-xs" (click)="cancelClicked()">
              {{ 'common.action.cancel' | translate }}
            </button>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>

  <ng-container *ngIf="!editMode; else openBody">
    <p class="description">{{ sandbox.description }}</p>
    <strong class="data-set">{{ sandbox.dataSet.label }}</strong>
  </ng-container>
  <ng-template #openBody>
    <form class="form-group" [formGroup]="sandboxForm">
      <div class="row mb-xs">
        <div class="col-md-4">
          <label>{{ 'sandbox-config.fields.label' | translate }}</label>
        </div>
        <div class="col-md-8">
          <input
            *ngIf="!readonly"
            type="text"
            class="form-control"
            name="label"
            formControlName="label"
          />
          <span *ngIf="readonly">
            {{ sandbox.label }}
          </span>
        </div>
      </div>
      <div class="row mb-xs">
        <div class="col-md-4">
          <label>{{ 'sandbox-config.fields.description' | translate }}</label>
        </div>
        <div class="col-md-8">
          <textarea
            *ngIf="!readonly"
            class="form-control"
            name="description"
            formControlName="description"
          >
          </textarea>
          <span *ngIf="readonly">
            {{ sandbox.description }}
          </span>
        </div>
      </div>
      <div class="row mb-sm">
        <div class="col-md-4">
          <label>{{ 'sandbox-config.fields.data-set' | translate }}</label>
        </div>
        <div class="col-md-8">{{ sandbox.dataSet.label }}</div>
      </div>

      <p-accordion [multiple]="true">
        <p-accordionTab
          header="{{
            'sandbox-config.fields.configuration-properties' | translate
          }}"
        >
          <property-override-tree-table
            [form]="sandboxForm"
            [configurationProperties]="sandbox.configurationProperties"
            [readonly]="readonly"
            propertiesArrayName="configurationProperties"
          >
          </property-override-tree-table>
        </p-accordionTab>
        <p-accordionTab
          header="{{
            'sandbox-config.fields.localization-overrides' | translate
          }}"
        >
          <property-override-table
            [form]="sandboxForm"
            [configurationProperties]="localizationOverrides"
            [readonly]="readonly"
            propertiesArrayName="localizationOverrides"
          >
          </property-override-table>
        </p-accordionTab>
      </p-accordion>
    </form>
  </ng-template>
</div>
