<!-- My Groups Advanced Filters -->
<!-- Instructions -->
<p>{{ translateRoot + 'instruct' | translate}}</p>

<div class="flex-children">

  <!-- Test Filters -->
  <div id="filter-by-test" class="flex-child">
    <p class="border-bottom">{{ translateRoot + 'test.label' | translate }}</p>
    <div class="block-children">
      <!-- Off-Grade Assessments -->
      <div class="block-children">
        <label for="off-grade-assessment-toggle">
            <span info-button
                  title="{{ translateRoot + 'test.off-grade-assessment' | translate }}"
                  content="{{ translateRoot + 'test.off-grade-assessment-info' | translate }}"></span>
        </label>
        <sb-toggle name="off-grade-assessment-toggle"
                   [(ngModel)]="filterBy.offGradeAssessment"
                   [options]="[
                           {value: false, text: 'buttons.visibility.show' | translate, analyticsProperties: {label: 'Off-Grade: Show'}},
                           {value: true, text: 'buttons.visibility.hide' | translate, analyticsProperties: {label: 'Off-Grade: Hide'}}
                         ]"></sb-toggle>
      </div>
      <!-- Transfer Assessments -->
      <div class="block-children" *ngIf="showStudentFilter && showTransferAccess">
        <label for="transfer-assessment-toggle">
            <span info-button
                  title="{{ translateRoot + 'test.transfer-assessment' | translate }}"
                  content="{{ translateRoot + 'test.transfer-assessment-info' | translate }}"></span>
        </label>
        <sb-toggle name="transfer-assessment-toggle"
                   [(ngModel)]="filterBy.transferAssessment"
                   [options]="[
                           {value: false, text: 'buttons.visibility.show' | translate, analyticsProperties: {label: 'Transfer-Assessment: Show'}},
                           {value: true, text: 'buttons.visibility.hide' | translate, analyticsProperties: {label: 'Transfer-Assessment: Hide'}}
                         ]"></sb-toggle>
      </div>
    </div>
  </div>

  <!-- Status Filters -->
  <div id="filter-by-status" class="flex-child">
    <p class="border-bottom">{{ translateRoot + 'status.label' | translate }}</p>
    <div class="block-children">
      <!-- Manner of Administration -->
      <div class="block-children">
        <label>
          <span info-button
                title="{{ translateRoot + 'status.administration' | translate }}"
                content="{{ translateRoot + 'status.administration-info' | translate }}"></span>
        </label>
        <sb-radio-button-list [model]="filterBy" [values]="['SD','NS']" property="administration" enum="enum.administrative-condition"
                              label="{{ translateRoot + 'status.label' | translate }}" [disabled]="!filterOptions.hasInterim"
                              analyticsEvent="FilterClick" analyticsCategory="AdvancedFilters"></sb-radio-button-list>
      </div>
      <!-- Summative Status -->
      <div class="block-children" *ngIf="filterOptions.hasSummative">
        <label>
          <span info-button
                title="{{ translateRoot + 'status.summative' | translate }}"
                content="{{ translateRoot + 'status.summative-info' | translate }}"></span>
        </label>
        <sb-radio-button-list [model]="filterBy" [values]="['Valid','IN']" property="summativeStatus" enum="enum.administrative-condition"
                              label="{{ translateRoot + 'status.summative' | translate }}"
                              analyticsEvent="FilterClick" analyticsCategory="AdvancedFilters"></sb-radio-button-list>
      </div>
      <!-- Completion -->
      <div class="block-children">
        <label>
          <span info-button
                title="{{ translateRoot + 'status.completion' | translate }}"
                content="{{ translateRoot + 'status.completion-info' | translate }}"></span>
        </label>
        <sb-radio-button-list [model]="filterBy" [values]="['Complete','Partial']" property="completion" enum="enum.completeness"
                              label="{{ translateRoot + 'status.completion' | translate }}"
                              analyticsEvent="FilterClick" analyticsCategory="AdvancedFilters"></sb-radio-button-list>
      </div>
    </div>
  </div>

  <!-- Student Filters -->
  <div *ngIf="showStudentFilter" id="filter-by-student" class="flex-child grow">
    <p class="border-bottom">{{ translateRoot + 'student.label' | translate }}</p>
    <div class="flex-children">
      <!-- Column 1 -->
      <div class="flex-child col1 no-margin">
        <!-- Gender -->
        <div class="block-children">
          <label>
            <span info-button
                  title="{{ translateRoot + 'student.gender' | translate }}"
                  content="{{ translateRoot + 'student.gender-info' | translate }}"></span>
          </label>
          <sb-radio-button-list [model]="filterBy" [values]="['Male','Female']" property="gender" enum="enum.gender"
                                label="{{ translateRoot + 'student.gender' | translate }}"
                                analyticsEvent="FilterClick" analyticsCategory="AdvancedFilters"></sb-radio-button-list>
        </div>
        <!-- Migrant Status -->
        <div class="block-children">
          <label>
            <span info-button
                  title="{{ translateRoot + 'student.migrant-status' | translate }}"
                  content="{{ translateRoot + 'student.migrant-status-info' | translate }}"></span>
          </label>
          <sb-radio-button-list [model]="filterBy" [values]="[1,2]" property="migrantStatus" enum="enum.polar"
                                label="{{ translateRoot + 'student.migrant-status' | translate }}"
                                analyticsEvent="FilterClick" analyticsCategory="AdvancedFilters"></sb-radio-button-list>
        </div>
        <!-- 504 Plan -->
        <div class="block-children">
          <label>
            <span info-button
                  title="{{ translateRoot + 'student.504-plan' | translate }}"
                  content="{{ translateRoot + 'student.504-plan-info' | translate }}"></span>
          </label>
          <sb-radio-button-list [model]="filterBy" [values]="[1,2]" property="plan504" enum="enum.polar"
                                label="{{ translateRoot + 'student.504-plan' | translate }}"
                                analyticsEvent="FilterClick" analyticsCategory="AdvancedFilters"></sb-radio-button-list>
        </div>
      </div>
      <!-- Column 2 -->
      <div class="flex-child col2 no-margin">
        <!-- Economic Disadvantage -->
        <div class="block-children">
          <label>
            <span info-button
                  title="{{ translateRoot + 'student.economic-disadvantage' | translate }}"
                  content="{{ translateRoot + 'student.economic-disadvantage-info' | translate }}"></span>
          </label>
          <sb-radio-button-list [model]="filterBy" [values]="[1,2]" property="economicDisadvantage" enum="enum.polar"
                                label="{{ translateRoot + 'student.economic-disadvantage' | translate }}"
                                analyticsEvent="FilterClick" analyticsCategory="AdvancedFilters"></sb-radio-button-list>
        </div>
        <!-- Limited English Proficiency -->
        <div class="block-children">
          <label>
            <span info-button
                  title="{{ translateRoot + 'student.limited-english-proficiency' | translate }}"
                  content="{{ translateRoot + 'student.limited-english-proficiency-info' | translate }}"></span>
          </label>
          <sb-radio-button-list [model]="filterBy" [values]="[1,2]" property="limitedEnglishProficiency" enum="enum.polar"
                                label="{{ translateRoot + 'student.limited-english-proficiency' | translate }}"
                                analyticsEvent="FilterClick" analyticsCategory="AdvancedFilters"></sb-radio-button-list>
        </div>
        <!-- IEP -->
        <div class="block-children">
          <label>
            <span info-button
                  title="{{ translateRoot + 'student.iep' | translate }}"
                  content="{{ translateRoot + 'student.iep-info' | translate }}"></span>
          </label>
          <sb-radio-button-list [model]="filterBy" [values]="[1,2]" property="iep" enum="enum.polar"
                                label="{{ translateRoot + 'student.iep' | translate }}"
                                analyticsEvent="FilterClick" analyticsCategory="AdvancedFilters"></sb-radio-button-list>
        </div>
      </div>
      <!-- Column 3 -->
      <div class="flex-child col3 no-margin">
        <!-- Race / Ethnicity -->
        <div class="block-children">
          <label>
            <span info-button
                  title="{{ translateRoot + 'student.ethnicity' | translate }}"
                  content="{{ translateRoot + 'student.ethnicity-info' | translate }}"></span>
          </label>
          <sb-checkbox-list [model]="filterBy" [values]="filterOptions.ethnicities" property="ethnicities" enum="enum.ethnicity"
                            label="{{ translateRoot + 'student.ethnicity' | translate }}"
                            analyticsEvent="FilterClick" analyticsCategory="AdvancedFilters"></sb-checkbox-list>
        </div>
      </div>
    </div>
  </div>
</div>
