<div class="row">
  <div class="col-md-12">
    <h2 class="h3 gray-darkest pull-left">
      <i class="fa fa-tasks"></i> {{'adv-filters.label' | translate }}
    </h2>
    <p class="pull-left">{{'adv-filters.subhead' | translate }}</p>
    <button id="adv-filters-expand-collapse" class="btn btn-default btn-sm pull-right"
            (click)="displayOptions.expanded = !displayOptions.expanded"
            angulartics2On="click" angularticsEvent="ToggleExpandCollapse" angularticsCategory="AdvancedFilters">
      {{'common.action.' + (displayOptions.expanded ? 'collapse' : 'expand') | translate }}
      <i class="fa"
         [ngClass]="{'fa-caret-square-o-up': displayOptions.expanded, 'fa-caret-square-o-down': !displayOptions.expanded}"
         aria-hidden="true"></i>
    </button>
  </div>
</div>

<!-- Selected Filters -->
<div class="row">
  <div class="col-md-12">
    <div id="adv-filters-selected" class="flex-children">
      <div *ngFor="let property of filterBy.all">
        <a class="tag tag-xs aqua reverse"
           href="javascript:void(0)"
           (click)="removed.emit(property)"
           angulartics2On="click" angularticsEvent="RemoveFilter" angularticsCategory="AdvancedFilters">
          <span><strong>{{ selectedFilter(property) | translate}}</strong> {{ filters[filterIndex(property)].label | translate }}</span>
          <span class="icon"><i class="fa fa-close"></i></span>
        </a>
      </div>
    </div>
  </div>
</div>
