<page-heading>
  <h1 class="h2" heading>{{ 'isr-template.title' | translate }}</h1>
  <ul class="list-unstyled list-inline" controls>
    <li>
      <a
        class="btn btn-secondary download-ref-temp"
        href="/assets/template/reference-template.pdf"
        download="/assets/template/reference-template.pdf"
        title="{{ 'isr-template.reference-template' | translate }}"
        tooltip="{{ 'isr-template.reference-tooltip' | translate }}"
        ><i class="fa fa-cloud-download" aria-hidden="false"></i>
        {{ 'isr-template.reference-template' | translate }}</a
      >
    </li>
  </ul>
</page-heading>

<ng-container>
  <ng-container>
    <div *ngIf="unableToUpload" class="alert alert-danger">
      <button
        type="button"
        class="close"
        title="{{ 'common.action.close' | translate }}"
        (click)="closeErrorAlert()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      {{ 'test-results-change-status.error-changing-results' | translate }}
    </div>
    <div *ngIf="showSandboxAlert" class="alert alert-warning">
      <button
        type="button"
        class="close"
        title="{{ 'common.action.close' | translate }}"
        (click)="closeSandboxAlert()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      {{ 'isr-template.is-sandbox-upload' | translate }}
    </div>

    <div class="well well-results">
      <div class="table-list-container">
        <p-table
          [columns]="columns"
          [value]="isrTemplates"
          sortField="name"
          [autoLayout]="true"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th
                *ngFor="let column of columns"
                [pSortableColumn]="column.field"
                [pSortableColumnDisabled]="!column.sortable"
                [ngSwitch]="column.id"
              >
                <span *ngSwitchDefault>
                  {{ 'isr-template.columns.' + column.id | translate }}
                </span>

                <p-sortIcon
                  *ngIf="column.sortable"
                  [field]="column.field"
                ></p-sortIcon>
              </th>
              <th style="width:15%;">
                {{ 'isr-template.action-header' | translate }}
              </th>
            </tr>
          </ng-template>

          <ng-template
            pTemplate="body"
            let-group
            let-rowData
            let-columns="columns"
          >
            <tr>
              <td *ngFor="let column of columns" [ngSwitch]="column.id">
                <span *ngSwitchDefault>
                  {{ group[column.field] }}
                </span>
                <span *ngSwitchCase="'status'" [ngClass]="getStatus(rowData)">
                  {{ group[column.field] }}
                </span>
              </td>
              <td>
                <span>
                  <input
                    type="file"
                    #fileInput
                    style="display:none;"
                    ng2FileSelect
                    [uploader]="fileUploader"
                    (onFileSelected)="onFileSelected($event)"
                  />
                  <a
                    (click)="fileInput.click()"
                    href="javascript:void(0)"
                    title="{{
                      'isr-template.upload-template-title' | translate
                    }}"
                    ><i
                      class="fa fa-upload"
                      aria-hidden="true"
                      title="{{
                        'isr-template.upload-template-title' | translate
                      }}"
                    ></i>
                  </a>

                  <ng-container>
                    <span *ngIf="showIcons(rowData)">
                      <a
                        href="/assets/template/test-template.csv"
                        download="/assets/template/test-template.csv"
                        ><i
                          class="fa fa-cloud-download"
                          title="{{
                            'isr-template.download-template-title' | translate
                          }}"
                        ></i>
                      </a>
                    </span>
                  </ng-container>

                  <span *ngIf="showIcons(rowData)">
                    <a
                      href="javascript:void(0);"
                      (click)="openDeleteTemplateModal(rowData)"
                      title="{{
                        'isr-template.remove-template-title' | translate
                      }}"
                      ><i
                        class="fa fa-ban"
                        title="{{
                          'isr-template.remove-template-title' | translate
                        }}"
                      ></i>
                    </a>
                  </span>
                </span>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="columns.length">
                {{ 'isr-template.empty-message' | translate }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </ng-container>
</ng-container>
