<div *ngFor="let districtTree of model.children" class="district-tree">

  <a *ngIf="districtTree.value.name" (click)="onClick(districtTree.value)" href="javascript:void(0)">
    <h3>{{districtTree.value.name}} <span class="icon"><i class="fa fa-close"></i></span></h3>
  </a>

  <div *ngFor="let schoolGroupTree of districtTree.children" class="school-group-tree ml-xs">

    <a *ngIf="schoolGroupTree.value.name" (click)="onClick(schoolGroupTree.value)" href="javascript:void(0)">
      <h4>{{schoolGroupTree.value.name}} <span class="icon"><i class="fa fa-close"></i></span></h4>
    </a>

    <div class="flex-children">

      <a *ngFor="let schoolTree of schoolGroupTree.children" class="school-tree tag tag-xs" (click)="onClick(schoolTree.value)" href="javascript:void(0)">
        <span class="pr-xs"></span> {{schoolTree.value.name}} <span class="icon"><i class="fa fa-close"></i></span>
      </a>

    </div>

  </div>

</div>
