<div class="students-view-container">
  <div class="row">
    <div class="col-md-12">
      <a routerLink="/groups">My Groups</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">

      <div *ngIf="group" class="students-view">
        <h3>{{group.name}}</h3>

        <div *ngIf="group.students" class="students list-group">
          <a *ngFor="let student of group.students" class="student list-group-item" routerLink="/groups/{{group.id}}/students/{{student.id}}/exams">
            {{student.lastName}}, {{student.firstName}}
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
