<breadcrumbs [values]="context.breadcrumbs"></breadcrumbs>

<div class="students-view">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div *ngIf="group" class="card students-card">
          <h2>{{group.name}}</h2>
          <div *ngIf="group.students.length > 10" class="inner-addon left-addon search-box">
            <label class="sr-only" for="search">Search</label>
            <i class="glyphicon glyphicon-search"></i>
            <input class="search form-control" id="search" type="text" placeholder="Search" autocomplete="off"
                   [value]="x?x:''"
                   (input)="x = $event.target.value">
          </div>
          <div *ngIf="group.students" class="studentSummaries list-group">
            <a #link *ngFor="let student of group.students | search:(x?x:''):['lastName', 'firstName', 'ssid']" class="student list-group-item" routerLink="/groups/{{group.id}}/students/{{student.id}}/exams">
              {{student.lastName}}, {{student.firstName}} <span class="ssid pull-right">{{student.ssid}}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
