<breadcrumbs [values]="(context|async)?.breadcrumbs"></breadcrumbs>

<div class="students-view">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="page-heading">
          <div class="row">
            <div class="col-md-8">

              <h2>{{(context|async)?.group.name}}</h2>

              <a class="controls btn btn-primary" routerLink="/groups/{{(context|async)?.group.id}}/exams">
                <i class="glyphicon glyphicon-stats"></i> {{'labels.aggregate.link' | translate}}
              </a>

            </div>
            <div class="col-md-4">

              <div class="controls">

                <div *ngIf="(context|async)?.group.students.length > 2" class="inner-addon left-addon search-box">
                  <label class="sr-only" for="search">{{'prompt.search' | translate}}</label>
                  <i class="glyphicon glyphicon-search"></i>
                  <input [(ngModel)]="searchTerm" class="search form-control" id="search" type="text" placeholder="{{'prompt.search' | translate}}" autocomplete="off">
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="card students-card">

          <!--<div *ngIf="group.students" class="studentSummaries list-group">-->
          <!--<a #link *ngFor="let student of group.students | search:(x?x:''):['lastName', 'firstName', 'ssid']" class="student list-group-item" routerLink="/groups/{{group.id}}/students/{{student.id}}/exams">-->
          <!--{{student.lastName}}, {{student.firstName}} <span class="ssid pull-right">{{student.ssid}}</span>-->
          <!--</a>-->
          <!--</div>-->

          <table class="table table-striped">
            <thead>
              <tr>
                <th>{{'labels.student.name' | translate}}</th>
                <th class="text-center">{{'labels.student.ssid' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of (context|async)?.group.students | search:searchTerm:['lastName', 'firstName', 'ssid']">
                <td><a routerLink="/groups/{{(context|async)?.group.id}}/students/{{student.id}}/exams">{{student.lastName}},
                  {{student.firstName}}</a></td>
                <td class="text-center">{{student.ssid}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
