<input type="text"
       class="form-control"
       (focus)="onFocusInternal()"
       (blur)="onBlurInternal()"
       (change)="onChangeInternal()"
       [(ngModel)]="search"
       [typeahead]="options"
       [typeaheadMinLength]="0"
       [typeaheadOptionsLimit]="null"
       [typeaheadOptionsInScrollableView]="10"
       (typeaheadOnSelect)="onSelectInternal($event)"
       typeaheadOptionField="label"
       typeaheadGroupField="group"
       typeaheadLatinize="false"
       typeaheadScrollable="true"
       [placeholder]="value ? value.label : ('school-typeahead.placeholder' | translate)"
       autocomplete="off">
