<form class="form"
      *ngIf="initialized">

  <div class="flex-children">

    <div class="flex-child">
      <div class="form-group">
        <label>{{'student-search-form.school-label' | translate}}</label>
        <select name="school"
                class="form-control"
                [(ngModel)]="value.school"
                (ngModelChange)="onSchoolChange()">
          <option [ngValue]="undefined"></option>
          <option *ngFor="let school of options.schools"
                  [ngValue]="school">{{school.name}}</option>
        </select>
      </div>
    </div>

    <div class="flex-child">
      <div class="form-group">
        <label>{{'student-search-form.group-label' | translate}}</label>
        <select name="group"
                class="form-control"
                [(ngModel)]="value.group"
                (ngModelChange)="onGroupChange()">
          <option [ngValue]="undefined"></option>
          <option *ngFor="let group of options.groups"
                  [ngValue]="group">{{group.name}}</option>
        </select>
      </div>
    </div>

    <div class="flex-child grow">
      <div class="form-group">
        <label>{{'student-search-form.name-ssid-label' | translate}}</label>
        <input type="text"
               name="name"
               class="form-control"
               [(ngModel)]="value.name"
               (ngModelChange)="onNameChange()"
               autocomplete="off">
      </div>
    </div>

    <div class="flex-child text-right">
      <label>{{'advanced-filters.label' | translate}} </label>
      <button id="advanced"
              class="form-control btn btn-sm btn-default"
              (click)="onAdvancedFiltersToggleClick()">
        {{(showAdvancedFilters ? 'common.action.hide' : 'common.action.show') | translate}}
        <i *ngIf="advancedFilterCount === 0"
           aria-hidden="true"
           class="fa ml-xs"
           [ngClass]="showAdvancedFilters ? 'fa-caret-square-o-up' : 'fa-caret-square-o-down'"></i>
        <div *ngIf="advancedFilterCount > 0"
             class="badge aqua ml-xs">{{advancedFilterCount}}</div>
      </button>
    </div>

  </div>

</form>
