<h1>Color Palette</h1>
<div class="label blue-dark">blue-dark | #04384E</div>
<div class="label denim">denim | #00607D</div>
<div class="label blue">blue | #006298</div>
<div class="label teal">teal | #007C9E</div>
<div class="label aqua">aqua | #2B7BB5</div>
<div class="label cerulean">cerulean | #4DABC4</div>
<div class="label blue-bright">blue-bright | #0EB2E8</div>
<div class="label sky">sky | #00B4EB</div>
<div class="label pine">pine | #275E1D</div>
<div class="label green-dark">green-dark | #246A34</div>
<div class="label emerald">emerald | #368129</div>
<div class="label green">green | #30841F</div>
<div class="label cyan">cyan | #44AA94</div>
<div class="label moss">moss | #96BC27</div>
<div class="label fern">fern | #63C853</div>
<div class="label green-bright">green-bright | #59C924</div>
<div class="label yellow-gold">yellow-gold | #D99F00</div>
<div class="label yellow">yellow | #ECCB1A</div>
<div class="label yellow-mustard">yellow-mustard | #F3CA51</div>
<div class="label maroon">maroon | #5B1931</div>
<div class="label purple-dark">purple-dark | #611568</div>
<div class="label red-dark">red-dark | #8A1538</div>
<div class="label purple">purple | #A5508C</div>
<div class="label orange">orange | #B15E15</div>
<div class="label cobalt">cobalt | #4449BE</div>
<div class="label red">red | #D5124A</div>
<div class="label pink-dark">pink-dark | #DC5561</div>
<div class="label pink">pink | #ECA8B0</div>
<div class="label red-apple">red-apple | #EF4522</div>
<div class="label red-bright">red-bright | #F35031</div>
<div class="label black">black | #000000</div>
<div class="label gray-darkest">gray-darkest | #2A2B2D</div>
<div class="label gray-darker">gray-darker | #84888D</div>
<div class="label gray-dark">gray-dark | #A7A7A7</div>
<div class="label gray">gray | #B8B8B8</div>
<div class="label gray-light">gray-light | #D5D5D5</div>
<div class="label gray-lighter">gray-lighter | #E6E6E6</div>
<div class="label gray-lightest">gray-lightest | #F8F8F8</div>
<div class="label white">white | #FFFFFF</div>
<div class="label sb-iab-red">sb-iab-red | #750f2c</div>
<div class="label sb-iab-green">sb-iab-green | #2c7f3e</div>
<div class="label sb-iab-yellow">sb-iab-yellow | #eccb1a</div>
