<div>
  <div class="well">
    <div ng2FileDrop
         *ngIf="!uploader.isUploading"
         class="my-drop-zone point"
         [class.nv-file-over]="hasDropZoneOver"
         [uploader]="uploader"
         (fileOver)="hasDropZoneOver = $event"
    >
      <div class="text-center pt-lg pb-lg">
        <span class="gray-dark">
          <i class="fa fa-cloud-upload"></i>
          Drag and drop to upload or <a href="javascript:void(0)" (click)="openFileDialog()">browse for files</a>
        </span>

      </div>
    </div>
    <div *ngIf="uploader.isUploading">
      <div class="loader">
        <div class="text-center pt-lg pb-lg inner">
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i><span class="text">Sending...</span>
        </div>
      </div>
    </div>
    <div hidden>
      <input #fileDialog type="file" ng2FileSelect [uploader]="uploader" multiple />
    </div>
  </div>

  <div class="well">
    <div class="flex-child grow">
      <label>{{'labels.admin.batch-list' | translate }}</label>
    </div>
    <div class="my-groups-list-container">
      <p-dataTable [value]="studentGroupBatches" emptyMessage="empty" sortField="id" sortOrder="-1" tableStyleClass="table table-striped table-hover" [tableStyle]="{'table-layout':'auto'}" >
        <p-column field="id" header="Id" [sortable]="true"></p-column>
        <p-column field="digest" header="Digest" [sortable]="true"></p-column>
        <p-column field="status" header="Status" [sortable]="true"></p-column>
        <p-column field="created" header="Created" [sortable]="true">
          <ng-template let-import="rowData" pTemplate="body">
            {{ import.created | date }}
          </ng-template>
        </p-column>
        <p-column field="message" header="Message" [sortable]="true"></p-column>
      </p-dataTable>
    </div>
  </div>

</div>
