<div class="exams category-{{category.id}}">
  <h2>{{context.student.lastName}}, {{context.student.firstName}}</h2>
  <form class="form-inline">

    <div class="form-group" *ngIf="category.sortedAcademicYears && category.sortedAcademicYears.length > 1">
      <label for="category-{{category.id}}-academic-year-filter" class="sr-only">{{'labels.assessment.academicYear' | translate}}</label>
      <select (change)="onSelectAcademicYear($event.target.value)" name="selectedAcademicYear" id="category-{{category.id}}-academic-year-filter" class="form-control">
        <option [value]="null">{{'labels.assessment.academicYear' | translate}}</option>
        <option *ngFor="let year of category.sortedAcademicYears" [value]="year">{{year}} - {{(year + 1).toString().substr(-2)}}</option>
      </select>
    </div>
    <div class="form-group" *ngIf="category.sortedAssessmentTypes && category.sortedAssessmentTypes.length > 1">
      <label for="category-{{category.id}}-assessment-type-filter" class="sr-only">{{'labels.assessment.type' | translate}}</label>
      <select (change)="onSelectAssessmentType($event.target.value)"  id="category-{{category.id}}-assessment-type-filter" class="form-control">
        <option [value]="null">{{'labels.assessment.type' | translate}}</option>
        <option *ngFor="let type of category.sortedAssessmentTypes" [value]="type">{{'assessment.types.' + type + '.shortName' | translate}}
        </option>
      </select>
    </div>
    <div class="form-group" *ngIf="category.sortedEnrolledGrades && category.sortedEnrolledGrades.length > 1">
      <label for="category-{{category.id}}-enrolled-grade-filter" class="sr-only">{{'labels.exam.grade' | translate}}</label>
      <select (change)="onSelectEnrolledGrade($event.target.value)"  id="category-{{category.id}}-enrolled-grade-filter" class="form-control">
        <option [value]="null">{{'labels.exam.grade' | translate}}</option>
        <option *ngFor="let grade of category.sortedEnrolledGrades" [value]="grade">{{grade}}</option>
      </select>
    </div>
  </form>

  <!-- tables will differ per category all,iab,ica,summative -->

  <table *ngIf="filteredExams.length" class="table table-striped">
    <thead>
      <tr>
        <th>{{'labels.exam.date' | translate}}</th>
        <th>{{'labels.assessment.name' | translate}}</th>
        <th>{{'labels.assessment.academicYear' | translate}}</th>
        <th>{{'labels.assessment.subject' | translate}}</th>
        <th class="text-center">{{'labels.exam.grade' | translate}}</th>
        <th>{{'labels.exam.performance' | translate}}</th>
        <th class="text-center">{{'labels.exam.score' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exam of filteredExams" class="assessment-type-{{exam.assessment.type}}">
        <td>{{exam.date | date:'dd-MMM-yy'}}</td>
        <td>
          <a routerLink="/groups/{{context.group.id}}/students/{{context.student.id}}/exams/{{exam.id}}/items">
            {{'labels.assessment.grade' | translate}}
            {{exam.assessment.grade}}
            {{'assessment.types.' + exam.assessment.type + '.shortName' | translate}}
            {{exam.assessment.name}}
          </a>
        </td>
        <td>{{exam.assessment.academicYear}} - {{(exam.assessment.academicYear + 1).toString().substr(-2)}}</td>
        <td>{{'assessment.subjects.' + exam.assessment.subject + '.shortName' | translate}}</td>
        <td class="text-center">{{exam.grade}}</td>
        <td>{{'assessment.types.' + exam.assessment.type + '.performanceLevels.' + exam.performance | translate}}</td>
        <td class="text-center"><span class="badge performance-level-{{exam.performance}}">{{exam.score}}</span></td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="!filteredExams.length">
    {{'messages.noExamsMatchingCriteria' | translate}}
  </p>
</div>
