<page-heading>
  <ng-template #heading>
    <h2>{{'admin-groups.import.file-format.header' | translate}}</h2>
  </ng-template>
</page-heading>

<div class="well">
  <h3>{{'admin-groups.import.file-format.rules.header' | translate}}</h3>
  <div [innerHTML]="'admin-groups.import.file-format.rules.body-html' | translate"></div>
  <div class="mt-md ml-md">
    <ul class="list-unstyled list-inline">
      <li>
        <button class="btn btn-default btn-sm" (click)="downloadTemplateFile()"><i class="fa fa-file-text-o"></i> {{'admin-groups.import.file-format.template.button' | translate}}</button>
      </li>
      <li>
        <a class="btn btn-default btn-sm" href="javascript:void(0)"><i class="fa fa-file-o"></i> {{'common.navigation.user-guide' | translate}}</a>
      </li>
    </ul>
  </div>
</div>
