<page-heading>
  <h1 class="h2" heading>{{ 'file-format.header' | translate }}</h1>
</page-heading>

<div class="well">
  <h3>{{ 'file-format.rule-header' | translate }}</h3>
  <div [innerHTML]="'file-format.rule-body-html' | translate"></div>
  <div class="mt-md ml-md">
    <ul class="list-unstyled list-inline">
      <li>
        <button class="btn btn-default btn-sm" (click)="downloadTemplateFile()">
          <i class="fa fa-file-text-o"></i>
          {{ 'file-format.template-button' | translate }}
        </button>
      </li>
      <li>
        <a class="btn btn-default btn-sm" href="javascript:void(0)"
          ><i class="fa fa-file-o"></i>
          {{ 'common.navigation.user-guide' | translate }}</a
        >
      </li>
    </ul>
  </div>
</div>
