<div class="btn-group"
     [ngClass]="{'open': open}">
  <button type="button"
          (click)="open = !open"
          class="btn btn-info icon-only btn-xs dropdown-toggle"
          aria-haspopup="true"
          aria-expanded="false">
    <span class="sr-only">{{'labels.menu' | translate}}</span>
    <i class="fa fa-ellipsis-v"></i>
  </button>
  <ul *ngIf="open" class="dropdown-menu" role="menu">
    <li *ngFor="let action of actions; let idx = index" role="menuitem">

      <a class="dropdown-item" popover="{{action.tooltip(item)}}" triggers="{{ action.tooltip(item) == '' ? '': 'mouseenter:mouseleave'}}" placement="right" container="body">
        <button
          [disabled]="action.isDisabled(item)"
          (click)="onMenuClick($event, action)"
          class="btn btn-default btn-borderless">{{action.displayName(item)}}</button>
      </a>
    </li>
  </ul>
</div>
