<p-dataTable #datatable
             [value]="embargoes"
             sortField="organization.name"
             tableStyleClass="table table-striped table-hover"
             [tableStyle]="{'table-layout':'auto'}">

  <p-column field="organization.name" header="{{translateContext + '.headers.name' | translate}}" [sortable]="hasMultipleEmbargoes">

    <ng-template let-embargo="rowData" pTemplate="body">
      {{embargo.organization.name}}
    </ng-template>
  </p-column>

  <p-column *ngFor="let subjectCode of subjectCodes" field="examCountsBySubject.{{subjectCode}}" styleClass="text-right" [sortable]="hasMultipleEmbargoes">

    <ng-template pTemplate="header">
      <span class="pull-right">{{translateContext + '.headers.' + subjectCode | translate}}</span>
    </ng-template>

    <ng-template let-embargo="rowData" pTemplate="body">
      {{embargo.examCountsBySubject[subjectCode] | number}}
    </ng-template>
  </p-column>

  <p-column field="individualEnabled" styleClass="text-right" [sortable]="hasMultipleEmbargoes && !overridingEmbargoReleasedIndividual">

    <ng-template pTemplate="header" styleClass="pull-right">
      <span class="pull-right">{{translateContext + '.headers.individualEnabled' | translate}}</span>
    </ng-template>

    <ng-template let-embargo="rowData" pTemplate="body">

      <span *ngIf="overridingEmbargoReleasedIndividual" class="label border-only blue">
        {{'labels.embargo.released-by-state' | translate}}
      </span>

      <span *ngIf="!overridingEmbargoReleasedIndividual && embargo.readonly" class="label border-only blue">
        {{('labels.embargo.toggle.' + embargo.individualEnabled) | translate}}
      </span>

      <toggle *ngIf="!overridingEmbargoReleasedIndividual && !embargo.readonly"
              #toggle
              (click)="toggleIndividual(toggle, embargo)"
              [value]="embargo.individualEnabled"
              [options]="[
                { value: true, text: 'labels.embargo.toggle.true' | translate },
                { value: false, text: 'labels.embargo.toggle.false' | translate }
              ]">
      </toggle>
    </ng-template>
  </p-column>

  <p-column field="aggregateEnabled" styleClass="text-right" [sortable]="hasMultipleEmbargoes && !overridingEmbargoReleasedAggregate">

    <ng-template pTemplate="header">
      <span class="pull-right">{{translateContext + '.headers.aggregateEnabled' | translate}}</span>
    </ng-template>

    <ng-template let-embargo="rowData" pTemplate="body">

      <span *ngIf="overridingEmbargoReleasedAggregate" class="label border-only blue">
        {{'labels.embargo.released-by-state' | translate}}
      </span>

      <span *ngIf="!overridingEmbargoReleasedAggregate && embargo.readonly" class="label border-only blue">
        {{('labels.embargo.toggle.' + embargo.aggregateEnabled) | translate}}
      </span>

      <toggle *ngIf="!overridingEmbargoReleasedAggregate && !embargo.readonly"
              #toggle
              (click)="toggleAggregate(toggle, embargo)"
              [value]="embargo.aggregateEnabled"
              [disabled]="embargo.readonly"
              [options]="[
                { value: true, text: 'labels.embargo.toggle.true' | translate },
                { value: false, text: 'labels.embargo.toggle.false' | translate }
              ]">
      </toggle>
    </ng-template>
  </p-column>

</p-dataTable>
