<page-heading>
  <ng-template #heading>
    <h2>{{'embargo.title' | translate}}</h2>
  </ng-template>
</page-heading>

<div class="well" *ngIf="stateEmbargo">
  <div class="well-body mt-sm">
    <embargo-table translateContext="embargo.state.table"
                   [embargoes]="[stateEmbargo]"
                   (toggle)="confirmToggle($event)"></embargo-table>
  </div>
</div>

<div class="well" *ngIf="districtEmbargoes">
  <div class="well-body mt-xsm">
    <embargo-table translateContext="embargo.district.table"
                   [embargoes]="districtEmbargoes"
                   [overridingEmbargo]="stateEmbargo"
                   (toggle)="confirmToggle($event)"></embargo-table>
  </div>
</div>


