<ng-content select="[label]"></ng-content>

<div class="controls">
  <input
    id="search"
    name="search"
    type="text"
    placeholder="{{ 'sandbox-config.fields.search' | translate }}"
    class="form-control"
    (input)="search.emit($event.target.value)"
  />

  <label>
    <input
      id="required"
      name="required"
      type="checkbox"
      [value]="required"
      (change)="requiredChanged.emit($event.target.value)"
    />
    {{ 'sandbox-config.config-properties.required' | translate }}
  </label>

  <label>
    <input
      id="modified"
      name="modified"
      type="checkbox"
      [value]="modified"
      (change)="modifiedChanged.emit($event.target.value)"
    />
    {{ 'sandbox-config.config-properties.modified' | translate }}
  </label>
</div>
