<div class="controls">
  <div class="input-group">
    <span class="input-group-addon">
      <i class="fa fa-search"></i>
    </span>
    <input
      id="search"
      name="search"
      type="text"
      placeholder="{{ 'sandbox-config.fields.search' | translate }}"
      class="form-control"
      (input)="search.emit($event.target.value)"
    />
  </div>

  <label>
    <input
      id="required"
      name="required"
      type="checkbox"
      [value]="required"
      (change)="requiredChanged.emit($event.target.value)"
    />
    {{ 'sandbox-config.config-properties.required' | translate }}
  </label>

  <label>
    <input
      id="modified"
      name="modified"
      type="checkbox"
      [value]="modified"
      (change)="modifiedChanged.emit($event.target.value)"
    />
    {{ 'sandbox-config.config-properties.modified' | translate }}
  </label>
</div>
