<breadcrumbs [values]="breadcrumbs"></breadcrumbs>

<div *ngIf="item" class="student-exam-items-view">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="page-heading">

          <h2>{{'labels.item.number' | translate}}{{item.number}} {{item.name}}</h2>

          <span class="attributes">
            <span class="attribute"><span>Subject:</span> <span class="attribute-value">{{'assessment.subjects.' + exam.assessment.subject + '.shortName' | translate}}</span></span>
            <span class="attribute"><span>Target:</span> <span class="attribute-value">{{item.target}}</span></span>
            <span class="attribute"><span>Max Score:</span> <span class="attribute-value">{{item.maximumScore}}</span></span>
          </span>

        </div>

        <div *ngIf="item.results" class="card student-exam-items-card">
          <div class="table-wrapper">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>{{'labels.student.name' | translate}}</th>
                <th class="text-center">{{'labels.exam.grade' | translate}}</th>
                <th class="text-center">Student Score</th>
                <th>{{'labels.exam.date' | translate}}</th>
                <th>{{'labels.exam.session' | translate}}</th>
                <th class="text-center">{{'labels.exam.attempt' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of item.results">
                <td>{{item.student.lastName}}, {{item.student.firstName}}</td>
                <td class="text-center">{{item.exam.grade}}</td>
                <td class="text-center">{{item.score}}</td>
                <td>{{item.exam.date | date:'dd-MMM-yy'}}</td>
                <td>{{item.exam.session}}</td>
                <td class="text-center">{{item.exam.attempt}}</td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>

        <div class="expandable">
          <span class="expand-control">
            <i class="glyphicon glyphicon-resize-full"></i>
          </span>
          <tabset>
            <tab heading="Item Viewer">
              <div style="overflow-x:hidden;overflow-y:scroll">
                <img src="../../assets/image/IRIS2.png" style="width:50%;margin:-64px -90px">
              </div>
            </tab>
            <tab heading="Rubric and Exemplar">

            </tab>
            <tab heading="Item Information">

            </tab>
          </tabset>
        </div>

      </div>
    </div>
  </div>
</div>
