<a
  href="javascript:void(0)"
  class="status-{{ tenant.status.toLowerCase() }}"
  (click)="$event.stopPropagation(); tenantClick.emit(tenant)"
  *ngIf="{
    active: tenant.status === 'ACTIVE',
    failed: tenant.status === 'FAILED',
    processing: tenant.status !== 'ACTIVE' && tenant.status !== 'FAILED'
  } as status"
>
  <div class="head">
    <h2 class="h3">
      {{ tenant.label }}
      <span class="sandbox-key">({{ tenant.code }})</span>
    </h2>
    <div class="menu">
      <div
        class="label border-only"
        [ngClass]="{
          'blue-dark': status.active,
          aqua: status.processing,
          maroon: status.failed
        }"
      >
        <i *ngIf="status.processing" class="fa fa-spinner fa-pulse"></i>
        {{ 'common.tenant-status.' + tenant.status | translate }}
      </div>
      <button
        *ngIf="status.failed"
        type="button"
        class="btn btn-danger btn-xs"
        (click)="$event.stopPropagation(); tenantDelete.emit(tenant)"
      >
        {{ 'common.action.delete' | translate }}
      </button>
    </div>
  </div>
  <div class="body">
    <!-- TODO add created date -->
    <p class="description">
      {{ tenant.description }}
    </p>
    <strong class="data-set" *ngIf="tenant.dataSet != null">
      {{ tenant.dataSet.label }}
    </strong>
  </div>
</a>
