<div
  class="tenant-link status-{{ tenant.status.toLowerCase() }}"
  *ngIf="{
    active: tenant.status === 'ACTIVE',
    failed: tenant.status.endsWith('FAILED'),
    editable: tenant.status === 'ACTIVE' || tenant.status === 'UPDATE_FAILED',
    deletable:
      tenant.status === 'CREATE_FAILED' || tenant.status === 'DELETE_FAILED',
    processing: tenant.status !== 'ACTIVE' && !tenant.status.endsWith('FAILED'),
    creating: tenant.status.startsWith('CREATE'),
    updating: tenant.status.startsWith('UPDATE'),
    deleting: tenant.status.startsWith('DELETE')
  } as status"
>
  <div class="head">
    <h2 class="h3">
      {{ tenant.label }}
      <span class="sandbox-key">({{ tenant.code }})</span>
    </h2>
    <ng-container *ngIf="status.processing; else notProcessing">
      <span
        class="processing-status"
        [ngClass]="{
          green: status.creating,
          aqua: status.updating,
          red: status.deleting
        }"
      >
        <i class="fa fa-spinner fa-pulse"></i>
        {{
          'common.tenant-status.' + tenant.status
            | translate
              : {
                  tenantType: 'tenant-type.' + tenant.type | translate
                }
        }}
      </span>
    </ng-container>
    <ng-template #notProcessing>
      <div class="controls">
        <div
          *ngIf="status.failed"
          class="label border-only red"
          [popover]="errorsPopover"
          container="body"
          triggers="mouseenter:mouseleave"
        >
          <i class="fa fa-warning"></i>
          {{ 'common.tenant-status.' + tenant.status | translate }}
        </div>

        <!-- Disabled until there is content on the metrics page -->
        <!--        <button-->
        <!--          type="button"-->
        <!--          class="btn btn-success btn-sm btn-outlined"-->
        <!--          [routerLink]="[tenant.id, 'metrics']"-->
        <!--        >-->
        <!--          <i class="fa fa-bar-chart"></i> Stats-->
        <!--        </button>-->

        <button
          *ngIf="status.editable"
          type="button"
          class="btn btn-primary btn-sm btn-outlined"
          (click)="tenantClick.emit(tenant)"
        >
          <i class="fa fa-pencil"></i> Edit
        </button>

        <button
          *ngIf="status.deletable"
          type="button"
          class="btn btn-danger btn-xs"
          (click)="$event.stopPropagation(); tenantDelete.emit(tenant)"
        >
          {{ 'common.action.delete' | translate }}
        </button>
      </div>
    </ng-template>
  </div>
  <div class="body">
    <!-- TODO add created date -->
    <p class="description">
      {{ tenant.description }}
    </p>
    <strong class="data-set" *ngIf="tenant.dataSet != null">
      {{ tenant.dataSet.label }}
    </strong>
  </div>
</div>

<ng-template #errorsPopover>
  <div>
    <p>
      {{ tenant.error.message }}
    </p>
    <p>
      {{ 'tenant-link.see-logs' | translate }}
    </p>
  </div>
</ng-template>
