<nav class="sidebar affix leftnav">
  <ul class="nav nav-pills nav-stacked">
    <li *ngFor="let section of sections">

      <a *ngIf="section.isLink" class="navbar-link" [ngClass]="{'active': section.isActive}"
         (click)="section.scrollTo.scrollIntoView()">{{section.text}}
      </a>
      <button *ngIf="section.isButton" [className]="section.classes"
              (click)="section.clickAction()"><i [class]="section.iconClasses"></i> {{section.text}}
      </button>
    </li>
  </ul>
</nav>
