<nav class="sidebar affix leftnav">
  <ul class="nav nav-pills nav-stacked">
    <li *ngFor="let item of items">
      <a *ngIf="item.scrollTo"
         class="navbar-link"
         [ngClass]="{active: item === activeItem}"
         (click)="onItemClickInternal(item)">{{item.text}}</a>
      <button *ngIf="!item.scrollTo"
              [className]="item.classes"
              (click)="onItemClickInternal(item)"><i *ngIf="item.iconClasses" [class]="item.iconClasses"></i> {{item.text}}</button>
    </li>
  </ul>
</nav>
