<breadcrumbs [values]="context.breadcrumbs"></breadcrumbs>

<div class="student-exam-items-view">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <h2>Grade {{context.exam.assessment.grade}} {{context.exam.assessment.name}}</h2>

        <span class="exam-attributes">
          <span class="exam-attribute"><span>Subject:</span> <span class="attribute-value">{{'assessment.subjects.' + context.exam.assessment.subject | translate}}</span></span>
          <span class="exam-attribute"><span>Academic Year:</span> <span class="attribute-value">{{context.exam.assessment.academicYear}}</span></span>
          <span class="exam-attribute"><span>Date:</span> <span class="attribute-value">{{context.exam.date | date:'MM/dd/yyyy'}}</span></span>
        </span>

        <div *ngIf="context.exam" class="card student-exam-items-card">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="text-center">Item #</th>
                <th>Claim/Target</th>
                <th class="text-center">Student Score</th>
                <th class="text-center">Max Score</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of context.exam.assessment.items">
                <td class="text-center">{{item.number}}</td>
                <td>{{item.claim}}/{{item.target}}</td>
                <td class="text-center">{{item.score}}</td>
                <td class="text-center">{{item.maximumScore}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="expandable">
          <span class="expand-control">
            <i class="glyphicon glyphicon-resize-full"></i>
          </span>
          <tabset>
            <tab heading="Item Viewer">

            </tab>
            <tab heading="Rubric">

            </tab>
            <tab heading="Exemplar">

            </tab>
            <tab heading="Item Information">

            </tab>
          </tabset>
        </div>

      </div>
    </div>
  </div>
</div>
