<breadcrumbs [values]="breadcrumbs"></breadcrumbs>

<div *ngIf="model" class="student-exam-items-view">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="page-heading">

          <h2>{{'labels.assessment.grade' | translate}} {{model.exam.assessment.grade}} {{model.exam.assessment.name}}</h2>

          <a class="btn btn-default" routerLink="/groups/{{model.group.id}}/students/{{model.student.id}}/exams/{{model.exam.id}}/report">Report</a>

          <span class="attributes">
            <span class="attribute"><span>Subject:</span> <span class="attribute-value">{{'assessment.subjects.' + model.exam.assessment.subject + '.shortName' | translate}}</span></span>
            <span class="attribute"><span>Academic Year:</span> <span class="attribute-value">{{model.exam.assessment.academicYear}}</span></span>
            <span class="attribute"><span>Date:</span> <span class="attribute-value">{{model.exam.date | date:'MM/dd/yyyy'}}</span></span>
          </span>

        </div>

        <div class="card student-exam-items-card" [ngClass]="{sm: size == 0, '': size == 1, lg: size == 2}">
          <span class="window-controls">
            <a class="window-control window-size-control window-size-control-sm" [ngClass]="{disabled:size == 0}">
              <i class="glyphicon glyphicon-collapse-up" (click)="size = 0"></i>
            </a>
            <a class="window-control window-size-control window-size-control-md" [ngClass]="{disabled:size == 1}">
              <i class="glyphicon glyphicon-unchecked" (click)="size = 1"></i>
            </a>
            <a class="window-control window-size-control window-size-control-lg" [ngClass]="{disabled:size == 2}">
              <i class="glyphicon glyphicon-collapse-down" (click)="size = 2"></i>
            </a>
          </span>
          <div class="table-wrapper">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="text-center width-sm"></th>
                  <th class="text-center">Item #</th>
                  <th>Claim/Target</th>
                  <th class="text-center">Student Score</th>
                  <th class="text-center">Max Score</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of model.items" [ngClass]="{'selected-row':item.selected, 'selectable-row': !item.selected }" (click)="selectRow(item)">
                  <td class="text-right width-sm"><i *ngIf="item.selected" class="glyphicon glyphicon-ok color-checkmark"></i></td>
                  <td class="text-center">{{item.number}}</td>
                  <td>{{item.claim}}/{{item.target}}</td>
                  <td class="text-center">{{item.score}}</td>
                  <td class="text-center">{{item.maximumScore}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="expandable">

          <tabset>
            <tab heading="Item Viewer">
              <div style="overflow-x:hidden;overflow-y:scroll">
                <div *ngIf="irisIsLoading" class="text-align-center">Initializing Item Viewer...  Please wait.</div>

                <iframe #irisframe [src]="safeIrisUrl" width="1000" height="500" frameborder="0"></iframe>
              </div>
            </tab>
            <tab heading="Rubric and Exemplar">

            </tab>
            <tab heading="Item Information">

            </tab>
          </tabset>
        </div>

      </div>
    </div>
  </div>
</div>
