<div class="key-value-display">
  <div class="row" *ngIf="_initialized">
    <div class="col-md-5 mb-md">
      <strong>{{ 'average-scale-score.title' | translate }}</strong>
      <div class="well">
        <div class="key-value-table">
          <table class="table table-borderless">
            <tr>
              <td class="pl-sm">
                <div
                  info-button
                  title="{{ 'average-scale-score.scale-score' | translate }}"
                  content="{{
                    'average-scale-score.scale-score-info' | translate
                  }}"
                  class="average-scale-score-label"
                ></div>
              </td>
              <td>
                <!-- TODO use shared component
                <scale-score
                  *ngIf="hasAverageScore"
                  class="font-large text-left"
                  [score]="averageScore"
                  [standardError]="statistics.standardError"
                  [background]="true"
                ></scale-score>
                -->
                <div
                  *ngIf="_hasAverageScore"
                  class="scale-score font-large text-left"
                >
                  <span class="score label label-primary">{{
                    _averageScore
                  }}</span>
                  <span class="error-band black">
                    {{
                      'common.error-band-value'
                        | translate
                          : {
                              errorBand:
                                _statistics.standardError | number: '1.0-0'
                            }
                    }}</span
                  >
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="result-count-label">
                  {{ 'average-scale-score.results-label' | translate }}
                </div>
              </td>
              <td class="">
                <span class="text-left gray-darkest">
                  <span class="score font-large">{{ _statistics.total }}</span>
                  <span class="ml-xs">{{
                    (_statistics.total == 1
                      ? 'average-scale-score.result'
                      : 'average-scale-score.results') | translate
                  }}</span>
                </span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <strong>{{
        'average-scale-score.student-score-distribution' | translate
      }}</strong>
      <div class="well">
        <div
          *ngFor="let score of _performanceLevelScores; let i = index"
          class="score-distribution-container"
        >
          <div class="text-right gray-lighter grid-item">
            {{
              score.level
                | optional
                  : ('subject.' +
                      _subjectDefinition.subject +
                      '.asmt-type.' +
                      _subjectDefinition.assessmentType +
                      '.level.' +
                      score.level +
                      '.name'
                      | translate)
            }}
            <button
              *ngIf="_subjectDefinition.assessmentType === 'iab'"
              class="btn btn-borderless btn-xs icon-only pull-right"
              angulartics2On="click"
              angularticsAction="InstructionalResource"
              angularticsCategory="AssessmentResults"
              [popover]="buttonPopover"
              popoverTitle="{{
                'common.results.assessment.instruct-button'
                  | translate
                    : {
                        level:
                          score.level
                          | optional
                            : ('subject.' +
                                _subjectDefinition.subject +
                                '.asmt-type.' +
                                _subjectDefinition.assessmentType +
                                '.level.' +
                                score.level +
                                '.name'
                                | translate)
                      }
              }}"
              container="body"
              (click)="onInstructionalResourcesButtonClick(score.level)"
              [outsideClick]="true"
            >
              <i class="fa fa-book"></i>
            </button>
          </div>
          <div class="level-down text-right gray-lightest grid-item">
            <strong>{{
              _showCount ? score.count : (score.percent | number: '1.0-0') + '%'
            }}</strong>
          </div>
          <div class="level-down gray-lightest">
            <progress-bar
              [percent]="score.percent"
              [color]="
                'subject.' +
                  _subjectDefinition.subject +
                  '.asmt-type.' +
                  _subjectDefinition.assessmentType +
                  '.level.' +
                  score.level +
                  '.color' | translate
              "
            ></progress-bar>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #buttonPopover>
  <instructional-resource-popover
    [provider]="_instructionalResourcesProvider"
  ></instructional-resource-popover>
</ng-template>
