<ng-container *ngIf="!schoolOptions; else loaded">
  <span class="gray-darker"><i class="fa fa-spinner fa-pulse fa-2x"></i></span>
</ng-container>
<ng-template #loaded>
  <form [formGroup]="formGroup"
        (ngSubmit)="submit()">
    <div class="flex-children">
      <div class="flex-child grow">
        <div class="form-group">
          <label for="search-school-name">
            {{'school-grade.school-name-label' | translate}}
          </label>

          <div *ngIf="aboveLimit">
            <school-typeahead #schoolTypeahead
                              [options]="schoolOptions"
                              (selected)="schoolChanged($event)"
                              (input)="deselectSchool($event)"></school-typeahead>
            <div>
              <span [hidden]="!schoolTypeahead.loading"><i class="fa fa-spinner fa-pulse"></i></span>
              <br [hidden]="schoolTypeahead.noResults">
              <span [hidden]="!schoolTypeahead.noResults" class="small gray-darker">{{'school-typeahead.no-matches' | translate}}</span>
            </div>
          </div>
          <sb-typeahead #schoolTypeahead
                        *ngIf="!aboveLimit"
                        inputId="search-school-name"
                        [options]="schoolOptions"
                        (selected)="schoolChanged($event)"
                        (input)="deselectSchool($event)"
                        placeholder="{{'common.action.select' | translate}}"></sb-typeahead>
        </div>
      </div>
      <div class="flex-child">
        <div class="form-group">
          <label for="grade-select">{{'school-grade.grade' | translate}}</label>
          <select id="rdw-school-grade-select-grade"
                  name="grade"
                  formControlName="grade"
                  id="grade-select"
                  class="form-control">
            <option disabled
                    [ngValue]="undefined">{{'common.action.select' | translate}}
            </option>
            <option *ngFor="let grade of gradeOptions"
                    [ngValue]="grade">{{'common.assessment-grade-label.' + grade.code | translate}}
            </option>
          </select>
        </div>
      </div>
      <div class="flex-child">
        <div class="form-group">
          <label class="invisible"><br></label>
          <button type="submit"
                  id="rdw-school-grade-submit"
                  [disabled]="!school || !grade"
                  class="btn btn-primary form-control">{{'common.action.search' | translate}}
          </button>
        </div>
      </div>
    </div>
  </form>
  <div [hidden]="schoolHasGradesWithResults">
    <span class="small gray-darker">{{'school-grade.no-grades-available' | translate}}</span>
  </div>
</ng-template>

