<page-heading>
  <ng-template #heading>
    <h2>{{'group-dashboard.heading' | translate}}</h2>
  </ng-template>
  <ng-template #content>
    <ul class="list-unstyled list-inline" *ngIf="group">
      <li *hasPermission="'INDIVIDUAL_PII_READ'">
        <a routerLink="/custom-export"
           class="btn btn-sm btn-default"><i class="fa fa-table"></i> {{'organization-export.title' | translate}}</a>
      </li>
      <li>
        <button class="btn btn-default btn-sm">
          <i class="fa fa-cloud-download" aria-hidden="true"></i> {{'group-results.group-button-label' | translate}}
        </button>
      </li>
    </ul>
  </ng-template>
</page-heading>

<ng-container *ngIf="!groups; else loaded">
  <spinner></spinner>
</ng-container>

<ng-template #loaded>
  <ng-container *ngIf="group; else groupNotFound">

    <!-- Group Select -->
    <div class="col-md-3">
      <label for="select-group">{{'group-results.select-group' | translate}}</label>
      <!--TODO: type ahead? -->
      <select id="select-group" [(ngModel)]="currentGroup" [compareWith]="compareGroups" class="form-control" (change)="updateRoute('Group')">
        <option *ngFor="let group of groups" [ngValue]="group">{{group.name}}</option>
      </select>
    </div>

    <!-- School Year -->
    <div class="col-md-3">
      <label for="school-year">{{'common.school-year-select-label' | translate}}</label>
      <select id="school-year" [(ngModel)]="currentSchoolYear" (change)="updateRoute('SchoolYear')"
              class="form-control">
        <option *ngFor="let year of filterOptions.schoolYears" [ngValue]="year">{{year | schoolYear}}</option>
      </select>
    </div>

    <!-- Subject -->
    <div class="col-md-4">
      <div class="col-md-6">
        <label for="select-subject">{{'common.subject-select-label' | translate}}</label>
        <select id="select-subject"
                [(ngModel)]="currentSubject"
                class="form-control"
                (change)="updateRoute()">
          <option selected [ngValue]="undefined">{{'common.subject.ALL.short-name' | translate}}</option>
          <option *ngFor="let subject of filterOptions.subjects"
                  [ngValue]="subject">{{'common.subject.' + subject + '.short-name' | translate}}
          </option>
        </select>
      </div>
      <div class="col-md-6">
        <a href="javascript:void(0)" [ngClass]="{'disabled': !cardViewEnabled}" class="col-btn btn btn-primary">{{
          'assessment-card.view-assessments' | translate }}<i class="ml-xs fa fa-angle-right"></i></a>
      </div>
    </div>
  </ng-container>
</ng-template>

<ng-template #groupNotFound>
  <div class="alert alert-info">
    {{'group-results.null-group' | translate }}
  </div>
</ng-template>


<div class="col-md-12 mt-md">
  <div class="card-grid">
    <div *ngFor="let measuredAssessment of measuredAssessments">
      <assessment-card (selectedAssessment)="onCardSelection($event)" [group]="group"
                       [measuredAssessment]="measuredAssessment"></assessment-card>
    </div>
  </div>
  <!-- No Results Error -->
  <div class="alert alert-info" *ngIf="measuredAssessments.length == 0">
    {{'common.assessments.no-results-found' | translate}}
  </div>
</div>


