sql:
  administrationCondition:
    findAll: select id, code from administration_condition

  assessmentGrade:
    findAll: >-
      SELECT DISTINCT
        g.id,
        g.code
      FROM asmt a
        JOIN grade g ON g.id = a.grade_id

  assessmentType:
    findAll: select id, code from asmt_type

  completeness:
    findAll: select id, code from completeness

  gender:
    findAll: select id, code from gender

  schoolYear:
    findAll: select year from school_year

  studentEthnicity:
    findAll: select id, code from ethnicity

  subject:
    findAll: select id, code from subject

  # SQL does not support an Aggregate Product, but this seems to be a recommended way
  estimateReportRowCount: >-
   SELECT round(exp(sum(ln(count)))) as count from (
    SELECT sum(org_count)  AS count, 'organizations' AS type
      FROM
      (
        SELECT CASE WHEN :isIncludeState THEN 1 ELSE 0 END AS org_count
        UNION ALL
        SELECT CASE WHEN :isIncludeAllDistricts THEN (SELECT count(*) FROM district) ELSE 0 END AS org_count
        UNION ALL
        SELECT CASE WHEN :isIncludeDistricts THEN (SELECT count(*) FROM district WHERE id IN(:district_ids)) ELSE 0 END AS org_count
        UNION ALL
        SELECT CASE WHEN :isIncludeAllSchoolsInDistricts THEN (SELECT count(*) FROM school WHERE district_id IN (:school_district_ids)) ELSE 0 END AS org_count
        UNION ALL
        SELECT CASE WHEN :isIncludeSchools THEN (SELECT count(*) FROM school WHERE id IN (:school_ids)) ELSE 0 END AS org_count
      )
    
    UNION ALL
    
    SELECT count(*)  AS count, 'assessments' AS type
      FROM asmt_active_year ay LEFT JOIN asmt a ON a.id = ay.asmt_id
      WHERE a.grade_id IN (:asmt_grade_ids) AND a.subject_id IN (:subject_ids) AND a.type_id = :asmt_type_id AND ay.school_year IN (:school_years)
    
    UNION ALL
    
    SELECT sum(dim_count) AS count, 'dimensions' AS type
    FROM
      (
        SELECT CASE WHEN :gender THEN (select count(*) from gender where (true = :all_genders OR code in (:genders)) ) ELSE 0 END AS dim_count
        UNION ALL
        SELECT CASE WHEN :ethnicity THEN (select count(*) from ethnicity) ELSE 0 END AS dim_count
        UNION ALL
        SELECT CASE WHEN :iep THEN (select count(*) from strict_boolean) ELSE 0 END AS dim_count
        UNION ALL
        SELECT CASE WHEN :lep THEN (select count(*) from strict_boolean) ELSE 0 END AS dim_count
        UNION ALL
        SELECT CASE WHEN :section504 THEN (select count(*) from boolean) ELSE 0 END AS dim_count
        UNION ALL
        SELECT CASE WHEN :economic_disadvantage THEN (select count(*) from strict_boolean) ELSE 0 END AS dim_count
        UNION ALL
        SELECT CASE WHEN :migrant_status THEN (select count(*) from boolean) ELSE 0 END AS dim_count
        UNION ALL
        SELECT CASE WHEN :student_enrolled_grade THEN 1 ELSE 0 END AS dim_count
        UNION ALL
        SELECT CASE WHEN :overall THEN 1 ELSE 0 END AS dim_count
      )
    )