<div class="mb-md">
  <div class="tag tag-lg blue ">
    <span class="label">{{'labels.student.name' | translate:student}}</span>
    <span>{{student.ssid}}</span>
  </div>
</div>

<h3 class="blue mb-md">{{'labels.student.responses.title' | translate}}</h3>

<div class="well">
  <div class="mb-md">
    <span class="tag tag-md {{colorService.getColor(getGradeIndex(assessment.grade))}}">
      <span class="label">{{assessment.grade | gradeDisplay}}</span>
          <span>{{assessment.name}}</span>
    </span>
    <span class="gray-darker pull-right pt-sm">
      <i class="fa fa-calendar"></i>
      {{exam.date | date}}
    </span>
  </div>

  <p-dataTable [value]="assessmentItems"
               emptyMessage="{{'messages.noExamsMatchingCriteria' | translate}}"
               sortField="assessmentItem.position"
               tableStyleClass="table table-striped table-hover"
               rowExpandMode="single"
               expandableRows="true">
    <p-column expander="true" styleClass="col-icon"></p-column>

    <p-column field="assessmentItem.position" header="{{'labels.groups.results.assessment.items.cols.number' | translate}}" sortable="true"></p-column>
    <p-column field="assessmentItem.claimTarget" [sortable]="true">
      <ng-template pTemplate="header">
              <span info-label title="{{'labels.groups.results.assessment.items.cols.claim' | translate}}"
                    content="{{'labels.groups.results.assessment.items.cols.claim-info' | translate}}"></span>
      </ng-template>
      <ng-template let-item="rowData.assessmentItem" pTemplate="body">
        {{ 'definition.claim.' + item.claim + '.name' | translate }} / {{ 'labels.groups.results.assessment.items.target' | translate:item }}
      </ng-template>
    </p-column>
    <p-column field="assessmentItem.difficulty" [sortable]="true">
      <ng-template pTemplate="header">
              <span info-label title="{{'labels.groups.results.assessment.items.cols.difficulty' | translate}}"
                    content="{{'labels.groups.results.assessment.items.cols.difficulty-info' | translate}}"></span>
      </ng-template>
      <ng-template let-item="rowData.assessmentItem" pTemplate="body">
        {{ 'enum.difficulty.' + item.difficulty | translate }}
      </ng-template>
    </p-column>
    <p-column field="assessmentItem.commonCoreStandardIds" header="{{'labels.student.responses.cols.standard' | translate}}" sortable="true">
      <ng-template let-standards="rowData.assessmentItem.commonCoreStandardIds" pTemplate="body">
        <span *ngFor="let standard of standards" class="label border-only blue mr-xs">{{standard}}</span>
      </ng-template>
    </p-column>
    <p-column field="score" header="{{'labels.student.responses.cols.student-score' | translate}}" sortable="true">
      <ng-template let-score="rowData.score" pTemplate="body">
        <span *ngIf="score !== null">{{score}}</span>
        <span *ngIf="score === null">&mdash;</span>
      </ng-template>
    </p-column>
    <p-column field="assessmentItem.maxPoints" header="{{'labels.student.responses.cols.max-score' | translate}}" sortable="true"></p-column>
    <p-column field="correctness" sortable="true">
      <ng-template pTemplate="header">
              <span info-label title="{{'labels.student.responses.cols.correctness' | translate}}"
                    content="{{'labels.student.responses.cols.correctness-info' | translate}}"></span>
      </ng-template>
      <ng-template let-correctness="rowData.correctness" pTemplate="body">
        <span *ngIf="correctness !== null">{{ correctness | number:'1.2-2' }}</span>
        <span *ngIf="correctness === null">&mdash;</span>
      </ng-template>
    </p-column>
    <ng-template let-item pTemplate="rowexpansion">
      <item-tab [item]="item.assessmentItem"
                [response]="item.response"
                [position]="item.assessmentItem.position"
                [showItemDetails]="assessment.isInterim"
                [showStudentScores]="false"></item-tab>
    </ng-template>
  </p-dataTable>
</div>

