//
// Prime NG Style Overrides
// Base file includes Prime NG styles and Bootstrap theme
// These overrides bring styled elements back in line with the SBAC UI Kit
// ----------------------------------------

// Global
body {
  .ui-widget,
  input,
  select,
  textarea,
  button {
    font-size: @font-size-base;
  }

  .dropdown-header {
    color: @gray-dark;
  }

  .ui-table-scrollable-header.ui-widget-header {
    border: none;
  }
}

// Tables
.ui-table-auto-layout > .ui-table-wrapper {
  overflow: visible;
}

body .ui-table,
body .ui-treetable {
  font-family: @font-family-serif;
  font-size: @font-size-small;
  table {
    border-collapse: separate;
    border: none;
    width: auto;
    max-width: none;
    min-width: 100%;
    // head, foot, and data
    .ui-table-thead,
    .ui-table-tfoot,
    .ui-treetable-thead,
    .ui-treetable-tbody,
    .ui-table-tbody,
    .ui-table-data {
      > tr {
        > th,
        > td {
          border: none;
          padding: @table-cell-padding;
          background-color: @table-bg;
          white-space: nowrap;
          vertical-align: middle;
          box-shadow: none;
          &:first-child {
            border-left: 1px solid @table-border-color;
          }
          &:last-child {
            border-right: 1px solid @table-border-color;
          }
          // Table Dropdown Arrows
          &.col-icon a {
            .btn;
            .btn-default;
            .btn-xs;
            .square(@line-height-computed);
            .ui-row-toggler {
              width: auto;
              height: auto;
              .small;
              .chevron-circle-right:before {
                content: '\f054';
              }
              .chevron-circle-down:before {
                content: '\f078';
              }
            }
          }
        }
        > th {
          padding: (@table-cell-padding / 2) @table-cell-padding;

          &.wrapping {
            white-space: normal;
            text-align: center;
          }
        }
        &:last-child td {
          border-bottom: 1px solid @table-border-color;
        }
        .btn {
          &.icon-only {
            width: inherit;
            height: inherit;
            margin-top: -2px;
          }
        }
      }
    }
    // head, and foot
    .ui-table-thead,
    .ui-treetable-thead,
    .ui-table-tfoot {
      > tr {
        > th,
        > td {
          color: @gray-darkest;
          background-color: @gray-light;
          text-align: left;
          &.ui-state-active {
            color: @black;
            border: 1px solid @gray-light;
            background-color: lighten(@gray-light, 10%);
          }
        }
      }
    }
    // head
    .ui-table-thead,
    .ui-treetable-thead {
      > tr {
        > th {
          border-right: 1px solid rgba(100, 102, 106, 0.17);
          &.ui-sortable-column {
            position: relative;
            padding-right: 22px; // make sure we have room for the sort icon
            .ui-column-title {
              display: inline-block;
              padding-right: 0px;
            }
            .ui-sortable-column-icon {
              position: absolute;
              bottom: @table-cell-padding;
            }
          }
        }
      }
    }
    // body
    .ui-table-tbody,
    .ui-treetable-tbody,
    .ui-table-data {
      > tr {
        > td {
          border-right: 1px solid rgba(213, 213, 213, 0.26);
          border-bottom: 1px solid @table-border-color;
        }
        &.ui-table-even:hover {
          background-color: @table-bg-hover;
        }
      }
    }
  }
  // fixing the scrollable table
  &.ui-table-scrollable {
    margin: 0;
    width: 100%;
    max-width: 100%;
    .ui-table-scrollable-wrapper {
      .ui-table-scrollable-view {
        .ui-table-scrollable-header {
          .ui-table-scrollable-header-box {
            table {
              width: auto;
              max-width: none;
            }
          }
        }
        .ui-table-scrollable-body {
          > div {
            table {
              width: auto;
              max-width: none;
            }
          }
        }
      }
    }
  }
  .ui-sortable-column {
    &:hover {
      background-color: lighten(@gray-lighter, 5%);
      cursor: pointer;
    }
    .ui-sortable-column-icon {
      top: @table-cell-padding;
      right: 0px;
      color: @gray-darker;
      &:hover {
        cursor: pointer;
      }
    }
    &.ui-state-active {
      .ui-sortable-column-icon {
        color: @gray;
      }
    }
  }
  // overflow styles
  // table.overflow {
  // TODO we should have to add a class to get the below styles not add a style to remove them
  :not(p-table.no-well) table {
    .well;
    padding-top: (@line-height-computed / 2);
    padding-right: (@grid-gutter-width / 2);
    padding-bottom: (@line-height-computed / 2);
    padding-left: (@grid-gutter-width / 2);
    table-layout: auto;
    @media (max-width: @screen-xs-max) {
      padding: 0px 0px 0px 0px;
      border: none;
      .box-shadow(none);
    }
  }
  // hacking to override primeng's forced inline styles...
  .table tr th {
    &.level-up {
      border-right: 1px solid @white;
    }
    &.level-down {
      display: flex !important;
      border-bottom: 1px solid @table-border-color;
      border-left: none;
      overflow: hidden;
    }
  }
}

// Tab View p-tabView
body
  .ui-tabview.ui-tabview-top
  .ui-tabview-nav
  li:not(.ui-state-active):not(.ui-state-disabled)
  &:focus {
  border-color: @blue;
  border-bottom: none;
  background-color: @gray-lighter;
}
body
  .ui-tabview.ui-tabview-top
  .ui-tabview-nav
  li:not(.ui-state-active):not(.ui-state-disabled):-moz-focusring {
  outline: 2px solid @blue;
}

// Dropdowns
.school-and-grade-search-container {
  .ui-dropdown,
  .ui-dropdown-filter-container {
    // had to !important this because of PrimeNG's default widths being applied inline to the element at runtime
    width: 100% !important;
  }
}

p-table,
p-treeTable {
  table {
    .table;
    .table-striped;
    .table-hover;
    font-family: @font-family-serif;
    font-size: @font-size-small;
    border: 1px solid @gray-light;
    > thead > tr > th {
      font-weight: normal;
    }
  }
}

body {
  // multiselect
  .ui-multiselect {
    // mimic form-control styles
    width: 100%;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    color: #73777d;
    .ui-multiselect-trigger {
      display: none;
    }
  }

  .ui-multiselect-panel .ui-multiselect-items-wrapper {
    padding: 0;
  }
  // specific to prime-ng ui components
  .ui-multiselect-panel {
    padding: 0;
    .ui-multiselect-item {
      position: relative;
      margin: 0;
      padding: 10px 20px;
      border-radius: 0;
      .ui-chkbox {
        display: none;
      }
      &.ui-state-highlight {
        //background-color: @blue;
      }
    }
  }
}
/**Writing Trait Scores UI Updates **/
writing-trait-scores {
  a.nav-link.active {
    background-color: #f8f8f8;
  }
  .ui-table .ui-table-thead > tr > th.level-down,
  .ui-table .ui-table-tbody > tr > td.level-down {
    padding-left: 8px !important;
  }
}

body .ui-widget {
  font-family: inherit;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active {
  color: @blue;
  background-color: @white;
  border-color: @gray-light;
  border-bottom: none;
  position: relative;
  &:hover {
    background-color: @white;
  }
}
body
  .ui-tabview.ui-tabview-top
  .ui-tabview-nav
  li:not(.ui-state-active):not(.ui-state-disabled):hover {
  border-color: @gray-light;
  border-bottom: none;
  background-color: @gray-lighter;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav {
  margin-left: 7.5px;
  border-bottom: none;
}
body .ui-tabview .ui-tabview-panel {
  padding: 20px;
  border: 1px solid @gray-light;
  border-radius: 5px;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li {
  border-bottom: none;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-default a {
  padding: 10px 15px;
  color: @blue;
  margin-top: -1px;
}
body li.ui-state-active span.ui-tabview-title.ng-star-inserted {
  color: @black;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-default {
  margin-right: 8px;
}

.table tr th.level-up,
.table tr td.level-up {
  background-image: none;
}
.ui-table .ui-table-thead > tr > th.level-down,
.ui-table .ui-table-tbody > tr > td.level-down {
  padding-left: 0;
}
.ui-sortable-column:-moz-focusring {
  outline: 2px solid @blue;
}
.table tr th.level-down:before {
  display: none;
}
.writing-trait-scores > .ui-table-wrapper {
  display: inline-block;
  min-width: 100% !important;
}

//ISR Template UI Overrides
isr-template .ui-table-wrapper td i.fa {
  font-size: 21px;
  padding: 4px;
}
td span a {
  margin-right: 16px;
}
td i.fa {
  &.fa-upload {
    color: @green;
  }
  &.fa-cloud-download {
    color: @blue;
  }
  &.fa-ban {
    color: @red;
  }
}
span.configuredTemplate {
  color: @green;
}
span.notConfiguredTemplate {
  color: @red;
}
.download-ref-temp {
  background: white;
  border: 1px solid #d5d5d5;
  &:hover {
    color: @white;
    background: @blue;
    border-color: @blue;
  }
  &:focus {
    color: @blue;
  }
}
.download-ref-temp:focus.download-ref-temp:hover {
  color: #fff;
}
.modal-dialog .alert {
  margin-bottom: 0;
}
.well-empty {
  background-color: #f8f8f8;
  box-shadow: none;
}
/**Test Results Table Color UI Updates **/
.loadingColor {
  background-color: #d9edf7 !important;
  &:hover {
    color: @black;
    background-color: #d9edf7 !important;
    opacity: 0.8 !important;
  }
}
.reviewingColor {
  background-color: #fcf8e3 !important;
  &:hover {
    color: @black;
    background-color: #fcf8e3 !important;
    opacity: 0.8 !important;
  }
}
.releasedColor {
  background-color: #dff0d8 !important;
  &:hover {
    color: @black;
    background-color: #dff0d8 !important;
    opacity: 0.8 !important;
  }
}
.well-results {
  padding: 20px;
}
.set-status {
  padding-left: 0px;
}
hr {
  margin: 15px;
  border-top: 1px solid #d5d5d5;
}
.table-footer {
  padding: 20px 0 5px;
}
.ui-table {
  .ui-paginator-bottom {
    border: none;
  }
}
.ui-paginator-pages {
  font-size: 14px;
}
.ui-paginator-bottom.ui-paginator.ui-widget.ui-widget-header.ui-unselectable-text.ui-helper-clearfix {
  margin: 0.5em;
}
body {
  .ui-paginator {
    .ui-paginator-first,
    .ui-paginator-prev,
    .ui-paginator-next,
    .ui-paginator-last {
      color: @gray-darker;
      transition: background-color 0.3s;
      min-height: 1em;
      min-width: 1em;
      padding: 1em;
      vertical-align: middle;
    }
    .ui-paginator-pages {
      .ui-paginator-page {
        padding: 10px;
        min-width: 0;
        color: @gray-darkest;
        transition: background-color 0.3s;
        border-radius: 0;
      }
    }
  }
}
