<div *ngIf="group">
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      {{ 'delete-group-modal.title' | translate:group }}
    </h4>
    <button
      type="button"
      class="close pull-right"
      title="{{'common.action.close' | translate}}"
      (click)="cancel()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div
    class="modal-body"
    [innerHTML]="'delete-group-modal.content-html' | translate"
  ></div>
  <div *ngIf="unableToDelete" class="alert alert-danger">
    {{ 'delete-group-modal.error' | translate }}
  </div>
  <div class="modal-footer">
    <span>
      <button type="button" class="btn btn-default" (click)="cancel()">
        {{ (unableToDelete? 'common.action.close' :
        'delete-group-modal.button-cancel') | translate }}
      </button>
      <button
        type="button"
        *ngIf="!unableToDelete"
        class="btn btn-danger"
        (click)="delete()"
      >
        {{ 'delete-group-modal.button-save' | translate }}
      </button>
    </span>
  </div>
</div>
