<reporting-embargo-alert *hasPermission="'EMBARGO_READ'"></reporting-embargo-alert>

<page-heading>
  <ng-template #heading>
    <h2>{{'labels.organization-export.title' | translate}}</h2>
  </ng-template>
</page-heading>

<div class="well-group">

  <div class="well">
    <form ngForm="form" (submit)="submit()">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="report-name">{{'labels.reports.form.report-name' | translate}}</label>
            <input id="report-name"
                   name="report-name"
                   class="form-control"
                   maxlength="255"
                   [(ngModel)]="orgExport.name"
                   placeholder="{{'labels.organization-export.form.default-report-name' | translate}}">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="select-year">{{'common.school-year-typeahead-label' | translate}}</label>
            <select id="select-year" name="select-year" class="form-control" [(ngModel)]="orgExport.schoolYear">
              <option *ngFor="let year of schoolYearOptions" [ngValue]="year">{{year | schoolYear}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-3" *ngIf="transferAccess">
          <div class="form-group">
            <div>
              <label>
                <span info-button
                      title="{{'labels.filters.test.transfer-assessment' | translate}}"
                      content="{{'labels.filters.test.transfer-assessment-info' | translate}}"></span>
              </label>
            </div>
            <sb-radio-button-group name="transfer-assessment-toggle"
                                   [(ngModel)]="orgExport.disableTransferAccess"
                                   buttonGroupStyles=""
                                   [options]="[
                           {value: false, text: 'buttons.visibility.show' | translate},
                           {value: true, text: 'buttons.visibility.hide' | translate}
                         ]">
            </sb-radio-button-group>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group" *ngIf="!editingDisabled">
            <label for="search">{{'labels.organization-export.form.organization.label' | translate}}</label>
            <span sb-button-typeahead
                  inputId="search"
                  [options]="organizationOptions"
                  (buttonClick)="add($event)"
                  placeholder="{{'prompt.select' | translate}}"
                  buttonLabel="{{'labels.organization-export.form.organization.add' | translate}}">
            </span>
            <div class="ml-xs mt-xs">
              <a *ngIf="selectAllEnabled"
                 class="link-button aqua"
                 href="javascript:void(0)"
                 (click)="toggleSelectAll()"><i class="fa" [ngClass]="{'fa-check-square': selectedAll, 'fa-square-o': !selectedAll}"></i>
                {{'labels.organization-export.form.organization.select-all' | translate}}
              </a>
            </div>
          </div>
        </div>
        <div [ngClass]="{'col-md-6': !editingDisabled, 'col-md-12': editingDisabled}">
          <div class="text-right">
            <button type="submit" class="btn btn-info aqua" [disabled]="selectedSchools.length == 0"><i class="fa fa-cloud-download"></i> {{'labels.organization-export.form.submit.label' | translate}}</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="well gray-lightest">
    <h3 class="gray-darkest mb-0"><i class="fa fa-list-alt"></i> {{'labels.organization-tree.header' | translate}}</h3>
    <p class="small gray-darkest" [hidden]="selectedSchools.length != 0" [ngClass]="{invisible: editingDisabled}">{{'labels.organization-tree.subheader-empty' | translate}}</p>
    <p class="small gray-darkest" [hidden]="selectedSchools.length == 0" [ngClass]="{invisible: editingDisabled}">{{'labels.organization-tree.subheader-not-empty' | translate}}</p>
    <organization-tree [model]="organizationTree" (select)="remove($event)" [disabled]="editingDisabled"></organization-tree>
  </div>

</div>

