<reporting-embargo-alert *hasPermission="'EMBARGO_READ'"></reporting-embargo-alert>

<page-heading>
  <ng-template #heading>
    <h2>{{'organization-export.title' | translate}}</h2>
    <div>{{'organization-export.instructions' | translate}}</div>
  </ng-template>
</page-heading>

<div class="well-group">

  <div class="well">
    <form ngForm="form" (submit)="submit()">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="report-name">{{'organization-export.form.report-name' | translate}}</label>
            <input id="report-name"
                   name="report-name"
                   class="form-control"
                   maxlength="255"
                   [(ngModel)]="orgExport.name"
                   placeholder="{{'organization-export.form.default-report-name' | translate}}">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="select-year">{{'common.school-year-select-label' | translate}}</label>
            <select id="select-year" name="select-year" class="form-control" [(ngModel)]="orgExport.schoolYear">
              <option *ngFor="let year of schoolYearOptions" [ngValue]="year">{{year | schoolYear}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-3" *ngIf="transferAccess">
          <div class="form-group">
            <fieldset>
              <div>
                <label for="transfer-assessment-toggle">
                  <span info-button
                        title="{{'common.filters.test.transfer-assessment' | translate}}"
                        content="{{'common.filters.test.transfer-assessment-info' | translate}}"></span>
                </label>
              </div>
              <sb-radio-button-group id="transfer-assessment-toggle"
                                     name="transfer-assessment-toggle"
                                     [(ngModel)]="orgExport.disableTransferAccess"
                                     buttonGroupStyles=""
                                     [options]="[
                             {value: false, text: 'common.action.show' | translate},
                             {value: true, text: 'common.action.hide' | translate}
                           ]">
              </sb-radio-button-group>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group" *ngIf="!editingDisabled">
            <label for="search">{{'organization-export.form.organization.label' | translate}}</label>
            <span sb-button-typeahead
                  inputId="search"
                  [options]="organizationOptions"
                  (buttonClick)="add($event)"
                  placeholder="{{'common.action.select' | translate}}"
                  buttonLabel="{{'organization-export.form.organization.add' | translate}}">
            </span>
            <div class="ml-xs mt-xs">
              <a *ngIf="selectAllEnabled"
                 class="link-button aqua"
                 href="javascript:void(0)"
                 (click)="toggleSelectAll()"><i class="fa" [ngClass]="{'fa-check-square': selectedAll, 'fa-square-o': !selectedAll}"></i>
                {{'organization-export.form.organization.select-all' | translate}}
              </a>
            </div>
          </div>
        </div>
        <div [ngClass]="{'col-md-6': !editingDisabled, 'col-md-12': editingDisabled}">
          <div class="text-right">
            <button type="submit" class="btn btn-info aqua" [disabled]="selectedSchools.length == 0"><i class="fa fa-cloud-download"></i> {{'organization-export.form.submit.label' | translate}}</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="well gray-lightest">
    <organization-tree [model]="organizationTree" (select)="remove($event)" [disabled]="editingDisabled" [hasSelectedSchools]="selectedSchools.length != 0"></organization-tree>
  </div>

</div>

