<div class="row sandbox-login">
  <div class="col-xs-5 center-block well">
    <h2 class="text-center">{{ 'sandbox-login.title' | translate }}</h2>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div>
        <label for="sandbox" class="control-label">
          {{ 'sandbox-login.labels.sandbox' | translate }}</label
        >
        <select
          id="sandbox"
          name="sandbox"
          formControlName="sandbox"
          class="form-control"
        >
          <option [ngValue]="undefined"></option>
          <option *ngFor="let sandbox of sandboxes" [ngValue]="sandbox">
            {{ 'sandbox-login.sandbox-label' | translate: sandbox }}
          </option>
        </select>
      </div>
      <div>
        <label for="role" class="control-label">
          {{ 'sandbox-login.labels.role' | translate }}</label
        >
        <select
          id="role"
          name="role"
          formControlName="role"
          class="form-control"
        >
          <option [ngValue]="undefined"></option>
          <ng-container
            *ngIf="formGroup.controls.sandbox.value as selectedSandbox"
          >
            <option *ngFor="let role of selectedSandbox.roles" [ngValue]="role">
              {{
                'sandbox-login.sandbox-role-label.' + role.type
                  | translate
                    : {
                        organizationName: role.organization.name,
                        grade:
                          'common.assessment-grade-label.' + role.gradeCode
                          | translate
                      }
              }}
            </option>
          </ng-container>
        </select>
      </div>
      <button
        type="submit"
        class="btn btn-primary mt-md text-center btn-block"
        [disabled]="formGroup.invalid"
      >
        {{ 'sandbox-login.login' | translate }}
      </button>
    </form>
  </div>
</div>
