<div class="row" class="sandbox-login">
  <div class="col-xs-5 center-block well">
    <h2 class="text-center">{{ 'sandbox-login.title' | translate }}</h2>
    <form [formGroup]="form">
      <div>
        <label for="sandbox" class="control-label">
          {{ 'sandbox-login.labels.sandbox' | translate }}</label
        >
        <select
          id="sandbox"
          formControlName="sandboxKey"
          (ngModelChange)="sandboxSelected($event)"
          class="form-control"
        >
          <option [ngValue]="null"></option>
          <option *ngFor="let sandbox of sandboxes" [ngValue]="sandbox.key">
            {{ sandbox.label }} ({{ sandbox.key }})
          </option>
        </select>
      </div>
      <div>
        <label for="username" class="control-label">
          {{ 'sandbox-login.labels.username' | translate }}</label
        >
        <input
          id="username"
          type="text"
          formControlName="username"
          class="form-control"
        />
      </div>
      <div>
        <label for="role" class="control-label">
          {{ 'sandbox-login.labels.role' | translate }}</label
        >
        <select id="role" formControlName="role" class="form-control">
          <option [ngValue]="null"></option>
          <option *ngFor="let role of roles" [ngValue]="role.id">
            {{ role.label }}
          </option>
        </select>
      </div>
      <button
        type="submit"
        class="btn btn-primary mt-md text-center col-md-12"
        [disabled]="form.invalid"
        (click)="login()"
      >
        {{ 'sandbox-login.login' | translate }}
      </button>
    </form>
  </div>
</div>
