<div class="navbar-fixed-top mt-md mr-lg">
  <div class="clearfix" *ngFor="let notification of notifications">
    <alert class="pull-right"
           [type]="notification.configuration.type"
           [dismissible]="notification.configuration.dismissible"
           [dismissOnTimeout]="notification.configuration.dismissOnTimeout"
           (onClose)="onDismissed(notification)">
      <h4 *ngIf="notification.titleKey" class="alert-title">{{notification.titleKey | translate}}</h4>
      <span>{{notification.messageKey | translate}}</span>
    </alert>
  </div>
</div>
