<ng-container *ngIf="!initialized; else loaded">
  <spinner></spinner>
</ng-container>

<ng-template #loaded>

  <page-heading>
    <ng-template #heading>
      <h2 *ngIf="group.id == null">{{'user-group.new-heading' | translate}}</h2>
      <h2 *ngIf="group.id != null">{{originalGroup.name}}</h2>
    </ng-template>
    <ng-template #content>
      <ul class="list-unstyled list-inline">
        <li *ngIf="group.id != null">
          <button type="button"
                  class="btn btn-danger btn-sm"
                  [disabled]="deleteButtonDisabled"
                  (click)="onDeleteButtonClick()">{{'common.action.delete' | translate}}</button>
        </li>
        <li>
          <button type="submit"
                  class="btn btn-primary btn-sm"
                  [disabled]="saveButtonDisabled"
                  (click)="onSaveButtonClick()">{{'common.action.save' | translate}}</button>
        </li>
        <li>
          <button type="button"
                  class="btn btn-default btn-sm"
                  (click)="onCancelButtonClick()">{{'common.action.cancel' | translate}}</button>
        </li>
      </ul>
    </ng-template>
  </page-heading>

  <div class="well">

    <form [formGroup]="formGroup">

      <div class="form-group">
        <label for="name">{{'user-group.form.field.name.label' | translate}}</label>
        <input type="text"
               class="form-control"
               id="name"
               name="name"
               formControlName="name"
               placeholder="{{'user-group.default-name' | translate}}"
               [(ngModel)]="group.name"
               autocomplete="off"
               required
               minlength="1"
               maxlength="255">
      </div>
      <div class="form-group">
        <label for="subjects">{{'user-group.form.field.subjects.label' | translate}}</label>
        <sb-button-group id="subjects"
                         name="subjects"
                         [options]="formOptions.subjects"
                         [(ngModel)]="group.subjectCodes"
                         [ngModelOptions]="{standalone: true}"></sb-button-group>

      </div>
      <div class="form-group">
        <label>{{'user-group.form.field.students.label' | translate}}</label>


      </div>

    </form>

  </div>
</ng-template>
