<ng-container *ngIf="!initialized; else loaded">
  <spinner></spinner>
</ng-container>

<ng-template #loaded>

  <page-heading>
    <ng-template #heading>
      <h2 *ngIf="group.id == null">{{'user-group.new-heading' | translate}}</h2>
      <h2 *ngIf="group.id != null">{{group.name}}</h2>
    </ng-template>
    <ng-template #content>
      <ul class="list-unstyled list-inline">
        <li *ngIf="group.id != null">
          <button type="button"
                  class="btn btn-danger btn-sm"
                  [disabled]="deleteButtonDisabled"
                  (click)="onDeleteButtonClick()">{{'common.action.delete' | translate}}</button>
        </li>
        <li>
          <button type="submit"
                  class="btn btn-primary btn-sm"
                  [disabled]="saveButtonDisabled"
                  (click)="onSaveButtonClick()">{{'common.action.save' | translate}}</button>
        </li>
        <li>
          <button type="button"
                  class="btn btn-default btn-sm"
                  (click)="onCancelButtonClick()">{{'common.action.cancel' | translate}}</button>
        </li>
      </ul>
    </ng-template>
  </page-heading>

  <div class="row">
    <div class="col-md-4">
      <div class="well">

        <user-group-form #groupForm
                         [options]="formOptions"
                         [group]="group"
                         (studentClick)="onGroupStudentClick($event)"></user-group-form>

      </div>
    </div>
    <div class="col-md-8">
      <div class="well-group">
        <!--<div class="well">-->
          <!--<p class="small text-muted">You can search for students by school, group, name or SSID. Students can be added by clicking on the plus button next to the student name.</p>-->
        <!--</div>-->
        <div class="well">
          <student-search-form
                               [options]="studentFormOptions"
                               [(ngModel)]="studentForm"
                               (schoolChange)="onStudentFormSearchChange($event)"
                               (groupChange)="onStudentFormSearchChange($event)"
                               (nameChange)="onStudentFormFilterChange($event)"></student-search-form>

        </div>
        <div class="well gray-lightest">

          <label>Students</label>
          <actionable-list-group [items]="filteredStudents"
                      [itemTemplate]="studentFormStudentTemplate"
                      (itemClick)="onFormStudentClick($event)"></actionable-list-group>
        </div>
      </div>
    </div>
  </div>

</ng-template>


<ng-template #studentFormStudentTemplate let-student>
  <i class="fa fa-plus mr-xs"></i> {{'common.person-name' | translate: student}}
</ng-template>
