<form [formGroup]="formGroup">
  <div class="toolbar">
    <div>
      <!--      <ng-content select="[heading]"></ng-content>-->
      <ng-container *ngIf="(compiling | async)">
        <i class="fa fa-spinner fa-pulse"></i> Compiling
      </ng-container>
    </div>

    <button
      type="button"
      class="btn btn-primary btn-outlined"
      [disabled]="saveButtonDisabled | async"
      (click)="onSaveButtonClick()"
    >
      <ng-container *ngIf="(saving | async); else notSaving">
        <i class="fa fa-spinner fa-pulse"></i> Saving
      </ng-container>
      <ng-template #notSaving>
        Save
      </ng-template>
    </button>

    <!--      <ng-container *ngIf="_pipeline.tests.length === 0; else hasTests">-->

    <!--        <button-->
    <!--          type="button"-->
    <!--          class="btn btn-success btn-outlined"-->
    <!--          [routerLink]="['tests', 'new']"-->
    <!--        >-->
    <!--          <i class="fa fa-plus"></i> Create Test-->
    <!--        </button>-->

    <!--      </ng-container>-->
    <!--      <ng-template #hasTests>-->
    <ng-container *ngIf="(testing | async); else notTesting">
      <button
        type="button"
        class="btn btn-success btn-outlined"
        [disabled]="true"
      >
        <i class="fa fa-spinner fa-pulse"></i> Testing
      </button>
    </ng-container>
    <ng-template #notTesting>
      <button
        type="button"
        class="btn btn-success btn-outlined"
        [disabled]="testButtonDisabled | async"
        (click)="onTestButtonClick()"
      >
        Test
      </button>
    </ng-template>
    <!--      </ng-template>-->

    <button
      type="button"
      class="btn btn-primary"
      [disabled]="publishButtonDisabled | async"
      (click)="onPublishButtonClick()"
    >
      Publish
    </button>
  </div>

  <code-editor
    [formControl]="formGroup.get('body')"
    [language]="formGroup.get('language').value"
    [messages]="messages | async"
  ></code-editor>
</form>
