<div *hasAnyPermission="permissions" class="well admin-tools-well">
  <h3>{{ 'home.admin-tools.titles.administrator-tools' | translate }}</h3>
  <div class="row">
    <ng-container *ngFor="let link of links">
      <ng-container *hasPermission="link.permission">
        <div class="col-xs-4 mb-sm admin-tool">
          <a routerLink="{{ link.path }}" class="btn btn-primary btn-xs mb-xs">
            <i class="fa {{ link.icon }}"></i>
            {{ 'home.admin-tools.' + link.id + '.button' | translate }}
          </a>
          <p class="small">
            {{ 'home.admin-tools.' + link.id + '.description' | translate }}
          </p>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
