<!-- Home Page Content Area -->
<div class="home-view">
  <div class="row">
    <div class="col-md-6">
      <h1 class="sr-only">{{'labels.homepage.title' | translate}}</h1>
      <h1 class="blue-dark h1 mb-md">{{'labels.homepage.title' | translate}}</h1>
    </div>
    <div class="col-md-6">
      <div class="pull-right">

        <!-- Custom Exports Link -->
        <a *sbAuthorize="['INDIVIDUAL_PII_READ']" routerLink="/custom-export" class="btn btn-xs btn-default"><i class="fa fa-bold fa-table"></i> {{'labels.organization-export.title' | translate}}</a>

        <!-- Student Groups Admin Link -->
        <a *sbAuthorize="['GROUP_WRITE', 'INSTRUCTIONAL_RESOURCE_WRITE']" href="{{user.configuration.adminWebappUrl}}" class="btn btn-xs btn-info ml-xs"><i class="fa fa-gear"></i> {{'labels.groups.admin-button' | translate}}</a>

      </div>
    </div>
  </div>
  <div class="row">

    <!-- Left Column Content Area -->
    <div class="col-md-9">


      <!-- Student ID Search -->
      <div *sbAuthorize="['GROUP_PII_READ']" class="student-id-search-container well">
        <student-search></student-search>
      </div>

      <!-- School & Grade Search -->
      <div *sbAuthorize="['INDIVIDUAL_PII_READ']">
        <div class="school-and-grade-search-container well">
          <div >
            <school-grade [schools]="user.schools"></school-grade>
          </div>
        </div>
      </div>

      <!-- My Groups Search -->
      <div *sbAuthorize="['GROUP_PII_READ']">
        <div class="my-groups-search-container well">
          <groups [groups]="user.groups"></groups>
        </div>
      </div>
    </div>

    <!-- Right Column Content Area -->
    <div class="col-md-3">

      <!-- Welcome Content -->
      <div class="welcome-container well">
        <p class="lead">{{'labels.homepage.welcome.title' | translate}}</p>
        <div class="mb-md">
          <p [innerHTML]="'labels.homepage.welcome.user-guide-html' | translate:user.configuration"></p>
          <a href="{{user.configuration.userGuideUrl}}" target="_blank" class="btn btn-primary">{{'labels.navigation.user-guide' | translate}}</a>
        </div>
        <div>
          <p [innerHTML]="'labels.homepage.welcome.interpretive-guide-html' | translate:user.configuration"></p>
          <a href="{{user.configuration.interpretiveGuideUrl}}" target="_blank" class="btn btn-success">
            <small>{{'labels.homepage.welcome.interpretive-guide-subtitle' | translate}}</small><br>{{'labels.navigation.interpretive-guide' | translate}}
          </a>
        </div>
      </div>
      <!-- Summary News Dynamic Content -->
      <div [innerHTML]="systemNewsHtml"></div>
    </div>
  </div>
</div>
