<page-heading>
  <ng-template #heading>
    <h1>{{'labels.homepage.title' | translate}}</h1>
  </ng-template>
  <ng-template #content>
    <ul class="list-unstyled list-inline">
      <li>
        <a *hasPermission="'CUSTOM_AGGREGATE_READ'"
           routerLink="/aggregate-reports"
           class="btn btn-xs btn-default">
          {{'aggregate-reports.form.heading' | translate}}
        </a>
      </li>
      <li>
        <a *hasPermission="'INDIVIDUAL_PII_READ'"
           routerLink="/custom-export"
           class="btn btn-xs btn-default">
          <i class="fa fa-bold fa-table"></i>
          {{'labels.organization-export.title' | translate}}
        </a>
      </li>
      <li>
        <admin-dropdown *hasAnyPermission="['GROUP_WRITE', 'INSTRUCTIONAL_RESOURCE_WRITE', 'EMBARGO_WRITE']"></admin-dropdown>
      </li>
    </ul>
  </ng-template>
</page-heading>

<div class="row">

  <!-- Left Column Content Area -->
  <div class="col-md-9">

    <!-- Student ID Search -->
    <div *hasPermission="'GROUP_PII_READ'" class="student-id-search-container well">
      <student-search></student-search>
    </div>

    <!-- School & Grade Search -->
    <div *hasPermission="'INDIVIDUAL_PII_READ'" class="school-and-grade-search-container well">
      <school-grade></school-grade>
    </div>

    <!-- My Groups Search -->
    <div *hasPermission="'GROUP_PII_READ'" class="my-groups-search-container well">
      <groups [groups]="user.groups"></groups>
    </div>

  </div>

  <!-- Right Column Content Area -->
  <div class="col-md-3">

    <!-- Welcome Content -->
    <div class="welcome-container well">
      <p class="lead">{{'labels.homepage.welcome.title' | translate}}</p>
      <div class="mb-md">
        <p [innerHTML]="'labels.homepage.welcome.user-guide-html' | translate:user.configuration"></p>
        <a href="{{user.configuration.userGuideUrl}}" target="_blank" class="btn btn-primary">{{'labels.navigation.user-guide'
          | translate}}</a>
      </div>
      <div>
        <p [innerHTML]="'labels.homepage.welcome.interpretive-guide-html' | translate:user.configuration"></p>
        <a href="{{user.configuration.interpretiveGuideUrl}}" target="_blank" class="btn btn-success">
          <small>{{'labels.homepage.welcome.interpretive-guide-subtitle' | translate}}</small>
          <br>
          {{'labels.navigation.interpretive-guide' | translate}}
        </a>
      </div>
    </div>
    <!-- Summary News Dynamic Content -->
    <div [innerHTML]="'html.system-news' | translate"></div>
  </div>
</div>
