sql:
  report:

    insert: >-
      insert into user_report
        (user_login, job_execution_id, status, report_resource_uri, label, report_request, created)
        values
        (:user_login, :job_execution_id, :status, :report_resource_uri, :label, :report_request, :created)

    update: >-
      update user_report
      set
        user_login = :user_login,
        job_execution_id = :job_execution_id,
        status = :status,
        report_resource_uri = :report_resource_uri,
        label = :label,
        report_request = :report_request,
        created = :created
      where
        id = :id

    findAllByUser: >-
      select
        r.id,
        r.user_login,
        r.job_execution_id,
        r.status,
        r.report_resource_uri,
        r.label,
        r.report_request,
        r.created
      from user_report r
      where r.user_login = :user
      order by r.id desc

    findAllByUserAndId: >-
      select
        r.id,
        r.user_login,
        r.job_execution_id,
        r.status,
        r.report_resource_uri,
        r.label,
        r.report_request,
        r.created
      from user_report r
      where r.user_login = :user
        and r.id in (:report_ids)
      order by r.id desc

    findById: >-
      select
        r.id,
        r.user_login,
        r.job_execution_id,
        r.status,
        r.report_resource_uri,
        r.label,
        r.report_request,
        r.created
      from user_report r
      where r.id = :report_id
