<!-- TODO extract -->
<div class="controls">
  <input
    id="search"
    name="search"
    type="text"
    placeholder="{{ 'sandbox-config.fields.search' | translate }}"
    class="form-control"
    (input)="table.filterGlobal($event, 'contains')"
  />

  <!--  <label>-->
  <!--    <input-->
  <!--      id="required"-->
  <!--      name="required"-->
  <!--      type="checkbox"-->
  <!--      [value]="required"-->
  <!--      (change)="requiredChanged.emit($event.target.value)"-->
  <!--    />-->
  <!--    {{ 'sandbox-config.config-properties.required' | translate }}-->
  <!--  </label>-->

  <label>
    <input
      id="modified"
      name="modified"
      type="checkbox"
      [value]="showModifiedPropertiesOnly"
      (change)="showModifiedPropertiesOnly = !showModifiedPropertiesOnly"
    />
    {{ 'sandbox-config.config-properties.modified' | translate }}
  </label>
</div>

<div [formGroup]="form">
  <div [formArrayName]="propertiesArrayName">
    <p-treeTable
      #table
      [value]="configurationPropertiesTreeNodes"
      dataKey="key"
      [globalFilterFields]="['key', 'value']"
      styleClass="table table-striped table-hover overflow rdw-scrollable-table"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-i="rowIndex">
        <!-- Parent Row -->
        <tr
          *ngIf="
            !rowNode.node.leaf &&
            ((showModifiedPropertiesOnly &&
              childrenHaveOverrides(rowNode.node)) ||
              !showModifiedPropertiesOnly)
          "
          [ttRow]="rowNode"
        >
          <td
            [title]="rowNode.node.data.key"
            colspan="2"
            [ngClass]="{ 'group-node': rowNode.node.data.groupNode }"
            (click)="expandOrCollapse(rowNode, $event)"
          >
            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
            <ng-container *ngIf="!rowNode.node.data.groupNode">{{
              rowNode.node.data.key
            }}</ng-container>
            <ng-container *ngIf="rowNode.node.data.groupNode">{{
              'tenant-config.properties.' + rowNode.node.data.key | translate
            }}</ng-container>
          </td>
        </tr>
        <!-- Leaf Row -->
        <tr
          *ngIf="
            !rowNode.node.data.readonly &&
            rowNode.node.leaf &&
            ((showModifiedPropertiesOnly &&
              rowNode.node.data.originalValue !== rowNode.node.data.value) ||
              !showModifiedPropertiesOnly)
          "
          [ttRow]="rowNode"
          [ngClass]="{
            modified: rowNode.node.data.modified,
            required:
              form.controls[propertiesArrayName].controls[
                rowNode.node.data.formControlName
              ].errors
          }"
          (click)="overrideInput.focus()"
        >
          <td [title]="rowNode.node.data.key">
            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
            {{ rowNode.node.data.key }}
          </td>
          <td>
            <input
              #overrideInput
              [type]="
                rowNode.node.data.secure && !rowNode.node.data.showSecure
                  ? 'password'
                  : 'text'
              "
              data-lpignore="true"
              [value]="rowNode.node.data.value"
              [formControlName]="rowNode.node.data.formControlName"
              (change)="updateOverride(rowNode.node.data)"
              class="property-input"
              [ngClass]="{ 'text-lowercase': rowNode.node.data.lowercase }"
              [style.padding-right]="calculatePadding(rowNode.node.data)"
            />
            <div class="icon-container">
              <i
                class="fa fa-undo fa-md"
                *ngIf="
                  rowNode.node.data.value !== rowNode.node.data.originalValue
                "
                (click)="resetClicked(rowNode.node.data)"
                popover="{{ 'tenant-config.popover.reset' | translate }}"
                placement="left"
                container="body"
                triggers="mouseenter:mouseleave"
              ></i>
              <i
                class="fa fa-md"
                [ngClass]="{
                  'fa-eye-slash': rowNode.node.data.showSecure,
                  'fa-eye': !rowNode.node.data.showSecure
                }"
                *ngIf="rowNode.node.data.secure"
                (click)="
                  rowNode.node.data.showSecure = !rowNode.node.data.showSecure
                "
                placement="left"
                container="body"
                triggers="mouseenter:mouseleave"
              ></i>
              <i
                class="fa fa-unlock fa-md"
                *ngIf="rowNode.node.data.encrypted"
                (click)="decryptClicked(rowNode.node.data)"
                popover="{{ 'tenant-config.popover.decrypt' | translate }}"
                placement="left"
                container="body"
                triggers="mouseenter:mouseleave"
              ></i>
              <i
                class="fa fa-asterisk fa-md"
                *ngIf="rowNode.node.data.required"
                popover="{{ 'tenant-config.popover.password' | translate }}"
                placement="left"
                container="body"
                triggers="mouseenter:mouseleave"
              ></i>
            </div>
          </td>
        </tr>
        <tr
          *ngIf="
            rowNode.node.data.readonly &&
            rowNode.node.leaf &&
            ((showModifiedPropertiesOnly &&
              rowNode.node.data.originalValue !== rowNode.node.data.value) ||
              !showModifiedPropertiesOnly)
          "
          [ttRow]="rowNode"
          [ngClass]="{
            modified:
              rowNode.node.data.value !== rowNode.node.data.originalValue
          }"
        >
          <td [title]="rowNode.node.data.key">
            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
            {{ rowNode.node.data.key }}
          </td>
          <td>
            <span *ngIf="rowNode.node.data.readonly">
              {{ rowNode.node.data.value }}
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="2">
            {{ 'sandbox-config.config-properties.empty' | translate }}
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
</div>
