<!-- Breadcrumb -->
<div [hidden]="breadcrumbs.length == 0">
  <div class="container">
    <ul class="breadcrumb">
      <li>
        <a routerLink="/">
          <i class="fa fa-home"></i>
          <span class="sr-only">{{ 'labels.home.name' | translate }}</span>
        </a>
      </li>
      <li *ngFor="let crumb of breadcrumbs; let last = last;" [ngClass]="{'active': last }">
        <a *ngIf="!last" [routerLink]="crumb.commands">
          {{ crumb.requiresTranslate? (crumb.label | translate:crumb.translateParams) : crumb.label }}
        </a>
        <span *ngIf="last" [routerLink]="crumb.commands">
          {{ crumb.requiresTranslate? (crumb.label | translate:crumb.translateParams) : crumb.label }}
        </span>
      </li>
    </ul>
  </div>
</div>
