<page-heading>
  <ng-template #heading>
    <h2>{{ 'sandbox-config.title' | translate }}</h2>
    <a
      class="btn btn-primary pull-right"
      style="margin-top: -8px;"
      routerLink="/sandboxes/new"
    >
      {{ 'sandbox-config.new-sandbox.header' | translate }}
    </a>
  </ng-template>
</page-heading>

<div class="sandbox-config">
  <div class="well-group mt-sm">
    <div *ngFor="let sandbox of sandboxes" class="well">
      <sandbox-details-config
        [sandbox]="sandbox"
        (deleteClicked)="openDeleteSandboxModal(sandbox)"
        (archiveClicked)="openArchiveSandboxModal(sandbox)"
        (resetDataClicked)="openResetDataModal(sandbox)"
      ></sandbox-details-config>
    </div>
    <div *ngIf="sandboxes.length === 0" class="well">
      <h3>{{ 'sandbox-config.empty' | translate }}</h3>
    </div>
  </div>
</div>
