<page-heading>
  <h1 class="h2" heading>{{ 'sandbox-config.title' | translate }}</h1>
  <button
    controls
    *hasPermission="'TENANT_WRITE'"
    class="btn btn-primary"
    style="margin-top: -8px;"
    routerLink="/sandboxes/new"
  >
    {{ 'sandbox-config.new-sandbox.header' | translate }}
  </button>
</page-heading>

<div class="sandbox-config">
  <div class="well-group mt-sm">
    <div *ngFor="let sandbox of sandboxes" class="well">
      <sandbox-details-config
        [sandbox]="sandbox"
        [localizationDefaults]="localizationDefaults"
        (deleteClicked)="openDeleteSandboxModal(sandbox)"
        (resetDataClicked)="openResetDataModal(sandbox)"
      ></sandbox-details-config>
    </div>
    <div *ngIf="sandboxes.length === 0" class="well">
      <h3>{{ 'sandbox-config.empty' | translate }}</h3>
    </div>
  </div>
</div>
