<page-heading>
  <ng-template #heading>
    <h2>{{ 'tenant-config.title' | translate }}</h2>
    <a
      class="btn btn-primary pull-right"
      style="margin-top: -8px;"
      routerLink="/tenants/new"
    >
      {{ 'tenant-config.new-tenant.header' | translate }}
    </a>
  </ng-template>
</page-heading>

<div class="sandbox-config">
  <div class="well-group mt-sm" *ngIf="tenants">
    <div *ngFor="let tenant of tenants" class="well">
      <tenant-details-config
        [tenant]="tenant"
        [localizationDefaults]="localizationDefaults"
        (deleteClicked)="openDeleteTenantModal(tenant)"
      ></tenant-details-config>
    </div>
    <div *ngIf="tenants.length === 0" class="well">
      <h3>{{ 'tenant-config.empty' | translate }}</h3>
    </div>
  </div>
</div>
