<breadcrumbs [values]="(context|async)?.breadcrumbs"></breadcrumbs>

<div class="student-exam-items-view">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="page-heading">

          <h2>{{'labels.assessment.grade' | translate}} {{(context|async)?.exam.assessment.grade}} {{(context|async)?.exam.assessment.name}}</h2>

          <span class="exam-attributes">
            <span class="exam-attribute"><span>Subject:</span> <span class="attribute-value">{{'assessment.subjects.' + (context|async)?.exam.assessment.subject + '.shortName' | translate}}</span></span>
            <span class="exam-attribute"><span>Academic Year:</span> <span class="attribute-value">{{(context|async)?.exam.assessment.academicYear}}</span></span>
            <span class="exam-attribute"><span>Date:</span> <span class="attribute-value">{{(context|async)?.exam.date | date:'MM/dd/yyyy'}}</span></span>
          </span>

        </div>

        <div *ngIf="(context|async)?.exam" class="card student-exam-items-card">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="text-center">Item #</th>
                <th>Claim/Target</th>
                <th class="text-center">Student Score</th>
                <th class="text-center">Max Score</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of (context|async)?.exam.assessment.items">
                <td class="text-center">{{item.number}}</td>
                <td>{{item.claim}}/{{item.target}}</td>
                <td class="text-center">{{item.score}}</td>
                <td class="text-center">{{item.maximumScore}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="expandable">
          <span class="expand-control">
            <i class="glyphicon glyphicon-resize-full"></i>
          </span>
          <tabset>
            <tab heading="Item Viewer">

            </tab>
            <tab heading="Rubric and Exemplar">

            </tab>
            <tab heading="Item Information">

            </tab>
          </tabset>
        </div>

      </div>
    </div>
  </div>
</div>
