# actuator end-points should be served from a different port than the API/web content
management:
  port: 8008
  security:
    enabled: false
  health:
    redis:
      enabled: false

jwt:
  secret: ${rdw.reporting.jwt.secret:secret}
  producer: true
  routePaths: ${zuul.routes.admin-service.path},${zuul.routes.aggregate-service.path},${zuul.routes.report-processor.path},${zuul.routes.reporting-service.path}

permissionservice:
  component: Reporting
  endpoint: ${rdw.permission.service}

reporting:
  analytics-tracking-id: ${rdw.reporting.analytics.trackingId:}
  access-denied-url: forward:/assets/public/access-denied.html
  interpretive-guide-url: https://portal.smarterbalanced.org/library/en/reporting-system-interpretive-guide.pdf
  iris-vendor-id: ${rdw.reporting.iris.vendorId}
  landing-page-url: forward:/landing.html
  min-item-data-year: 2016
  school-year: 2018
  state:
    code: CA
    name: California
  user-guide-url: https://portal.smarterbalanced.org/library/en/reporting-system-user-guide.pdf
  # english-learners should be lep or elas
  english-learners:
    - elas

  target-report:
    insufficient-data-cutoff: 0.2
    min-number-of-students: 0

saml:
  # SAML keystore path: file:/some/path/saml.jks
  key-store-file: ${rdw.reporting.keystore.path}
  key-store-password: ${rdw.reporting.keystore.password}
  private-key-entry-alias: ${rdw.reporting.keystore.alias}
  private-key-entry-password: ${rdw.reporting.keystore.entry.password}
  idp-metadata-url: ${rdw.reporting.idp}
  sp-entity-id: ${rdw.reporting.entityId}
  # SAML settings when hosting behind a load balancer or reverse proxy
  load-balance:
    enabled: false
    scheme: https
    hostname:
    context-path: /
    port: 8080
    include-server-port: false

security:
  filter-dispatcher-types: FORWARD, INCLUDE, REQUEST, ASYNC, ERROR

server:
  # tomcat settings for reasonable performance: adjust for tiny/huge configurations
  tomcat:
    max-connections: 0
    max-threads: 4
    accept-count: 10
  compression:
    enabled: true
    mime-types: application/json,application/xml,text/html,text/xml,text/plain,text/css,text/javascript,application/javascript,text/csv

spring:
  datasource:
    url: "\
      jdbc:mysql://${spring.datasource.url-server:localhost:3306}/${spring.datasource.url-schema:reporting}\
      ?useSSL=${spring.datasource.use-ssl:false}\
      &useLegacyDatetimeCode=${spring.datasource.use-legacy-datetime-code:false}\
      &characterEncoding=${spring.datasource.character-encoding:utf8}\
      &useCompression=${spring.datasource.use-compression:true}\
      &connectTimeout=${spring.datasource.connect-timeout:10000}\
      &socketTimeout=${spring.datasource.socket-timeout:40000}\
      "
    jdbcInterceptors: "QueryTimeoutInterceptor(queryTimeout=${spring.datasource.query-timeout:30})"
    username: root
    password:
    testWhileIdle: true
    validationQuery: SELECT 1
    validationQueryTimeout: 10000
    driverClassName: com.mysql.jdbc.Driver
    initialize: false
    initialSize: 4
    maxActive: 10
    minIdle: ${spring.datasource.initialSize}
    maxIdle: ${spring.datasource.maxActive}

  resources:
    chain:
      enabled: true
      gzipped: true

  session:
    store-type: none

  http:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB

  # still need this for translations api
  jackson:
    default-property-inclusion: non_null
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

  cache:
    type: SIMPLE
    cache-names: permissionsByRole, translations, translation_properties

# Netflix zuul configuration.
zuul:
  set-content-length: true
  FormBodyWrapperFilter:
    pre:
      disable: true
  host:
    socket-timeout-millis: 100000
  routes:
    iris:
      path: /iris/**
      url: ${rdw.reporting.iris.url}
      stripPrefix: true
    admin-service:
      path: /api/admin-service/**
      url: http://localhost:8280
      stripPrefix: true
    aggregate-service:
      path: /api/aggregate-service/**
      url: http://localhost:8380
      stripPrefix: true
    report-processor:
      path: /api/report-processor/**
      url: http://localhost:8085
      stripPrefix: true
    reporting-service:
      path: /api/reporting-service/**
      url: http://localhost:8180
      stripPrefix: true
