<div class="home-view">

  <div class="flex-child grow">
    <label>{{'labels.admin.batch-list' | translate }}</label>
  </div>

  <div class="my-groups-list-container">
    <p-dataTable [value]="warehouseImports" emptyMessage="empty" sortField="id"
                 tableStyleClass="table table-striped table-hover">
      <p-column field="id" header="id" [sortable]="true"></p-column>
      <p-column field="digest" header="digest" [sortable]="true"></p-column>
    </p-dataTable>
  </div>

</div>
