<form
  class="form-group"
  [formGroup]="formGroup"
  (ngSubmit)="onSaveButtonClick()"
>
  <page-heading>
    <h1 class="h2" heading>
      {{ value.label }}
      <span class="sandbox-key">({{ value.code }})</span>
    </h1>
    <div controls>
      <ul class="list-unstyled list-inline">
        <li>
          <div class="btn-group">
            <div class="btn-group">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="formGroup.invalid"
              >
                {{ 'common.action.save' | translate }}
              </button>
            </div>
            <ng-container *ngIf="value.sandbox">
              <div class="btn-group" dropdown>
                <button
                  id="dropdown-button"
                  type="button"
                  class="btn btn-primary dropdown-toggle"
                  dropdownToggle
                  aria-controls="tenant-dropdown"
                >
                  <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul
                  *dropdownMenu
                  id="tenant-dropdown"
                  class="dropdown-menu dropdown-menu-right"
                  role="menu"
                  aria-labelledby="dropdown-button"
                >
                  <li role="menuitem">
                    <a
                      class="dropdown-item"
                      href="javascript:void(0)"
                      (click)="delete.emit(value)"
                    >
                      <i class="fa fa-trash"></i>
                      {{ 'sandbox-config.actions.delete' | translate }}
                    </a>
                  </li>
                </ul>
              </div>
            </ng-container>
          </div>
        </li>
      </ul>
    </div>
  </page-heading>

  <div class="sandbox-container well">
    <div class="row mb-xs">
      <div class="col-md-4">
        <label>{{ 'sandbox-config.fields.label' | translate }}</label>
      </div>
      <div class="col-md-8">
        <input
          *ngIf="writable"
          type="text"
          class="form-control"
          name="label"
          formControlName="label"
        />
        <span *ngIf="!writable">
          {{ value.label }}
        </span>
      </div>
    </div>
    <div class="row mb-xs">
      <div class="col-md-4">
        <label>{{ 'sandbox-config.fields.description' | translate }}</label>
      </div>
      <div class="col-md-8">
        <textarea
          *ngIf="writable"
          class="form-control"
          name="description"
          formControlName="description"
        >
        </textarea>
        <span *ngIf="!writable">
          {{ value.description }}
        </span>
      </div>
    </div>
    <div class="row mb-sm" *ngIf="value.dataSet != null">
      <div class="col-md-4">
        <label>{{ 'sandbox-config.fields.data-set' | translate }}</label>
      </div>
      <div class="col-md-8">{{ value.dataSet.label }}</div>
    </div>

    <p-accordion [multiple]="true">
      <p-accordionTab
        header="{{
          'sandbox-config.fields.configuration-properties' | translate
        }}"
      >
        <property-override-tree-table
          [form]="formGroup"
          [configurationProperties]="value.configurationProperties"
          [readonly]="!writable"
          [readonlyGroups]="readonlyGroups"
          propertiesArrayName="configurationProperties"
        >
        </property-override-tree-table>
      </p-accordionTab>
      <p-accordionTab
        header="{{
          'sandbox-config.fields.localization-overrides' | translate
        }}"
      >
        <property-override-table
          [form]="formGroup"
          [configurationProperties]="localizationOverrides"
          [readonly]="!writable"
          propertiesArrayName="localizationOverrides"
        >
        </property-override-table>
      </p-accordionTab>
    </p-accordion>
  </div>
</form>
