<form
  class="form-group"
  [formGroup]="formGroup"
  (ngSubmit)="onSaveButtonClick()"
>
  <page-heading>
    <h1 class="h2" heading>
      {{ value.label }}
      <span class="sandbox-key">({{ value.code }})</span>
    </h1>
    <div controls>
      <ul class="list-unstyled list-inline">
        <li>
          <div class="btn-group">
            <div class="btn-group">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="formGroup.invalid"
              >
                {{ 'common.action.save' | translate }}
              </button>
            </div>
            <ng-container *ngIf="value.sandbox">
              <div class="btn-group" dropdown>
                <button
                  id="dropdown-button"
                  type="button"
                  class="btn btn-primary dropdown-toggle"
                  dropdownToggle
                  aria-controls="tenant-dropdown"
                >
                  <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul
                  *dropdownMenu
                  id="tenant-dropdown"
                  class="dropdown-menu dropdown-menu-right"
                  role="menu"
                  aria-labelledby="dropdown-button"
                >
                  <li role="menuitem">
                    <a
                      class="dropdown-item"
                      href="javascript:void(0)"
                      (click)="delete.emit(value)"
                    >
                      <i class="fa fa-trash"></i>
                      {{ 'sandbox-config.actions.delete' | translate }}
                    </a>
                  </li>
                </ul>
              </div>
            </ng-container>
          </div>
        </li>
      </ul>
    </div>
  </page-heading>

  <div class="well">
    <div class="primary-form-controls">
      <div class="form-group">
        <label for="label">{{
          'sandbox-config.fields.label' | translate
        }}</label>
        <ng-container *ngIf="writable; else readonlyName">
          <input
            *ngIf="writable"
            type="text"
            class="form-control"
            id="label"
            name="label"
            formControlName="label"
          />
        </ng-container>
        <ng-template #readonlyName>
          {{ value.label }}
        </ng-template>
      </div>

      <div class="form-group" *ngIf="value.sandbox">
        <label for="tenant">{{
          'sandbox-config.fields.tenant' | translate
        }}</label>
        <select id="tenant" class="form-control" formControlName="tenant">
          <option *ngFor="let tenant of tenants" [ngValue]="tenant">
            {{ tenant.label }}
          </option>
        </select>
      </div>

      <div class="form-group" *ngIf="value.sandbox">
        <label for="dataSet">{{
          'sandbox-config.fields.data-set' | translate
        }}</label>
        <ng-container *ngIf="writable; else readonlyDataSet">
          <select id="dataSet" class="form-control" formControlName="dataset">
            <option *ngFor="let dataSet of dataSets" [ngValue]="dataSet">
              {{ dataSet.label }}
            </option>
          </select>
        </ng-container>
        <ng-template #readonlyDataSet>
          {{ value.dataSet?.label }}
        </ng-template>
      </div>
    </div>

    <div class="form-group">
      <label>{{ 'sandbox-config.fields.description' | translate }}</label>
      <ng-container *ngIf="writable; else readonlyDescription">
        <textarea
          *ngIf="writable"
          class="form-control"
          name="description"
          formControlName="description"
        ></textarea>
      </ng-container>
      <ng-template #readonlyDescription>
        {{ value.description }}
      </ng-template>
    </div>

    <div class="form-group">
      <property-override-tree-table
        [form]="formGroup"
        [configurationProperties]="value.configurationProperties"
        [readonly]="!writable"
        [readonlyGroups]="readonlyGroups"
        propertiesArrayName="configurationProperties"
      >
        <label label>
          {{ 'sandbox-config.fields.configuration-properties' | translate }}
        </label>
      </property-override-tree-table>
    </div>
    <div class="form-group">
      <property-override-table
        [form]="formGroup"
        [configurationProperties]="localizationOverrides"
        [readonly]="!writable"
        propertiesArrayName="localizationOverrides"
      >
        <label label>
          {{ 'sandbox-config.fields.localization-overrides' | translate }}
        </label>
      </property-override-table>
    </div>
  </div>
</form>
