<page-heading>
  <ng-template #heading>
    <h2>{{'instructional-resource.title' | translate}}</h2>
  </ng-template>
  <ng-template #content>
    <span class="btn btn-primary btn-sm" (click)="openCreateResourceModal()"><i class="fa fa-plus fa-sm"></i> {{'common.action.create' | translate}}</span>
  </ng-template>
</page-heading>

<spinner *ngIf="loading" text="{{'common.messages.loading' | translate}}"></spinner>

<!-- Results Table -->
<div class="well wide-content-container" *ngIf="!loading">
  <div class="table-search-form-container">
    <label for="search" class="sr-only">{{'instructional-resource.filter' | translate}}</label>
    <input [(ngModel)]="searchTerm" class="search form-control" id="search" type="text"
           placeholder="{{'instructional-resource.filter' | translate}}" autocomplete="off" (ngModelChange)="onSearchChange()">
  </div>
  <div class="table-list-container">
    <p-dataTable [value]="filteredResources" emptyMessage="{{'instructional-resource.no-results' | translate}}" sortField="assessmentName"
                 tableStyleClass="table table-striped table-hover overflow">
      <p-column field="assessmentLabel" header="{{'common.instructional-resource.columns.assessment-label' | translate}}" [sortable]="true">
        <ng-template let-data="rowData" pTemplate="body">
          <popup-menu [item]="data" [actions]="actions" [text]="data.assessmentLabel"></popup-menu>
        </ng-template>
      </p-column>
      <p-column field="organizationType" header="{{'common.instructional-resource.columns.organization-type' | translate}}" [sortable]="true">
        <ng-template let-type="rowData.organizationType" pTemplate="body">
          {{ ('common.instructional-resource.organizations.type.' + type) | translate }}
        </ng-template>
      </p-column>
      <p-column field="organizationName" [sortable]="true">
        <ng-template pTemplate="header">
          <info-button title="{{'common.instructional-resource.columns.organization-name' | translate}}"
                       content="{{'common.instructional-resource.columns.organization-name-info' | translate}}"></info-button>
        </ng-template>
      </p-column>
      <p-column field="performanceLevel" header="{{'common.instructional-resource.columns.performance-level' | translate}}" [sortable]="true">
        <ng-template let-assessmentType="rowData.assessmentType" let-performanceLevel="rowData.performanceLevel" pTemplate="body">
          <span *ngIf="performanceLevel == 0">{{ 'common.instructional-resource.performance-levels.all' | translate }}</span>
          <span *ngIf="performanceLevel > 0">{{ ('common.instructional-resource.performance-levels.' + assessmentType + '.' + performanceLevel) | translate }}</span>
        </ng-template>
      </p-column>
      <p-column field="resource" header="{{'common.instructional-resource.columns.resource' | translate}}">
        <ng-template let-resource="rowData.resource" pTemplate="body">
          <a href="{{resource}}" target="_blank">{{resource}}</a>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</div>
