<div class="mb-md">
  <span class="h3 blue-dark">{{'labels.instructional-resource.title' | translate}}</span>
  <div class="pull-right">
    <span class="btn btn-primary mr-xs" (click)="openCreateResourceModal()"><i class="fa fa-cloud-upload"></i> {{'prompt.create' | translate}}</span>
  </div>
</div>

<spinner *ngIf="loading" text="{{'messages.loading' | translate}}"></spinner>

<!-- Results Table -->
<div class="well wide-content-container" *ngIf="!loading">
  <div class="table-search-form-container">
    <label for="search" class="sr-only">{{'labels.instructional-resource.filter' | translate}}</label>
    <input [(ngModel)]="searchTerm" class="search form-control" id="search" type="text"
           placeholder="{{'labels.instructional-resource.filter' | translate}}" autocomplete="off" (ngModelChange)="onSearchChange()">
  </div>
  <div class="table-list-container">
    <p-dataTable [value]="filteredResources" emptyMessage="{{'labels.instructional-resource.no-results' | translate}}" sortField="assessmentName"
                 tableStyleClass="table table-striped table-hover overflow">
      <p-column field="assessmentLabel" header="{{'labels.instructional-resource.cols.assessment-label' | translate}}" [sortable]="true">
        <ng-template let-data="rowData" pTemplate="body">
          <popup-menu [item]="data" [actions]="actions" [text]="data.assessmentLabel"></popup-menu>
        </ng-template>
      </p-column>
      <p-column field="organizationType" header="{{'labels.instructional-resource.cols.organization-type' | translate}}" [sortable]="true">
        <ng-template let-type="rowData.organizationType" pTemplate="body">
          {{ ('labels.instructional-resource.organizations.type.' + type) | translate }}
        </ng-template>
      </p-column>
      <p-column field="organizationName" header="{{'labels.instructional-resource.cols.organization-name' | translate}}" [sortable]="true"></p-column>
      <p-column field="performanceLevel" header="{{'labels.instructional-resource.cols.performance-level' | translate}}" [sortable]="true">
        <ng-template let-assessmentType="rowData.assessmentType" let-performanceLevel="rowData.performanceLevel" pTemplate="body">
          <span *ngIf="performanceLevel == 0">{{ 'labels.instructional-resource.assessments.performance-levels.all' | translate }}</span>
          <span *ngIf="performanceLevel > 0">{{ ('labels.instructional-resource.assessments.performance-levels.' + assessmentType + '.' + performanceLevel) | translate }}</span>
        </ng-template>
      </p-column>
      <p-column field="resource" header="{{'labels.instructional-resource.cols.resource' | translate}}">
        <ng-template let-resource="rowData.resource" pTemplate="body">
          <a href="{{resource}}" target="_blank">{{resource}}</a>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</div>
