<div class="modal-header">
  <h4 class="modal-title pull-left">{{ 'update-instructional-resource-modal.title' | translate }}</h4>
  <button type="button" class="close pull-right" title="{{'common.action.close' | translate}}" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div *ngIf="unableToModify" class="alert alert-danger">
    {{ 'update-instructional-resource-modal.error' | translate }}
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <fieldset>
        <div class="form-group row">
          <label class="col-xs-4 control-label">{{'common.instructional-resource.columns.assessment-label' | translate}}</label>
          <span class="col-xs-8 text-overflow-ellipsis" title="{{resource.assessmentLabel}}">{{resource.assessmentLabel}}</span>
        </div>
        <div class="form-group row">
          <label class="col-xs-4 control-label">{{'common.instructional-resource.columns.assessment-name' | translate}}</label>
          <span class="col-xs-8 text-overflow-ellipsis" title="{{resource.assessmentName}}">{{resource.assessmentName}}</span>
        </div>
        <div class="form-group row">
          <label class="col-xs-4 control-label">
            <info-button title="{{'common.instructional-resource.columns.organization-name' | translate}}"
                         content="{{'common.instructional-resource.columns.organization-name-info' | translate}}"></info-button>
          </label>
          <span class="col-xs-8 text-overflow-ellipsis" title="{{resource.organizationName}}">{{resource.organizationName}}</span>
        </div>
        <div class="form-group row">
          <label class="col-xs-4 control-label">{{'common.instructional-resource.columns.organization-type' | translate}}</label>
          <span class="col-xs-8 text-overflow-ellipsis" title="{{resource.organizationType}}">{{resource.organizationType}}</span>
        </div>
        <div class="form-group row">
          <label class="col-xs-4 control-label">{{'common.instructional-resource.columns.performance-level' | translate}}</label>
          <span *ngIf="resource.performanceLevel == 0" class="col-xs-8 text-overflow-ellipsis">{{ 'common.instructional-resource.performance-levels.all' | translate }}</span>
          <span *ngIf="resource.performanceLevel > 0" class="col-xs-8 text-overflow-ellipsis">{{ ('common.instructional-resource.performance-levels.' + resource.assessmentType + '.' + resource.performanceLevel) | translate }}</span>
        </div>
        <div class="form-group row"
             [ngClass]="{'has-error': resourceControl.invalid && (resourceControl.dirty || resourceControl.touched)}">
          <label for="resourceUrl" class="col-xs-4 control-label">{{'common.instructional-resource.columns.resource' | translate}}</label>
          <div class="col-xs-8 pl-0 pr-0">
            <input id="resourceUrl"
                   name="resourceUrl"
                   #resourceControl="ngModel"
                   class="form-control"
                   placeholder="{{'common.instructional-resource-form.resource-placeholder' | translate}}"
                   [(ngModel)]="resource.resource"
                   pattern="https?://.+"
                   required>
            <div *ngIf="resourceControl.invalid && (resourceControl.dirty || resourceControl.touched)">
              <p *ngIf="resourceControl.errors.pattern"
                 class="help-block small red">{{'common.instructional-resource-form.resource-pattern-error' | translate}}</p>
              <p *ngIf="!resourceControl.errors.pattern && resourceControl.errors.required"
                 class="help-block small red">{{'common.form-field-message.required' | translate}}</p>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<div class="modal-footer">
    <span>
      <button type="button" class="btn btn-default" (click)="cancel()">
        {{ 'common.action.cancel' | translate }}
      </button>
      <button class="btn btn-primary" [disabled]="resourceControl.invalid" (click)="update()">
        {{ 'common.action.update' | translate }}
      </button>
    </span>
</div>
