<h3 class="blue-dark mb-md">{{'labels.embargo.title' | translate}}</h3>

<div class="well" *ngIf="embargoesByOrganizationType.has('State')">
  <div class="well-body mt-sm">
    <embargo-table translateContext="labels.embargo.state.table"
                   [embargoes]="embargoesByOrganizationType.get('State')"
                   (toggle)="confirmToggle($event)"></embargo-table>
  </div>
</div>

<div class="well" *ngIf="embargoesByOrganizationType.has('District')">
  <div class="well-body mt-xsm">
    <embargo-table translateContext="labels.embargo.district.table"
                   [embargoes]="embargoesByOrganizationType.get('District')"
                   [overridingEmbargo]="embargoesByOrganizationType.get('State')[0]"
                   (toggle)="confirmToggle($event)"></embargo-table>
  </div>
</div>


