<p-dataTable #datatable
             [value]="embargoes"
             sortField="organization.name"
             tableStyleClass="table table-striped table-hover"
             [tableStyle]="{'table-layout':'auto'}">

  <p-column field="organizationName"
            header="{{translateContext + '.headers.name' | translate}}"
            [sortable]="sortable">

    <ng-template let-embargo="rowData" pTemplate="body">
      {{embargo.organization.name}}
    </ng-template>
  </p-column>

  <p-column *ngFor="let subjectCode of subjectCodes"
            field="{{subjectCode}}"
            styleClass="text-right"
            header="{{translateContext + '.headers.' + subjectCode | translate }}"
            [sortable]="sortable">

    <ng-template let-embargo="rowData" pTemplate="body">
      {{embargo.examCountsBySubject[subjectCode] | number}}
    </ng-template>
  </p-column>

  <p-column field="individualEnabled"
            styleClass="text-right"
            header="{{translateContext + '.headers.individualEnabled' | translate }}"
            [sortable]="sortable">

    <ng-template let-embargo="rowData" pTemplate="body">
      <toggle #toggle (click)="toggleIndividual(toggle, embargo)"
              [value]="embargo.individualEnabled"
              [disabled]="embargo.readonly"
              [options]="[
                { value: true, text: (translateContext + '.toggle.true') | translate },
                { value: false, text: (translateContext + '.toggle.false') | translate }
              ]">
      </toggle>
    </ng-template>
  </p-column>

  <p-column field="aggregateEnabled"
            styleClass="text-right"
            header="{{translateContext + '.headers.aggregateEnabled' | translate }}"
            [sortable]="sortable">

    <ng-template let-embargo="rowData" pTemplate="body">
      <toggle #toggle (click)="toggleAggregate(toggle, embargo)"
              [value]="embargo.aggregateEnabled"
              [disabled]="embargo.readonly"
              [options]="[
                { value: true, text: (translateContext + '.toggle.true') | translate },
                { value: false, text: (translateContext + '.toggle.false') | translate }
              ]">
      </toggle>
    </ng-template>
  </p-column>

</p-dataTable>
