<nav class="navigation navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">
        <img class="logo" src="/assets/image/logo-1364x433.png" alt="Smarter Balanced"/>
      </a>
      <h1 class="title">{{'application.title' | translate}}</h1>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <div class="navbar-right">
        <span class="welcome-message">
          <i class="glyphicon glyphicon-user"></i><span *ngIf="user">{{'welcome' | translate:user }}</span>
        </span>
        <span class="link-divider">|</span>
        <a href="javascript:void(0)" onclick="window.document.logoutForm.submit()">Logout</a>
        <form name="logoutForm" method="post" action="/saml/logout"></form>
      </div>
    </div>
  </div>
</nav>

<div class="hidden">
  <h1>{{ 'HELLO' | translate }}</h1>
  <!-- todo: refactor to directive/component -->
  <select #languageSelect (change)="translate.use(languageSelect.value)">
    <option *ngFor="let language of translate.getLangs()" [value]="language" [selected]="language === translate.currentLang">
      {{ language }}
    </option>
  </select>
</div>

<div class="page-view">
  <breadcrumbs></breadcrumbs>
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <div class="container">
    <p class="text-right">© The Regents of the University of California – Smarter Balanced Assessment Consortium</p>
  </div>
</footer>

