<breadcrumbs></breadcrumbs>

<div class="home-view">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="row">
          <div class="col-md-8">
            <h2>{{'labels.groups' | translate}}</h2>
          </div>
          <div class="col-md-4">
            <div *ngIf="groups.length > 1" class="inner-addon left-addon search-box">
              <label class="sr-only" for="search">{{'prompt.search' | translate}}</label>
              <i class="glyphicon glyphicon-search"></i>
              <input class="search form-control" id="search" type="text" placeholder="{{'prompt.search' | translate}}" autocomplete="off"
                     [value]="x?x:''"
                     (input)="x = $event.target.value">
            </div>
          </div>
        </div>

        <div *ngIf="groups" class="card groups-card">



          <!--<div class="groups list-group">-->
          <!--<a *ngFor="let group of groups" class="group list-group-item" routerLink="/groups/{{group.id}}/students">-->
          <!--{{group.name}} <span class="badge">{{group.size}}</span>-->
          <!--</a>-->
          <!--</div>-->

          <table class="table table-striped">
            <thead>
              <tr>
                <th>{{'labels.group.name' | translate}}</th>
                <th>{{'labels.district.name' | translate}}</th>
                <th>{{'labels.school.name' | translate}}</th>
                <th>{{'labels.assessment.subject' | translate}}</th>
                <th class="text-center">{{'labels.group.size' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let group of groups | search:(x?x:''):['name']">
                <td><a routerLink="/groups/{{group.id}}/students">{{group.name}}</a></td>
                <td>{{group.district}}</td>
                <td>{{group.school}}</td>
                <td>{{group.subject}}</td>
                <td class="text-center">{{group.size}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
