<div class="home-view container">
  <div class="row col-md-12">
    <div class="page-heading">
      <h2><i class="glyphicon glyphicon-home"></i> Home</h2>
    </div>
    <div class="col-md-9 card md overflow-hidden margin-right-20">

      <h3>Get started...</h3>
      <hr>
      <div class="col-md-6">
        <div>
          <i class="glyphicon glyphicon-chevron-right"></i> <a routerLink="/groups">My Groups</a>
        </div>
        <br/>
        <div>
          <i class="glyphicon glyphicon-chevron-right"></i> <a routerLink="/search">Student Search</a>
        </div>
        <br/>
        <div>
          <i class="glyphicon glyphicon-chevron-right"></i> <a routerLink="/groups">Link 3</a>
        </div>
        <br/>
        <div>
          <i class="glyphicon glyphicon-chevron-right"></i> <a routerLink="/groups">Link 4</a>
        </div>
      </div>
      <div class="col-md-6 text-right">
        <i class="glyphicon glyphicon-stats card-watermark"></i>
      </div>

    </div>
    <div class="col card md">
      <h3>Information</h3>
      <hr>
      <div>
        Let us help you do your job.
        If you're looking for this.  Try that.  This is useful because of that.
      </div>
      <br/>
      <div>
        <b>Did you know?</b> Does anyone actually read these?  I bet you didn't.
      </div>
    </div>
  </div>
  <div class="row col-md-12">
    <div class="card col">
      <div class="row">
        <div class="col-md-3">
          <label>Students:</label> <span class="color-light-green"><b>64</b></span>
        </div>
        <div class="col-md-3">
          <label>Mean:</label> <span class="color-light-green"><b>85%</b></span>
        </div>
        <div class="col-md-3">
          <label>Range:</label> <span class="color-light-green"><b>35-100%</b></span>
        </div>
        <div class="col-md-3">
          <label>Mode:</label> <span class="color-light-green"><b>73%</b></span>
        </div>
      </div>
    </div>
  </div>
</div>
