<div class="home-view">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div *ngIf="groups" class="card groups-card">
          <h2>Groups</h2>
          <div *ngIf="groups.length > 10" class="inner-addon left-addon search-box">
            <label class="sr-only" for="search">Search</label>
            <i class="glyphicon glyphicon-search"></i>
            <input class="search form-control" id="search" type="text" placeholder="Search" autocomplete="off">
          </div>
          <div class="groups list-group">
            <a *ngFor="let group of groups" class="group list-group-item" routerLink="/groups/{{group.id}}/students">
              {{group.name}} <span class="badge">{{group.size}}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--<div class="row">-->
<!--<div class="col-sm-6">-->
<!--<div *ngIf="groupAndStudentSummaries && groupAndStudentSummaries.groups" class="groups-view">-->
<!--<h3>My Groups</h3>-->
<!--<div class="groups list-group">-->
<!--<a *ngFor="let group of groupAndStudentSummaries.groups" class="group list-group-item">-->
<!--{{group.name}} <span class="badge">{{group.size}}</span>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-sm-6">-->
<!--<div *ngIf="groupAndStudentSummaries && groupAndStudentSummaries.students" class="student-view">-->
<!--<h3>My Students</h3>-->
<!--<div class="student list-group">-->
<!--<a *ngFor="let student of groupAndStudentSummaries.students" class="student list-group-item">-->
<!--{{student.lastName}}, {{student.firstName}} &nbsp;&nbsp;&nbsp;&nbsp; SSID: {{student.ssid}}-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
