<a
  class="card assessment-aggregate"
  href="javascript:void(0)"
  [ngClass]="{ selected: _latestExam.selected }"
  (click)="onClick()"
>
  <div class="check">
    <i class="fa fa-check"></i>
  </div>

  <div class="row">
    <div class="col-xs-4" [hidden]="!hasIcon">
      <div class="icon-wrapper">
        <assessment-icon
          [assessment]="_latestExam.assessment"
          (missingIcon)="hasIcon = !$event"
        ></assessment-icon>
      </div>
    </div>
    <div [ngClass]="hasIcon ? 'col-xs-8' : 'col-xs-12'">
      <div class="label" [ngClass]="_color">
        {{
          'common.assessment-grade-short-label.' + _latestExam.assessment.grade
            | translate
        }}
      </div>
      <div class="title">
        {{ _latestExam.assessment.label }}
      </div>
    </div>
  </div>
  <div class="date mt-sm">
    {{ _latestExam.exam.date | date }}
  </div>
  <div
    *ngIf="_level > 0"
    class="distribution mt-sm"
    [ngClass]="
      'subject.' +
        _latestExam.assessment.subject +
        '.asmt-type.' +
        _latestExam.assessment.type +
        '.level.' +
        _level +
        '.color' | translate
    "
  >
    {{
      'subject.' +
        _latestExam.assessment.subject +
        '.asmt-type.' +
        _latestExam.assessment.type +
        '.level.' +
        _level +
        '.name' | translate
    }}
  </div>
  <div *ngIf="!_level" class="distribution mt-sm gray-light">
    {{ 'common.unscored' | translate }}
  </div>
  <div class="result-count center-block mt-sm">
    {{
      (_resultCount == 1
        ? 'student-assessment-card.result'
        : 'student-assessment-card.results')
        | translate: { resultCount: _resultCount }
    }}
  </div>
</a>
