<sb-header [user]="user">
  <li class="navbar-link">
    <a href="{{user ? user.configuration.userGuideUrl : '#'}}" target="_blank">{{'labels.navigation.user-guide' | translate}}</a>
  </li>
  <li class="navbar-link">
    <a href="{{user ? user.configuration.interpretiveGuideUrl : '#'}}" target="_blank" style="margin-top:-24px">
      <small>{{'labels.homepage.welcome.interpretive-guide-subtitle' | translate}}</small><br>{{'labels.navigation.interpretive-guide' | translate}}
    </a>
  </li>
  <li class="navbar-link" *hasPermission="'GROUP_PII_READ'">
    <a routerLink="/reports">{{'labels.reports.link' | translate}}</a>
  </li>
</sb-header>

<div class="container">
  <router-outlet></router-outlet>
</div>

<sb-footer></sb-footer>

<app-notifications></app-notifications>

<loader></loader>
