<!-- Header -->
<header>
  <div class="container">
    <div class="well">
      <div class="well-body">
        <!-- Navbar -->
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">{{'messages.toggle-navigation' | translate}}</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-xs" href="/" title="{{'application.home' | translate}}"><img src="assets/image/SmarterBalanced-Logo.png" alt="{{'messages.organization' | translate}}"></a>
            <span class="application-title">{{'application.title' | translate}}</span>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="navbar-link"><a href="#">{{'labels.navigation.user-guide' | translate}}</a></li>
              <li class="navbar-link mt-sm">
                <div class="btn-group" dropdown>
                  <button type="button" dropdownToggle class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user-circle"></i> <span *ngIf="user">{{'welcome' | translate:user }}</span> <span class="caret"></span>
                  </button>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li *ngIf="userHasAccess" role="menuitem"><a class="dropdown-item" routerLink="groups/filterBy">{{ 'labels.groups.title' | translate }}</a></li>
                    <li role="menuitem">
                      <a class="dropdown-item" href="javascript:void(0)" onclick="window.document.logoutForm.submit()">{{'messages.logout' | translate}}</a>
                      <form name="logoutForm" method="post" action="/saml/logout" class="hidden"></form>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>

<div class="hidden">
  <h1>{{ 'HELLO' | translate }}</h1>
  <!-- todo: refactor to directive/component -->
  <select #languageSelect (change)="translate.use(languageSelect.value)">
    <option *ngFor="let language of translate.getLangs()" [value]="language" [selected]="language === translate.currentLang">
      {{ language }}
    </option>
  </select>
</div>

<!-- Breadcrumbs -->
<breadcrumbs></breadcrumbs>

<!-- Page View -->
<div class="page-view pt-md">
  <div class="container">
    <router-outlet></router-outlet>

    <div *ngIf="userHasAccess === false">
      <div class="alert alert-danger">
        {{ 'messages.no-access' | translate }}
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="mt-lg">
  <div class="container">
    <p class="text-right gray-darker">&copy; The Regents of the University of California &ndash; Smarter Balanced Assessment Consortium</p>
  </div>
</footer>

