<ng-container *ngIf="tree != null && tree.length === 0; else hasResults">
  {{ 'tenant-configuration-form.no-results' | translate }}
</ng-container>
<ng-template #hasResults>
  <ng-container [formGroup]="formGroup" nestableFormGroup #form="ngForm">
    <p-treeTable
      #table
      [value]="tree"
      dataKey="key"
      styleClass="table table-striped table-hover"
      [rowTrackBy]="rowTrackBy"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>
            {{ 'tenant-configuration-form.column.key.label' | translate }}
          </th>
          <th>
            {{ 'tenant-configuration-form.column.value.label' | translate }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-i="rowIndex">
        <ng-container *ngIf="rowNode.node as node">
          <ng-container *ngIf="node.data as data">
            <ng-container *ngIf="!node.leaf; else leafNode">
              <tr
                [ngClass]="{
                  leaf: node.leaf
                }"
                [ttRow]="rowNode"
                (click)="onRowClick(rowNode, $event)"
              >
                <td
                  [title]="data.key"
                  colspan="2"
                  [ngClass]="{ 'group-node': data.depth === 0 }"
                >
                  <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                  <ng-container *ngIf="data.depth === 0; else notRootNode">
                    {{
                      'tenant-configuration-form.group.' + data.segment
                        | translate
                    }}
                  </ng-container>
                  <ng-template #notRootNode>
                    {{ data.segment }}
                  </ng-template>
                </td>
              </tr>
            </ng-container>
            <ng-template #leafNode>
              <ng-container *ngIf="data.writable; else readonlyNode">
                <tr
                  [ttRow]="rowNode"
                  [ngClass]="{
                    leaf: node.leaf,
                    modified: modified(data),
                    required: showErrors(
                      formGroup.controls[data.key],
                      form.submitted
                    )
                  }"
                >
                  <td [title]="data.key">
                    <p-treeTableToggler
                      [rowNode]="rowNode"
                    ></p-treeTableToggler>
                    {{ data.segment }}
                  </td>
                  <td>
                    <div
                      class="form-group"
                      [ngClass]="{
                        'has-error': showErrors(
                          formGroup.controls[data.key],
                          form.submitted
                        )
                      }"
                    >
                      <ng-container [ngSwitch]="data.inputType">
                        <ng-container *ngSwitchCase="'input'">
                          <!-- switch on data type here -->
                          <ng-container
                            [ngSwitch]="data.configuration.dataType"
                          >
                            <ng-container *ngSwitchCase="'positive-integer'">
                              <input
                                type="text"
                                id="{{ data.key }}"
                                name="{{ data.key }}"
                                formControlName="{{ data.key }}"
                                placeholder="{{ data.originalValue }}"
                                class="form-control"
                                min="0"
                                step="1"
                              />
                            </ng-container>
                            <ng-container *ngSwitchCase="'positive-decimal'">
                              <input
                                type="text"
                                id="{{ data.key }}"
                                name="{{ data.key }}"
                                formControlName="{{ data.key }}"
                                placeholder="{{ data.originalValue }}"
                                class="form-control"
                                min="0"
                              />
                            </ng-container>
                            <ng-container *ngSwitchDefault>
                              <input
                                [type]="
                                  data.configuration.dataType === 'password' &&
                                  !data.showSecure
                                    ? 'password'
                                    : 'text'
                                "
                                id="{{ data.key }}"
                                name="{{ data.key }}"
                                formControlName="{{ data.key }}"
                                placeholder="{{ data.originalValue }}"
                                data-lpignore="true"
                                class="form-control"
                                [ngClass]="{
                                  'text-lowercase': data.configuration.lowercase
                                }"
                              />
                            </ng-container>
                          </ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'checkbox'">
                          <label for="{{ data.key }}">
                            <input
                              type="checkbox"
                              id="{{ data.key }}"
                              name="{{ data.key }}"
                              formControlName="{{ data.key }}"
                            />
                            <span>
                              {{
                                'tenant-configuration-form.boolean.' +
                                  formGroup.value[data.key] | translate
                              }}
                            </span>
                          </label>
                        </ng-container>
                        <ng-container *ngSwitchCase="'select'">
                          <select
                            id="{{ data.key }}"
                            name="{{ data.key }}"
                            formControlName="{{ data.key }}"
                            class="form-control"
                            [compareWith]="data.configuration.equals"
                          >
                            <option
                              *ngFor="let option of data.options"
                              [ngValue]="option.value"
                            >
                              {{ option.label }}
                            </option>
                          </select>
                        </ng-container>
                        <ng-container *ngSwitchCase="'multiselect'">
                          <!-- todo switch to typeahead based on amount of options -->
                          <p-multiSelect
                            tabindex="0"
                            inputId="{{ data.key }}"
                            name="{{ data.key }}"
                            formControlName="{{ data.key }}"
                            [options]="data.options"
                            appendTo="body"
                            defaultLabel="None"
                            [showHeader]="false"
                            [maxSelectedLabels]="5"
                          ></p-multiSelect>
                        </ng-container>
                      </ng-container>

                      <div class="input-controls">
                        <a
                          *ngIf="showPasswordToggle(data)"
                          href="javascript:void(0)"
                          (click)="data.showSecure = !data.showSecure"
                        >
                          <i
                            class="fa fa-md"
                            [ngClass]="{
                              'fa-eye-slash': data.showSecure,
                              'fa-eye': !data.showSecure
                            }"
                          ></i>
                        </a>
                        <a
                          *ngIf="modified(data)"
                          href="javascript:void(0)"
                          (click)="onResetButtonClick(data)"
                          popover="{{
                            'tenant-configuration-form.popover.reset'
                              | translate
                          }}"
                          container="body"
                          triggers="mouseenter:mouseleave"
                        >
                          <i class="fa fa-undo fa-md"></i>
                        </a>
                        <a
                          *ngIf="data.configuration.required"
                          href="javascript:void(0)"
                          popover="{{
                            (data.configuration.dataType === 'password'
                              ? 'tenant-configuration-form.popover.password'
                              : 'tenant-configuration-form.popover.required')
                              | translate
                          }}"
                          container="body"
                          triggers="mouseenter:mouseleave"
                        >
                          <i class="fa fa-asterisk fa-md"></i>
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-container>
              <ng-template #readonlyNode>
                <tr
                  [ttRow]="rowNode"
                  [ngClass]="{
                    leaf: node.leaf,
                    modified: modified(data)
                  }"
                >
                  <td [title]="data.key">
                    <p-treeTableToggler
                      [rowNode]="rowNode"
                    ></p-treeTableToggler>
                    {{ data.segment }}
                  </td>
                  <td>
                    <span>{{ readonlyValue(data) }}</span>
                  </td>
                </tr>
              </ng-template>
            </ng-template>
          </ng-container>
        </ng-container>
      </ng-template>
    </p-treeTable>
  </ng-container>
</ng-template>
