<!-- TODO extract -->
<div class="controls">
  <input
    id="search"
    name="search"
    type="text"
    placeholder="{{
      'tenant-form.field.configurationOverrides.control.search.placeholder'
        | translate
    }}"
    class="form-control"
    (input)="table.filterGlobal($event.target.value, 'contains')"
  />

  <label>
    <input
      id="required"
      name="required"
      type="checkbox"
      [(ngModel)]="required"
    />
    {{
      'tenant-form.field.configurationOverrides.control.required.label'
        | translate
    }}
  </label>

  <label>
    <input
      id="modified"
      name="modified"
      type="checkbox"
      [(ngModel)]="modified"
    />
    {{
      'tenant-form.field.configurationOverrides.control.modified.label'
        | translate
    }}
  </label>
</div>

<div [formGroup]="form">
  <div [formArrayName]="propertiesArrayName">
    <p-treeTable
      #table
      [value]="configurationPropertiesTreeNodes"
      dataKey="key"
      [globalFilterFields]="['key', 'value']"
      styleClass="table table-striped table-hover"
      [rowTrackBy]="rowTrackBy"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>
            {{
              'tenant-configuration-override-form.column.key.label' | translate
            }}
          </th>
          <th>
            {{
              'tenant-configuration-override-form.column.value.label'
                | translate
            }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-i="rowIndex">
        <ng-container *ngIf="rowNode.node as node">
          <ng-container *ngIf="node.data as data">
            <ng-container *ngIf="!node.leaf; else leafNode">
              <tr
                [ngClass]="{
                  leaf: node.leaf
                }"
                [hidden]="
                  (modified && !hasModifiedDescendant(node)) ||
                  (required && !hasRequiredDescendant(node))
                "
                [ttRow]="rowNode"
                (click)="onRowClick(rowNode, $event)"
              >
                <td
                  [title]="data.key"
                  colspan="2"
                  [ngClass]="{ 'group-node': data.groupNode }"
                >
                  <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                  <ng-container *ngIf="data.groupNode; else notGroupNode">
                    {{
                      'tenant-configuration-override-form.group.' + data.key
                        | translate
                    }}
                  </ng-container>
                  <ng-template #notGroupNode>
                    {{ data.key }}
                  </ng-template>
                </td>
              </tr>
            </ng-container>
            <ng-template #leafNode>
              <ng-container *ngIf="data.readonly; else writableNode">
                <tr
                  [hidden]="
                    (modified && data.originalValue === data.value) ||
                    (required && !data.required)
                  "
                  [ttRow]="rowNode"
                  [ngClass]="{
                    leaf: node.leaf,
                    modified: data.value !== data.originalValue
                  }"
                >
                  <td [title]="data.key">
                    <p-treeTableToggler
                      [rowNode]="rowNode"
                    ></p-treeTableToggler>
                    {{ data.key }}
                  </td>
                  <td>{{ data.value }}</td>
                </tr>
              </ng-container>
              <ng-template #writableNode>
                <tr
                  [hidden]="
                    (modified && data.originalValue === data.value) ||
                    (required && !data.required)
                  "
                  [ttRow]="rowNode"
                  [ngClass]="{
                    leaf: node.leaf,
                    modified: data.modified,
                    required:
                      form.get(propertiesArrayName) != null &&
                      form.get(propertiesArrayName).get(data.formControlName) !=
                        null &&
                      showErrors(
                        form.get(propertiesArrayName).get(data.formControlName)
                      )
                  }"
                >
                  <td [title]="data.key">
                    <p-treeTableToggler
                      [rowNode]="rowNode"
                    ></p-treeTableToggler>
                    {{ data.key }}
                  </td>
                  <td>
                    <input
                      #overrideInput
                      [type]="
                        data.secure && !data.showSecure ? 'password' : 'text'
                      "
                      data-lpignore="true"
                      [value]="data.value"
                      [formControlName]="data.formControlName"
                      (change)="updateOverride(data)"
                      class="property-input"
                      [ngClass]="{ 'text-lowercase': data.lowercase }"
                    />
                    <div class="icon-container">
                      <a
                        *ngIf="data.value !== data.originalValue"
                        (click)="onResetButtonClick(data)"
                        popover="{{
                          'tenant-configuration-override-form.popover.reset'
                            | translate
                        }}"
                        placement="left"
                        container="body"
                        triggers="mouseenter:mouseleave"
                      >
                        <i class="fa fa-undo fa-md"></i>
                      </a>
                      <a
                        *ngIf="data.secure"
                        (click)="data.showSecure = !data.showSecure"
                      >
                        <i
                          class="fa fa-md"
                          [ngClass]="{
                            'fa-eye-slash': data.showSecure,
                            'fa-eye': !data.showSecure
                          }"
                        ></i>
                      </a>
                      <a
                        *ngIf="data.encrypted"
                        (click)="onDecryptButtonClick(data)"
                        popover="{{
                          'tenant-configuration-override-form.popover.decrypt'
                            | translate
                        }}"
                        placement="left"
                        container="body"
                        triggers="mouseenter:mouseleave"
                      >
                        <i class="fa fa-unlock fa-md"></i>
                      </a>
                      <a
                        *ngIf="data.required"
                        href="javascript:void(0)"
                        popover="{{
                          data.key.endsWith('password')
                            ? ('tenant-configuration-override-form.popover.password'
                              | translate)
                            : null
                        }}"
                        placement="left"
                        container="body"
                        triggers="mouseenter:mouseleave"
                      >
                        <i class="fa fa-asterisk fa-md"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </ng-template>
          </ng-container>
        </ng-container>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="2">
            {{ 'tenant-configuration-override-form.no-results' | translate }}
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
</div>
