<ng-container *ngIf="tree != null && tree.length === 0; else hasResults">
  {{ 'tenant-configuration-form.no-results' | translate }}
</ng-container>
<ng-template #hasResults>
  <ng-container [formGroup]="formGroup" nestedFormGroup #form="ngForm">
    <p-treeTable
      #table
      [value]="tree"
      dataKey="key"
      [globalFilterFields]="['key', 'value']"
      styleClass="table table-striped table-hover"
      [rowTrackBy]="rowTrackBy"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>
            {{ 'tenant-configuration-form.column.key.label' | translate }}
          </th>
          <th>
            {{ 'tenant-configuration-form.column.value.label' | translate }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-i="rowIndex">
        <ng-container *ngIf="rowNode.node as node">
          <ng-container *ngIf="node.data as data">
            <ng-container *ngIf="!node.leaf; else leafNode">
              <tr
                [ngClass]="{
                  leaf: node.leaf
                }"
                [ttRow]="rowNode"
                (click)="onRowClick(rowNode, $event)"
              >
                <td
                  [title]="data.key"
                  colspan="2"
                  [ngClass]="{ 'group-node': data.depth === 0 }"
                >
                  <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                  <ng-container *ngIf="data.depth === 0; else notRootNode">
                    {{
                      'tenant-configuration-form.group.' + data.segment
                        | translate
                    }}
                  </ng-container>
                  <ng-template #notRootNode>
                    {{ data.segment }}
                  </ng-template>
                </td>
              </tr>
            </ng-container>
            <ng-template #leafNode>
              <ng-container *ngIf="data.readonly; else writableNode">
                <tr
                  [ttRow]="rowNode"
                  [ngClass]="{
                    leaf: node.leaf,
                    modified: data.defaultValue !== formGroup.value[data.key]
                  }"
                >
                  <td [title]="data.key">
                    <p-treeTableToggler
                      [rowNode]="rowNode"
                    ></p-treeTableToggler>
                    {{ data.segment }}
                  </td>
                  <td>{{ data.value }}</td>
                </tr>
              </ng-container>
              <ng-template #writableNode>
                <tr
                  [ttRow]="rowNode"
                  [ngClass]="{
                    leaf: node.leaf,
                    modified: data.defaultValue !== formGroup.value[data.key],
                    required: showErrors(
                      formGroup.controls[data.key],
                      form.submitted
                    )
                  }"
                >
                  <td [title]="data.key">
                    <p-treeTableToggler
                      [rowNode]="rowNode"
                    ></p-treeTableToggler>
                    {{ data.segment }}
                  </td>
                  <td>
                    <div
                      class="form-group"
                      [ngClass]="{
                        'has-error': showErrors(
                          formGroup.controls[data.key],
                          form.submitted
                        )
                      }"
                    >
                      <input
                        [type]="
                          data.password && !data.showSecure
                            ? 'password'
                            : 'text'
                        "
                        [formControlName]="data.key"
                        data-lpignore="true"
                        class="form-control"
                        [ngClass]="{ 'text-lowercase': data.lowercase }"
                      />
                      <div class="icon-container">
                        <a
                          *ngIf="
                            data.defaultValue !== formGroup.value[data.key]
                          "
                          href="javascript:void(0)"
                          (click)="onResetButtonClick(data)"
                          popover="{{
                            'tenant-configuration-form.popover.reset'
                              | translate
                          }}"
                          placement="left"
                          container="body"
                          triggers="mouseenter:mouseleave"
                        >
                          <i class="fa fa-undo fa-md"></i>
                        </a>
                        <a
                          *ngIf="data.password"
                          href="javascript:void(0)"
                          (click)="data.showSecure = !data.showSecure"
                        >
                          <i
                            class="fa fa-md"
                            [ngClass]="{
                              'fa-eye-slash': data.showSecure,
                              'fa-eye': !data.showSecure
                            }"
                          ></i>
                        </a>
                        <a
                          *ngIf="data.required"
                          href="javascript:void(0)"
                          popover="{{
                            data.password
                              ? ('tenant-configuration-form.popover.password'
                                | translate)
                              : null
                          }}"
                          placement="left"
                          container="body"
                          triggers="mouseenter:mouseleave"
                        >
                          <i class="fa fa-asterisk fa-md"></i>
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </ng-template>
          </ng-container>
        </ng-container>
      </ng-template>
    </p-treeTable>
  </ng-container>
</ng-template>
